Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

🔧 chore(ci): optimize docker-all-in-one workflow performance and caching
  .github/workflows/docker-all-in-one.yml
Owners: @rootfs, @Xunzhuo

feat: add upstream request span and trace context propagation for distributed tracing
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/observability/tracing/tracing_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

refactor: remove unused MappingPath from FactCheckModelConfig
  bench/hallucination/config-7b.yaml
  bench/hallucination/config.yaml
  config/prompt-guard/prompt_guard.yaml
  config/semantic-cache/config.redis.yaml
  config/testing/config.hallucination.yaml
  src/semantic-router/pkg/classification/fact_check_classifier.go
  src/semantic-router/pkg/classification/hallucination_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/helper.go
Owners: @yuezhu1, @Xunzhuo, @rootfs, @wangchen615

fix: StatefulSet readiness detection and add Dynamo demo video
  deploy/kubernetes/dynamo/dynamo-resources/README.md
  e2e/profiles/dynamo/profile.go
Owners: @rootfs, @Xunzhuo

🔧 chore(docker-stack): change code name from all-in-one to stack.
  .github/workflows/docker-stack.yml
  Dockerfile.stack
  deploy/stack/README.md
  deploy/stack/config.stack.yaml
  deploy/stack/entrypoint-stack.sh
  deploy/stack/envoy.template.yaml
  deploy/stack/grafana-dashboard.yaml
  deploy/stack/grafana-datasource.yaml
  deploy/stack/prometheus.yaml
  deploy/stack/supervisord.stack.conf
  deploy/stack/vllm_semantic_router_pipe.py
Owners: @rootfs, @Xunzhuo

Fix Domain Classifier Returns Empty or Wrong Classifications
  deploy/helm/semantic-router/values.yaml
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/dynamic-config/profile.go
  e2e/profiles/dynamic-config/values.yaml
  e2e/profiles/llm-d/values.yaml
  e2e/profiles/production-stack/values.yaml
  e2e/profiles/routing-strategies/values.yaml
  e2e/testcases/decision_fallback.go
  e2e/testcases/plugin_config_variations.go
  e2e/testcases/testdata/decision_fallback_cases.json
  e2e/testcases/testdata/domain_classify_cases.json
  e2e/testcases/testdata/plugin_config_cases.json
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/mapping.go
  src/semantic-router/pkg/classification/mcp_classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_pii.go
  src/semantic-router/pkg/utils/http/response.go
  src/semantic-router/pkg/utils/http/response_test.go
  src/training/classifier_model_fine_tuning/ft_linear.py
Owners: @rootfs, @Xunzhuo, @wangchen615

Fix Playground tab to use backend proxy route instead of direct URL
  dashboard/backend/handlers/static.go
  dashboard/backend/proxy/proxy.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/pages/PlaygroundPage.tsx
  dashboard/frontend/src/vite-env.d.ts
Owners: @rootfs, @Xunzhuo

🔧 chore(ci): disable arm64 build in docker-stack workflow due to buildx limitations
  .github/workflows/docker-stack.yml
Owners: @rootfs, @Xunzhuo

feat: Add dashboard checks and CI workflow
  .github/workflows/dashboard-test.yml
  Makefile
  dashboard/backend/handlers/config.go
  dashboard/backend/handlers/health.go
  dashboard/backend/router/router.go
  dashboard/frontend/eslint.config.js
  dashboard/frontend/package-lock.json
  dashboard/frontend/package.json
  tools/make/dashboard.mk
Owners: @rootfs, @Xunzhuo

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Owners: @rootfs, @Xunzhuo

feat(hf-playground): replace dissatisfaction models with new feedback and tool call models
  tools/hf-playground/app.py
Owners: @rootfs, @Xunzhuo

fix(hf-playground): correct label mappings for feedback-detector model
  tools/hf-playground/app.py
Owners: @rootfs, @Xunzhuo

feat(hf-playground): add support for simple token classification
  tools/hf-playground/app.py
Owners: @rootfs, @Xunzhuo

feat(hf-playground): implement proper toolcall-verifier support
  tools/hf-playground/app.py
Owners: @rootfs, @Xunzhuo

fix: refactor documentation and improve clarity across multiple doc files
  candle-binding/README.md
  deploy/kubernetes/istio/README.md
  deploy/kubernetes/llmd-base/README.md
  deploy/kubernetes/llmd-base/llmd+public-llm/README.md
  deploy/openshift/README-DYNAMIC-IPS.md
  e2e-tests/hallucination-demo/README.md
  examples/candle-binding/README.md
  examples/mcp-classifier-server/README.md
  perf/testdata/examples/README.md
  src/training/dual_classifier/DUAL_CLASSIFIER_SYSTEM_TEST_SUMMARY.md
  website/README.md
  website/blog/2025-10-20-q4-roadmap-iris.md
  website/docs/api/classification.md
  website/docs/installation/k8s/gateway-api-inference-extension.md
  website/docs/overview/categories/overview.md
  website/docs/overview/semantic-router-overview.md
  website/docs/tutorials/intelligent-route/domain-routing.md
  website/docs/tutorials/intelligent-route/embedding-routing.md
  website/docs/tutorials/intelligent-route/keyword-routing.md
  website/docs/tutorials/intelligent-route/lora-routing.md
  website/docs/tutorials/intelligent-route/mcp-routing.md
  website/docs/tutorials/observability/overview.md
  website/docs/tutorials/semantic-cache/in-memory-cache.md
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: resolve variable shadowing lint errors in tool selection tests
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/req_filter_tools_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: update test expectation to match corrected BERT model ID
  src/semantic-router/pkg/extproc/extproc_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: recreate router after modifying similarity threshold in tests
  src/semantic-router/pkg/extproc/req_filter_tools_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: use correct BERT model ID in test config to match initialization
  src/semantic-router/pkg/extproc/extproc_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Created comprehensive test coverage in req_filter_tools_test.go with 27 test cases covering
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/req_filter_tools_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix(cli): resolve CLI test failures and CGO dependency issues
  src/semantic-router/cmd/vsr/commands/completion.go
  src/semantic-router/cmd/vsr/commands/config_test.go
  src/semantic-router/cmd/vsr/commands/debug.go
  src/semantic-router/cmd/vsr/commands/model.go
  src/semantic-router/cmd/vsr/commands/model_test.go
  src/semantic-router/cmd/vsr/commands/signal_handling_test.go
  tools/make/build-run-test.mk
Owners: @rootfs, @Xunzhuo, @wangchen615

ci(e2e): add per-profile e2e change detection and separate integration test triggers
  .github/workflows/ci-changes.yml
  .github/workflows/integration-test-dynamic-config.yml
  .github/workflows/integration-test-k8s.yml
Owners: @rootfs, @Xunzhuo

fix(e2e): wait for Istio sidecar injector webhook before deploying pods
  e2e/profiles/istio/profile.go
Owners: @rootfs, @Xunzhuo

🔧 chore(ci): remove paths-ignore in integration test workflow
  .github/workflows/integration-test-dynamic-config.yml
Owners: @rootfs, @Xunzhuo

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Owners: @rootfs, @Xunzhuo

🔧 chore(ci): improve GitHub workflows for setup reliability and consistency
  .github/workflows/integration-test-dynamic-config.yml
  .github/workflows/integration-test-k8s.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test-and-build.yml
Owners: @rootfs, @Xunzhuo

fix: enable kv cache for frontend in disaggregated router deployment and adding more categories to classifier
  deploy/kubernetes/dynamo/dynamo-resources/README.md
  deploy/kubernetes/dynamo/dynamo-resources/dynamo-graph-deployment.yaml
  deploy/kubernetes/dynamo/semantic-router-values/values.yaml
  deploy/kubernetes/dynamo/semantic-router/config.yaml
  e2e/profiles/dynamo/profile.go
  e2e/testcases/dynamo_category_classification.go
Owners: @rootfs, @Xunzhuo

fix(e2e): fix keyword routing E2E test accuracy
  e2e/profiles/routing-strategies/values.yaml
  e2e/testcases/rule_condition_logic.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/keyword_classifier.go
  src/semantic-router/pkg/decision/engine.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/headers/headers.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix(classification): resolve keyword matching failures in E2E tests (#713)
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_pii.go
  src/semantic-router/pkg/utils/http/response.go
  src/semantic-router/pkg/utils/http/response_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix(e2e): update AND operator partial match test expectations
  e2e/testcases/testdata/keyword_routing_cases.json
Owners: @rootfs, @Xunzhuo

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Owners: @rootfs, @Xunzhuo

🔧 chore(build-cli): conditional rust build for build-cli.
  tools/make/build-run-test.mk
Owners: @rootfs, @Xunzhuo

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Owners: @rootfs, @Xunzhuo

test(response-api): add E2E translation tests for Response API
  src/semantic-router/pkg/extproc/extproc_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

ci(e2e): add Response API K8s integration test workflow
  .github/workflows/ci-changes.yml
  .github/workflows/integration-test-response-api.yml
Owners: @rootfs, @Xunzhuo

fix test cases
  src/semantic-router/pkg/extproc/extproc_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Owners: @rootfs, @Xunzhuo

extract C float-array conversion helper and deduplicate
  candle-binding/semantic-router.go
Owners: @rootfs, @Xunzhuo

Fix dashboard Playground OpenWebUI embed: iframe /workspace, proxy /workspace+/auth, and route OpenWebUI /api/v1
  dashboard/backend/router/router.go
  dashboard/frontend/src/pages/PlaygroundPage.tsx
Owners: @rootfs, @Xunzhuo

fix: downgrade ignoreDeprecations option in TypeScript configuration to 5.0 and fix baseUrl lint
  dashboard/frontend/tsconfig.json
Owners: @rootfs, @Xunzhuo

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo
