Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo

document qwen3 guard example in README
  candle-binding/semantic-router_test.go
  examples/candle-binding/README.md
  examples/candle-binding/qwen3_guard_example.go
Owners: @rootfs, @Xunzhuo

clean up cargo.toml
  candle-binding/Cargo.toml
Owners: @rootfs, @Xunzhuo

enable prefix cachen
  candle-binding/src/model_architectures/generative/qwen3_guard.rs
  candle-binding/src/model_architectures/generative/qwen3_with_lora.rs
  candle-binding/src/model_architectures/mod.rs
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

add prefix cache file
  candle-binding/src/model_architectures/prefix_cache.rs
Owners: @rootfs, @Xunzhuo

add vllm semantic router + milvus blog
  website/blog/2025-10-30-milvus.md
  website/static/img/docker-compose-up.png
  website/static/img/docker-compose.png
  website/static/img/download-models.png
  website/static/img/mixture-of-models.png
  website/static/img/semantic-caching-challenge.png
  website/static/img/semantic-routing-layer.png
  website/static/img/traditional-caching.png
Owners: @Xunzhuo

docs: update architecture and add req flow
  README.md
  website/static/img/architecture.png
  website/static/img/flow.png
  website/static/img/mom-overview.png
Owners: @rootfs, @Xunzhuo

add wikipedia_data to .gitignore
  .gitignore
Owners: @rootfs, @Xunzhuo

feat: add embedding benchmark and implement continuous batching
  README.md
  candle-binding/Cargo.toml
  candle-binding/examples/embedding_benchmark.rs
  candle-binding/src/model_architectures/embedding/continuous_batch_scheduler.rs
  candle-binding/src/model_architectures/embedding/mod.rs
  candle-binding/src/model_architectures/embedding/qwen3_batched.rs
Owners: @rootfs, @Xunzhuo

add embedding examples
  examples/candle-binding/README.md
  examples/candle-binding/qwen3_embedding_benchmark.go
  examples/candle-binding/qwen3_embedding_example.go
Owners: @rootfs, @Xunzhuo

WIP: kserve functionality
  deploy/kserve/README.md
  deploy/kserve/configmap-envoy-config.yaml
  deploy/kserve/configmap-router-config.yaml
  deploy/kserve/deployment.yaml
  deploy/kserve/example-multi-model-config.yaml
  deploy/kserve/inference-examples/README.md
  deploy/kserve/inference-examples/inferenceservice-granite32-8b.yaml
  deploy/kserve/inference-examples/servingruntime-granite32-8b.yaml
  deploy/kserve/kustomization.yaml
  deploy/kserve/pvc.yaml
  deploy/kserve/route.yaml
  deploy/kserve/service.yaml
  deploy/kserve/serviceaccount.yaml
  deploy/kserve/test-semantic-routing.sh
Owners: @rootfs, @Xunzhuo

fix of lint
  deploy/kserve/README.md
Owners: @rootfs, @Xunzhuo

fead: Implement In-Tree Embedding Similarity Matching
  src/semantic-router/pkg/api/server.go
Owners: @rootfs, @Xunzhuo, @wangchen615

webiste: add scroll top btn (#535)
  website/src/components/ScrollToTop/index.tsx
  website/src/components/ScrollToTop/styles.module.css
  website/src/theme/Root.tsx
Owners: @Xunzhuo

fix: fix helm
  tools/make/helm.mk
Owners: @rootfs, @Xunzhuo

fix make command warning
  tools/make/envs.mk
  tools/make/linter.mk
Owners: @rootfs, @Xunzhuo

fix README
  README.md
Owners: @rootfs, @Xunzhuo

install shellcheck to fix pre-commit error
  .github/workflows/pre-commit.yml
  tools/make/linter.mk
Owners: @rootfs, @Xunzhuo

no skip in CI of shellcheck
  tools/make/pre-commit.mk
Owners: @rootfs, @Xunzhuo

fix compatibility
  tools/make/linter.mk
Owners: @rootfs, @Xunzhuo

fix quickstart pre-commit error
  scripts/quickstart.sh
Owners: @rootfs, @Xunzhuo

docs: fix the display of the mobile menu.
  website/src/components/ScrollToTop/styles.module.css
Owners: @Xunzhuo

refactor(config): reorganize configuration structure with hierarchical grouping
  src/semantic-router/cmd/main.go
  src/semantic-router/go.mod
  src/semantic-router/go.sum
  src/semantic-router/pkg/apiserver/route_model_info.go
  src/semantic-router/pkg/apiserver/server.go
  src/semantic-router/pkg/apiserver/server_test.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/classification/mcp_classifier.go
  src/semantic-router/pkg/config/api.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/config/loader.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/services/classification.go
Owners: @rootfs, @Xunzhuo, @wangchen615

lint
  src/semantic-router/pkg/config/config_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

lint
  tools/linter/go/.golangci.yml
Owners: @rootfs, @Xunzhuo

removal of spellcheck errs
  deploy/kserve/test-semantic-routing.sh
  website/package-lock.json
Owners: @rootfs, @Xunzhuo

Quick Fix for building on non-cuda platforms without nvcc.
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

refactor(config): restructure config to use nested model objects
  src/semantic-router/pkg/apiserver/route_model_info.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/mcp_classifier.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/services/classification.go
Owners: @rootfs, @Xunzhuo, @wangchen615

paper: Category-Aware Semantic Caching for Heterogeneous LLM Workloads
  README.md
  website/src/pages/publications.js
Owners: @rootfs, @Xunzhuo

test
  src/semantic-router/pkg/classification/classifier_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

more
  README.md
Owners: @rootfs, @Xunzhuo

fix document
  website/blog/2025-10-30-milvus.md
  website/blog/authors.yml
  website/static/img/team/yinmin.jpg
Owners: @Xunzhuo

fix name
  website/blog/authors.yml
Owners: @Xunzhuo

fix name1
  website/blog/authors.yml
Owners: @Xunzhuo

delete image
  website/blog/2025-10-30-milvus.md
Owners: @Xunzhuo

feat(router): add intent-aware LoRA routing support
  README.md
  config/intelligent-routing/in-tree/lora_routing_example.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/validator.go
  website/docs/overview/categories/configuration.md
Owners: @rootfs, @Xunzhuo, @wangchen615

docs(tutorial): add minimal LoRA routing guide
  config/intelligent-routing/in-tree/lora_routing.yaml
  website/docs/tutorials/intelligent-route/lora-routing.md
Owners: @rootfs, @Xunzhuo

docs(tutorial): add minimal LoRA routing guide
  website/sidebars.ts
Owners: @Xunzhuo

docs(sidebar): add hybrid-cache tutorial to navigation
  website/sidebars.ts
Owners: @Xunzhuo

fix(docs): correct broken link in lora-routing tutorial
  website/docs/tutorials/intelligent-route/lora-routing.md
Owners: @Xunzhuo

lint
  website/docs/tutorials/intelligent-route/lora-routing.md
Owners: @Xunzhuo
