Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

more
  src/semantic-router/pkg/api/server_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

more
  website/docs/installation/configuration.md
  website/docs/installation/installation.md
  website/docs/training/model-performance-eval.md
  website/docs/tutorials/content-safety/pii-detection.md
  website/docs/tutorials/intelligent-route/reasoning.md
Owners: @Xunzhuo

ut: add test for tls file
  src/OWNER
  src/semantic-router/pkg/utils/tls/tls_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

add ALERT training and filtering wiki training, limit wiki tree recursion
  src/training/multitask_alert_filtered_wiki_classifier_training.py
Owners: @rootfs, @Xunzhuo, @wangchen615

added comments about changes to make
  config/config.yaml
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

refactor(config): remove models field from vLLM endpoints (#413)
  config/config-mcp-classifier-example.yaml
  config/config.development.yaml
  config/config.e2e.yaml
  config/config.production.yaml
  config/config.recipe-accuracy.yaml
  config/config.recipe-latency.yaml
  config/config.recipe-token-efficiency.yaml
  config/config.testing.yaml
  config/config.yaml
  config/examples/system_prompt_example.yaml
  dashboard/frontend/src/pages/ConfigPage.tsx
  deploy/kubernetes/config.yaml
  deploy/kubernetes/istio/config.yaml
  deploy/openshift/config-openshift.yaml
  src/semantic-router/pkg/api/server_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/validation_test.go
  src/semantic-router/pkg/extproc/endpoint_selection_test.go
  src/semantic-router/pkg/extproc/models_endpoint_test.go
  src/semantic-router/pkg/extproc/test_utils_test.go
  website/docs/installation/configuration.md
  website/docs/installation/installation.md
  website/docs/training/model-performance-eval.md
  website/docs/tutorials/content-safety/pii-detection.md
  website/docs/tutorials/intelligent-route/reasoning.md
Owners: @rootfs, @Xunzhuo, @wangchen615

feat: enrich open webui chain of thought (#379)
  tools/openwebui-pipe/vllm-sr-cot.md
  tools/openwebui-pipe/vllm_semantic_router_pipe.py
Owners: @rootfs, @Xunzhuo

feat: add design spec for additional prompt classification (#358)
  docs/design/additional-prompt-classification-routing.md
Owners: @rootfs, @Xunzhuo

feat(Istio): integrate with Istio gateway via extproc (#229)
  deploy/kubernetes/istio/README.md
  deploy/kubernetes/istio/config.yaml
  deploy/kubernetes/istio/destinationrule.yaml
  deploy/kubernetes/istio/envoyfilter.yaml
  deploy/kubernetes/istio/httproute-llama3-8b.yaml
  deploy/kubernetes/istio/httproute-phi4-mini.yaml
  deploy/kubernetes/istio/kustomization.yaml
  deploy/kubernetes/istio/tools_db.json
  deploy/kubernetes/istio/vLlama3.yaml
  deploy/kubernetes/istio/vPhi4.yaml
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat: refactor observability configs for Compose and add for Local (#351)
  Makefile
  config/grafana/dashboards.yaml
  config/grafana/datasource.yaml
  config/prometheus.yaml
  docker-compose.obs.yml
  docker-compose.yml
  tools/make/common.mk
  tools/make/observability.mk
  tools/observability/README.md
  tools/observability/grafana-dashboard.yaml
  tools/observability/grafana-datasource.yaml
  tools/observability/llm-router-dashboard.json
  tools/observability/prometheus.yaml
  tools/observability/scripts/start-observability.sh
  tools/observability/scripts/stop-observability.sh
  website/docs/tutorials/observability/observability.md
Owners: @rootfs, @Xunzhuo

fix: resolve semantic cache hit streaming response format issue (#378)
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/utils/http/response.go
  src/semantic-router/pkg/utils/http/response_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat: Modern Dashboard MVP (#388)
  .gitignore
  Dockerfile.extproc
  dashboard/.dockerignore
  dashboard/README.md
  dashboard/backend/.gitkeep
  dashboard/backend/Dockerfile
  dashboard/backend/go.mod
  dashboard/backend/go.sum
  dashboard/backend/main.go
  dashboard/deploy/kubernetes/.gitkeep
  dashboard/deploy/kubernetes/deployment.yaml
  dashboard/deploy/local/.gitkeep
  dashboard/frontend/index.html
  dashboard/frontend/package-lock.json
  dashboard/frontend/package.json
  dashboard/frontend/public/vllm.png
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/ConfigNav.module.css
  dashboard/frontend/src/components/ConfigNav.tsx
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/index.css
  dashboard/frontend/src/main.tsx
  dashboard/frontend/src/pages/ConfigPage.module.css
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/MonitoringPage.module.css
  dashboard/frontend/src/pages/MonitoringPage.tsx
  dashboard/frontend/src/pages/PlaygroundPage.module.css
  dashboard/frontend/src/pages/PlaygroundPage.tsx
  dashboard/frontend/src/vite-env.d.ts
  dashboard/frontend/tsconfig.json
  dashboard/frontend/tsconfig.node.json
  dashboard/frontend/vite.config.ts
  deploy/docker-compose/docker-compose.yml
  tools/make/linter.mk
  tools/openwebui-pipe/vllm_semantic_router_pipe.py
Owners: @rootfs, @Xunzhuo

fix: keep memory cache metrics accurate (#372)
  src/semantic-router/go.mod
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat: add out-of-tree and mcp based classification support (#375)
  config/config-mcp-classifier-example.yaml
  examples/mcp-classifier-server/README.md
  examples/mcp-classifier-server/requirements.txt
  examples/mcp-classifier-server/server.py
  src/semantic-router/go.mod
  src/semantic-router/go.sum
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/validation_test.go
  src/semantic-router/pkg/connectivity/mcp/api/types.go
  src/semantic-router/pkg/connectivity/mcp/factory.go
  src/semantic-router/pkg/connectivity/mcp/http_client.go
  src/semantic-router/pkg/connectivity/mcp/interface.go
  src/semantic-router/pkg/connectivity/mcp/stdio_client.go
  src/semantic-router/pkg/connectivity/mcp/types.go
  src/semantic-router/pkg/extproc/test_utils_test.go
  src/semantic-router/pkg/services/classification.go
  src/semantic-router/pkg/utils/classification/classifier.go
  src/semantic-router/pkg/utils/classification/mcp_classifier.go
  src/semantic-router/pkg/utils/classification/mcp_classifier_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Openshift observability (#381)
  deploy/openshift/config-openshift.yaml
  deploy/openshift/demo-routing-test.sh
  deploy/openshift/deploy-to-openshift.sh
  deploy/openshift/observability/README.md
  deploy/openshift/observability/grafana/configmap-dashboard.yaml
  deploy/openshift/observability/grafana/configmap-datasource.yaml
  deploy/openshift/observability/grafana/configmap-provisioning.yaml
  deploy/openshift/observability/grafana/deployment.yaml
  deploy/openshift/observability/grafana/pvc.yaml
  deploy/openshift/observability/grafana/route.yaml
  deploy/openshift/observability/grafana/secret.yaml
  deploy/openshift/observability/grafana/service.yaml
  deploy/openshift/observability/kustomization.yaml
  deploy/openshift/observability/prometheus/configmap.yaml
  deploy/openshift/observability/prometheus/deployment.yaml
  deploy/openshift/observability/prometheus/pvc.yaml
  deploy/openshift/observability/prometheus/rbac.yaml
  deploy/openshift/observability/prometheus/route.yaml
  deploy/openshift/observability/prometheus/service.yaml
Owners: @rootfs, @Xunzhuo

feat: add auto to online demo (#400)
  dashboard/frontend/src/pages/LandingPage.tsx
  website/src/components/ChainOfThoughtTerminal.tsx
  website/src/components/TypewriterCode.tsx
Owners: @rootfs, @Xunzhuo

refactor(structure): deploy and tools (#377)
  deploy/docker-compose.tracing.yaml
  deploy/docker-compose/README.md
  deploy/docker-compose/docker-compose.yml
  deploy/llm-router-dashboard.json
  deploy/tracing/README.md
  tools/make/docker.mk
  tools/make/observability.mk
  tools/observability/README.md
  tools/observability/docker-compose.obs.yml
  tools/observability/scripts/start-observability.sh
  tools/observability/scripts/stop-observability.sh
  tools/tracing/README.md
  tools/tracing/docker-compose.tracing.yaml
  website/docs/troubleshooting/container-connectivity.md
  website/docs/troubleshooting/network-tips.md
Owners: @rootfs, @Xunzhuo

chore: fix pre-commit failures in #353 (#357)
  src/training/multitask_wiki_classifier_training.py
Owners: @rootfs, @Xunzhuo, @wangchen615

feat: k8s support and some fixes (#407)
  Dockerfile.extproc
  dashboard/OWNER
  dashboard/README.md
  dashboard/deploy/kubernetes/deployment.yaml
  dashboard/frontend/src/pages/MonitoringPage.tsx
  deploy/docker-compose/docker-compose.yml
Owners: @rootfs, @Xunzhuo

feat: add dashboard landing page (#396)
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/pages/LandingPage.module.css
  dashboard/frontend/src/pages/LandingPage.tsx
  deploy/docker-compose/docker-compose.yml
  website/src/components/ChainOfThoughtTerminal.module.css
  website/src/components/ChainOfThoughtTerminal.tsx
  website/src/pages/index.module.css
  website/src/pages/index.tsx
Owners: @rootfs, @Xunzhuo

Refactor MilvusCache to use Milvus Search API (#352)
  src/semantic-router/pkg/cache/milvus_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

project: add publication and talk sections (#206)
  website/docusaurus.config.ts
  website/src/components/ChainOfThoughtTerminal.tsx
  website/src/components/TypewriterCode.module.css
  website/src/css/custom.css
  website/src/pages/publications.js
  website/src/pages/publications.module.css
Owners: @Xunzhuo

feat: add topology for vllm dash (#409)
  dashboard/frontend/package-lock.json
  dashboard/frontend/package.json
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/ConfigNav.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/TopologyPage.module.css
  dashboard/frontend/src/pages/TopologyPage.tsx
  website/src/components/AcknowledgementsSection/data.json
Owners: @rootfs, @Xunzhuo

docs: move proposals to site (#361)
  website/docs/overview/categories/overview.md
  website/docs/overview/semantic-router-overview.md
  website/docs/proposals/prompt-classification-routing.md
  website/sidebars.ts
Owners: @Xunzhuo

fix: remove log tail limit in validation script for model loading detection (#392)
  deploy/openshift/validate-deployment.sh
Owners: @rootfs, @Xunzhuo

refactor(headers): centralize custom HTTP headers into dedicated package (#362)
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/extproc/response_handler.go
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/headers/headers_test.go
  src/semantic-router/pkg/utils/http/response.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: fix docs website dark theme promoton and team btn not show font bug (#390)
  website/src/pages/community/promotion.module.css
  website/src/pages/community/team.module.css
Owners: @Xunzhuo

feat(dashboard): enhance UI with navigation improvements and layout optimizations (#405)
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/EditModal.tsx
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/ConfigPage.module.css
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/MonitoringPage.tsx
  dashboard/frontend/src/pages/PlaygroundPage.tsx
Owners: @rootfs, @Xunzhuo

Bench: Add more dataset in router evaluation (#270)
  bench/comprehensive_bench.sh
  bench/plot_comprehensive_results.py
  bench/vllm_semantic_router_bench/cli.py
  bench/vllm_semantic_router_bench/dataset_factory.py
  bench/vllm_semantic_router_bench/dataset_implementations/aqua_rat_dataset.py
  bench/vllm_semantic_router_bench/dataset_implementations/drop_dataset.py
  bench/vllm_semantic_router_bench/dataset_implementations/gsm8k_dataset.py
  bench/vllm_semantic_router_bench/dataset_implementations/math_dataset.py
  bench/vllm_semantic_router_bench/dataset_implementations/openbookqa_dataset.py
  bench/vllm_semantic_router_bench/dataset_implementations/sciq_dataset.py
  bench/vllm_semantic_router_bench/dataset_implementations/strategyqa_dataset.py
  bench/vllm_semantic_router_bench/router_reason_bench_multi_dataset.py
Owners: @yuezhu1, @Xunzhuo

fix: enhance llm-katan OpenAI API compatibility for issue #241 (#354)
  e2e-tests/llm-katan/llm_katan/model.py
  e2e-tests/llm-katan/llm_katan/server.py
  e2e-tests/llm-katan/pyproject.toml
Owners: @rootfs

feat: enhance CI pipeline with improved caching and multi-arch support (#360)
  .github/workflows/docker-publish.yml
  .github/workflows/k8s-integration-test.yml
  .gitignore
  Dockerfile.extproc
  Dockerfile.extproc.cross
  candle-binding/Cargo.lock
Owners: @rootfs, @Xunzhuo

Openshift openwebui integration clean (#384)
  deploy/openshift/openwebui/README.md
  deploy/openshift/openwebui/deploy-openwebui-on-openshift.sh
  deploy/openshift/openwebui/deployment.yaml
  deploy/openshift/openwebui/kustomization.yaml
  deploy/openshift/openwebui/pvc.yaml
  deploy/openshift/openwebui/route.yaml
  deploy/openshift/openwebui/service.yaml
  deploy/openshift/openwebui/uninstall-openwebui.sh
Owners: @rootfs, @Xunzhuo

feat: support inferencepool v1 (#393)
  deploy/kubernetes/ai-gateway/README.md
  deploy/kubernetes/ai-gateway/configuration/config.yaml
  deploy/kubernetes/ai-gateway/configuration/rbac.yaml
  deploy/kubernetes/ai-gateway/inference-pool/inference-pool.yaml
  website/docs/installation/kubernetes.md
Owners: @rootfs, @Xunzhuo

docs: add NVIDIA Dynamo integration proposal (#373)
  website/docs/proposals/nvidia-dynamo-integration.md
  website/sidebars.ts
Owners: @Xunzhuo

chore: add rootfs and yuluo-yx as website owners (#399)
  website/OWNER
Owners: @Xunzhuo

feat: publish and release dashboard image (#395)
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
  dashboard/README.md
  dashboard/backend/Dockerfile
  dashboard/deploy/kubernetes/deployment.yaml
  deploy/docker-compose/docker-compose.yml
  tools/make/docker.mk
Owners: @rootfs, @Xunzhuo

OpenShift Deployment with GPU Support (#376)
  Makefile
  deploy/openshift/Dockerfile.llm-katan
  deploy/openshift/README.md
  deploy/openshift/cleanup-openshift.sh
  deploy/openshift/config-openshift.yaml
  deploy/openshift/deploy-to-openshift.sh
  deploy/openshift/deployment.yaml
  deploy/openshift/envoy-openshift.yaml
  deploy/openshift/kustomization.yaml
  deploy/openshift/template.yaml
  deploy/openshift/validate-deployment.sh
  tools/make/openshift.mk
Owners: @rootfs, @Xunzhuo

fix: resolve streaming clients hanging on security blocks (issue #355) (#356)
  e2e-tests/05-jailbreak-test.py
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/utils/http/response.go
Owners: @rootfs, @Xunzhuo, @wangchen615

docs: update readme to add open-webui chat demo (#387)
  README.md
  website/static/img/chat.png
Owners: @rootfs, @Xunzhuo

docs(config): add accuracy/latency/token-efficiency recipes and guide (#394)
  config/RECIPES.md
  config/config.recipe-accuracy.yaml
  config/config.recipe-latency.yaml
  config/config.recipe-token-efficiency.yaml
  website/docs/installation/configuration.md
Owners: @rootfs, @Xunzhuo

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo
