Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1, @yuluo-yx

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo @rootfs @yuluo-yx

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo

feat: add auto to online demo
  dashboard/frontend/src/pages/LandingPage.tsx
  website/src/components/ChainOfThoughtTerminal.tsx
  website/src/components/TypewriterCode.tsx
Owners: @rootfs, @Xunzhuo, @yuluo-yx

infra: add golangci lint check
  .github/workflows/pre-commit.yml
  .github/workflows/test-and-build.yml
  Dockerfile.precommit
  tools/linter/go/.golangci.yml
  tools/make/build-run-test.mk
  tools/make/golang.mk
Owners: @rootfs, @Xunzhuo

feat(dashboard): add comprehensive configuration editing UI
  dashboard/backend/main.go
  dashboard/frontend/src/components/ConfigNav.tsx
  dashboard/frontend/src/components/EditModal.module.css
  dashboard/frontend/src/components/EditModal.tsx
  dashboard/frontend/src/pages/ConfigPage.module.css
  dashboard/frontend/src/pages/ConfigPage.tsx
  deploy/docker-compose/docker-compose.yml
Owners: @rootfs, @Xunzhuo

fi
  src/semantic-router/go.mod
  src/semantic-router/go.sum
Owners: @rootfs, @Xunzhuo, @wangchen615

fix
  .github/workflows/test-and-build.yml
Owners: @rootfs, @Xunzhuo

infra: add golang ci lint for precommit hook
  .pre-commit-config.yaml
Owners: @rootfs, @Xunzhuo

fix test and build ci error
  src/semantic-router/go.mod
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/mmlu_categories_test.go
  tools/linter/go/.golangci.yml
Owners: @rootfs, @Xunzhuo, @wangchen615

infra: add tx and tsx support for precommit hook
  .pre-commit-config.yaml
Owners: @rootfs, @Xunzhuo

fix: fix precommit parallel golangci-lint run error
  .pre-commit-config.yaml
Owners: @rootfs, @Xunzhuo

update README
  dashboard/README.md
  dashboard/frontend/src/pages/MonitoringPage.tsx
Owners: @rootfs, @Xunzhuo

update README & delete network config
  Dockerfile.extproc
  dashboard/README.md
  deploy/docker-compose/docker-compose.yml
Owners: @rootfs, @Xunzhuo

add owner
  dashboard/OWNER
Owners: @rootfs, @Xunzhuo

add dashboard demo to k8s
  dashboard/README.md
  dashboard/deploy/kubernetes/deployment.yaml
Owners: @rootfs, @Xunzhuo

feat(dashboard): enhance UI with navigation improvements and layout optimizations
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/EditModal.tsx
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/ConfigPage.module.css
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/MonitoringPage.tsx
  dashboard/frontend/src/pages/PlaygroundPage.tsx
Owners: @rootfs, @Xunzhuo

add Xunzhuo to owner
  dashboard/OWNER
Owners: @rootfs, @Xunzhuo

feat: enable system prompt inject from mcp server based classifier
  config/config-mcp-classifier-example.yaml
  examples/mcp-classifier-server/README.md
  examples/mcp-classifier-server/server.py
  src/semantic-router/pkg/connectivity/mcp/api/types.go
  src/semantic-router/pkg/utils/classification/classifier.go
  src/semantic-router/pkg/utils/classification/mapping.go
  src/semantic-router/pkg/utils/classification/mcp_classifier.go
  src/semantic-router/pkg/utils/classification/mcp_classifier_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat: add topology for vllm dash
  dashboard/frontend/package-lock.json
  dashboard/frontend/package.json
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/ConfigNav.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/TopologyPage.module.css
  dashboard/frontend/src/pages/TopologyPage.tsx
  website/src/components/AcknowledgementsSection/data.json
Owners: @rootfs, @Xunzhuo, @yuluo-yx

update paper
  website/docusaurus.config.ts
  website/src/components/TypewriterCode.module.css
  website/src/css/custom.css
  website/src/pages/publications.js
  website/src/pages/publications.module.css
Owners: @Xunzhuo, @rootfs, @yuluo-yx

more
  website/src/components/ChainOfThoughtTerminal.tsx
Owners: @Xunzhuo, @rootfs, @yuluo-yx

more
  website/src/components/ChainOfThoughtTerminal.tsx
Owners: @Xunzhuo, @rootfs, @yuluo-yx

docs: add missing observability articles to sidebar
  website/docs/tutorials/observability/metrics.md
  website/docs/tutorials/observability/tracing-quickstart.md
  website/sidebars.ts
Owners: @Xunzhuo, @rootfs, @yuluo-yx

refactor(config): remove models field from vLLM endpoints
  config/config-mcp-classifier-example.yaml
  config/config.development.yaml
  config/config.e2e.yaml
  config/config.production.yaml
  config/config.recipe-accuracy.yaml
  config/config.recipe-latency.yaml
  config/config.recipe-token-efficiency.yaml
  config/config.testing.yaml
  config/config.yaml
  config/examples/system_prompt_example.yaml
  dashboard/frontend/src/pages/ConfigPage.tsx
  deploy/kubernetes/config.yaml
  deploy/kubernetes/istio/config.yaml
  deploy/openshift/config-openshift.yaml
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/validation_test.go
  src/semantic-router/pkg/extproc/endpoint_selection_test.go
  src/semantic-router/pkg/extproc/models_endpoint_test.go
  src/semantic-router/pkg/extproc/test_utils_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

more
  website/docs/tutorials/semantic-cache/in-memory-cache.md
  website/docs/tutorials/semantic-cache/milvus-cache.md
Owners: @Xunzhuo, @rootfs, @yuluo-yx

refactor(config): move reasoning fields from Category to ModelScore
  config/config.e2e.yaml
  dashboard/frontend/src/pages/ConfigPage.tsx
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/reason_mode_config_test.go
  src/semantic-router/pkg/extproc/reason_mode_selector.go
  src/semantic-router/pkg/extproc/reasoning_integration_test.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/training/model_eval/result_to_config.py
Owners: @rootfs, @Xunzhuo, @wangchen615

fix(test): move ReasoningEffort to ModelScore in classification test
  src/semantic-router/pkg/utils/classification/generic_category_mapping_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix
  src/semantic-router/pkg/utils/entropy/entropy.go
Owners: @rootfs, @Xunzhuo, @wangchen615
