Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

feat: complete vsr CLI implementation with tests and documentation (Issue #234)
  src/semantic-router/TEST_COVERAGE_REPORT.md
  src/semantic-router/cmd/vsr/QUICKSTART.md
  src/semantic-router/cmd/vsr/README.md
  src/semantic-router/cmd/vsr/commands/completion.go
  src/semantic-router/cmd/vsr/commands/completion_test.go
  src/semantic-router/cmd/vsr/commands/config.go
  src/semantic-router/cmd/vsr/commands/config_test.go
  src/semantic-router/cmd/vsr/commands/dashboard.go
  src/semantic-router/cmd/vsr/commands/dashboard_test.go
  src/semantic-router/cmd/vsr/commands/debug.go
  src/semantic-router/cmd/vsr/commands/debug_test.go
  src/semantic-router/cmd/vsr/commands/deploy.go
  src/semantic-router/cmd/vsr/commands/deploy_test.go
  src/semantic-router/cmd/vsr/commands/get.go
  src/semantic-router/cmd/vsr/commands/get_test.go
  src/semantic-router/cmd/vsr/commands/install.go
  src/semantic-router/cmd/vsr/commands/install_test.go
  src/semantic-router/cmd/vsr/commands/model.go
  src/semantic-router/cmd/vsr/commands/model_test.go
  src/semantic-router/cmd/vsr/commands/status.go
  src/semantic-router/cmd/vsr/commands/status_test.go
  src/semantic-router/cmd/vsr/commands/test.go
  src/semantic-router/cmd/vsr/commands/test_test.go
  src/semantic-router/cmd/vsr/commands/upgrade.go
  src/semantic-router/cmd/vsr/commands/upgrade_test.go
  src/semantic-router/cmd/vsr/main.go
  src/semantic-router/pkg/cli/debug/checker.go
  src/semantic-router/pkg/cli/debug/checker_test.go
  src/semantic-router/pkg/cli/deployment/deployment.go
  src/semantic-router/pkg/cli/deployment/deployment_test.go
  src/semantic-router/pkg/cli/deployment/helm.go
  src/semantic-router/pkg/cli/deployment/upgrade.go
  src/semantic-router/pkg/cli/model/manager.go
  src/semantic-router/pkg/cli/model/manager_test.go
  src/semantic-router/pkg/cli/validator.go
  src/semantic-router/pkg/cli/validator_test.go
  src/semantic-router/pkg/config/config.go
Owners: @rootfs, @Xunzhuo, @wangchen615

refactor: remove error classification logic from deployment
  src/semantic-router/pkg/cli/deployment/deployment.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix(vsr): implement critical production fixes for VSR CLI
  src/semantic-router/cmd/vsr/commands/dashboard.go
  src/semantic-router/cmd/vsr/commands/test.go
  src/semantic-router/pkg/cli/deployment/deployment.go
  src/semantic-router/pkg/cli/deployment/deployment_test.go
  src/semantic-router/pkg/cli/deployment/upgrade.go
  tools/make/build-run-test.mk
Owners: @rootfs, @Xunzhuo, @wangchen615

docs: update README with comprehensive VSR CLI documentation
  README.md
Owners: @rootfs, @Xunzhuo

test(vsr): add comprehensive tests for critical production fixes
  src/semantic-router/cmd/vsr/commands/http_timeout_test.go
  src/semantic-router/cmd/vsr/commands/signal_handling_test.go
  src/semantic-router/pkg/cli/deployment/paths_test.go
  src/semantic-router/pkg/cli/deployment/pid_management_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

[Fix] workflow(owner-notification): fix workflow error
  .github/workflows/owner-notification.yml
Owners: @rootfs, @Xunzhuo

refactor: remove ambiguous issue references from test comments
  src/semantic-router/TEST_COVERAGE_REPORT.md
  src/semantic-router/cmd/vsr/commands/http_timeout_test.go
  src/semantic-router/cmd/vsr/commands/signal_handling_test.go
  src/semantic-router/pkg/cli/deployment/paths_test.go
  src/semantic-router/pkg/cli/deployment/pid_management_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

[Misc]: 🔧 chore(ci): simplify precommit-publish workflow by removing nightly date tag generation
  .github/workflows/precommit-publish.yml
Owners: @rootfs, @Xunzhuo

refactor: remove redundant Dockerfile.dev
  Dockerfile.dev
Owners: @rootfs, @Xunzhuo

chore(git): ignore generated config file
  .gitignore
  config/config.yaml
Owners: @rootfs, @Xunzhuo

Add Comprehensive Test Coverage for Embedding-Based Signals
  .github/workflows/integration-test-dynamic-config.yml
  candle-binding/src/ffi/embedding.rs
  e2e/README.md
  e2e/profiles/dynamic-config/crds/intelligentroute.yaml
  e2e/profiles/dynamic-config/profile.go
  e2e/profiles/dynamic-config/values.yaml
  e2e/testcases/embedding_signal_routing.go
  e2e/testcases/testdata/embedding_signal_cases.json
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/extproc/req_filter_pii.go
  src/semantic-router/pkg/utils/http/response.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Proposal: add TruthLens for Hallucination Detection and Mitigation
  website/docs/proposals/hallucination-mitigation-milestone.md
  website/sidebars.ts
Owners: @Xunzhuo

[Feat] helm: use downloader image and add global.imageRegistry support
  deploy/helm/README.md
  deploy/helm/semantic-router/README.md
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/values.yaml
  website/docs/installation/k8s/ai-gateway.md
  website/docs/installation/k8s/aibrix.md
  website/docs/installation/k8s/production-stack.md
Owners: @rootfs, @Xunzhuo

Add Qwen3Guard category extraction support
  candle-binding/semantic-router.go
  src/semantic-router/pkg/classification/vllm_classifier.go
Owners: @rootfs, @Xunzhuo, @wangchen615

[CI] refactor helm publish workflow fix PR test error
  .github/workflows/helm-publish.yml
Owners: @rootfs, @Xunzhuo

feat: add time-windowed model metrics for load balancing
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/observability/metrics/windowed_metrics.go
  src/semantic-router/pkg/observability/metrics/windowed_metrics_test.go
  website/docs/tutorials/observability/metrics.md
Owners: @rootfs, @Xunzhuo, @wangchen615

pii detection fix
  candle-binding/src/ffi/classify.rs
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  e2e/profiles/ai-gateway/profile.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/aibrix/profile.go
  e2e/profiles/dynamic-config/crds/intelligentroute.yaml
  e2e/testcases/plugin_chain_execution.go
  e2e/testcases/testdata/plugin_chain_cases.json
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/utils/http/response.go
  src/semantic-router/pkg/utils/pii/policy.go
Owners: @rootfs, @Xunzhuo, @wangchen615

[e2e] Add production-stack profile
  .github/workflows/integration-test-k8s.yml
  e2e/README.md
  e2e/cmd/e2e/main.go
  e2e/profiles/production-stack/profile.go
  e2e/profiles/production-stack/prometheus-config.yaml
  e2e/profiles/production-stack/values.yaml
  e2e/testcases/failover_during_traffic.go
  e2e/testcases/load_balancing_verification.go
  e2e/testcases/multi_replica_health.go
  e2e/testcases/performance_throughput.go
  e2e/testcases/resource_utilization_monitoring.go
  tools/make/e2e.mk
Owners: @rootfs, @Xunzhuo

feat(ci): Optimize CI workflows with concurrency and path filtering
  .github/workflows/ci-changes.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
  .github/workflows/integration-test-docker.yml
  .github/workflows/integration-test-dynamic-config.yml
  .github/workflows/integration-test-helm.yml
  .github/workflows/integration-test-k8s.yml
  .github/workflows/pre-commit.yml
  .github/workflows/precommit-publish.yml
  .github/workflows/publish-crate.yml
  .github/workflows/test-and-build.yml
Owners: @rootfs, @Xunzhuo

feat: implement signal fusion engine for issue #367
  config/fusion-example.yaml
  src/semantic-router/pkg/fusion/README.md
  src/semantic-router/pkg/fusion/engine.go
  src/semantic-router/pkg/fusion/evaluator.go
  src/semantic-router/pkg/fusion/expression.go
  src/semantic-router/pkg/fusion/fusion_test.go
  src/semantic-router/pkg/fusion/types.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat(llm-katan): Add Kubernetes deployment support
  e2e-tests/llm-katan/README.md
  e2e-tests/llm-katan/deploy/docs/README.md
  e2e-tests/llm-katan/deploy/kubernetes/base/deployment.yaml
  e2e-tests/llm-katan/deploy/kubernetes/base/kustomization.yaml
  e2e-tests/llm-katan/deploy/kubernetes/base/namespace.yaml
  e2e-tests/llm-katan/deploy/kubernetes/base/pvc.yaml
  e2e-tests/llm-katan/deploy/kubernetes/base/service.yaml
  e2e-tests/llm-katan/deploy/kubernetes/components/common/kustomization.yaml
  e2e-tests/llm-katan/deploy/kubernetes/overlays/claude/kustomization.yaml
  e2e-tests/llm-katan/deploy/kubernetes/overlays/gpt35/kustomization.yaml
  e2e-tests/llm-katan/deploy/kubernetes/verify-deployment.sh
  e2e-tests/llm-katan/llm_katan/config.py
  e2e-tests/llm-katan/pyproject.toml
  tools/make/kube.mk
Owners: @rootfs, @Xunzhuo

fix podman supporting in docker-compose targets and quickstart.sh
  scripts/quickstart.sh
  tools/make/docker.mk
Owners: @rootfs, @Xunzhuo

fix skipped tests
  candle-binding/semantic-router_test.go
  candle-binding/src/classifiers/unified.rs
  candle-binding/src/ffi/embedding.rs
  tools/make/models.mk
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

🔧 chore(kube): generate kind config if missing before cluster creation
  tools/make/kube.mk
Owners: @rootfs, @Xunzhuo

🔧 chore(ci): skip workflows for draft pull requests
  .github/workflows/docker-publish.yml
  .github/workflows/helm-publish.yml
  .github/workflows/integration-test-docker.yml
  .github/workflows/integration-test-dynamic-config.yml
  .github/workflows/integration-test-helm.yml
  .github/workflows/integration-test-k8s.yml
  .github/workflows/owner-notification.yml
  .github/workflows/precommit-publish.yml
  .github/workflows/test-and-build.yml
Owners: @rootfs, @Xunzhuo

feat(tools): add HuggingFace Spaces playground for semantic router
  tools/hf-playground/README.md
  tools/hf-playground/app.py
  tools/hf-playground/requirements.txt
  tools/hf-playground/vllm-logo.png
Owners: @rootfs, @Xunzhuo

✨ docs(milvus): add milvus helm install and semantic cache config
  tools/milvus/README.md
  tools/milvus/test-milvus-deployment.sh
  website/docs/installation/milvus.md
  website/docs/tutorials/semantic-cache/hybrid-cache.md
  website/docs/tutorials/semantic-cache/milvus-cache.md
  website/sidebars.ts
Owners: @rootfs, @Xunzhuo

Initial PR for performance test on integration test that running on CI
  .github/workflows/performance-nightly.yml
  .github/workflows/performance-test.yml
  e2e/pkg/performance/load_generator.go
  e2e/pkg/performance/metrics_collector.go
  perf/CI-STRATEGY.md
  perf/QUICKSTART.md
  perf/README.md
  perf/benchmarks/cache_bench_test.go
  perf/benchmarks/classification_bench_test.go
  perf/benchmarks/decision_bench_test.go
  perf/benchmarks/extproc_bench_test.go
  perf/cmd/perftest/main.go
  perf/config/perf.yaml
  perf/config/thresholds.yaml
  perf/go.mod
  perf/go.sum
  perf/pkg/benchmark/baseline.go
  perf/pkg/benchmark/config.go
  perf/pkg/benchmark/report.go
  perf/pkg/benchmark/runner.go
  perf/pkg/profiler/profiler.go
  perf/scripts/update-baseline.sh
  perf/testdata/examples/README.md
  perf/testdata/examples/benchmark-output-example.txt
  perf/testdata/examples/comparison-example.txt
  perf/testdata/examples/example-report.html
  perf/testdata/examples/example-report.json
  perf/testdata/examples/example-report.md
  perf/testdata/examples/pprof-example.txt
  perf/testdata/examples/pr-comment-example.md
  tools/make/performance.mk
Owners: @rootfs, @Xunzhuo

Initial PR for performance test on integration test that running on CI
  .github/workflows/performance-test.yml
  Makefile
  e2e/pkg/performance/load_generator.go
  e2e/pkg/performance/metrics_collector.go
  perf/CI-STRATEGY.md
  perf/QUICKSTART.md
  perf/README.md
  perf/go.mod
  perf/go.sum
  perf/pkg/benchmark/config.go
  perf/pkg/benchmark/report.go
  perf/testdata/examples/README.md
  perf/testdata/examples/pr-comment-example.md
Owners: @rootfs, @Xunzhuo

feat: add time-windowed model metrics for load balancing
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/observability/metrics/windowed_metrics.go
  src/semantic-router/pkg/observability/metrics/windowed_metrics_test.go
  website/docs/tutorials/observability/metrics.md
Owners: @rootfs, @Xunzhuo, @wangchen615

fix skipped tests
  .github/workflows/integration-test-k8s.yml
  candle-binding/semantic-router_test.go
  candle-binding/src/classifiers/unified.rs
  candle-binding/src/ffi/embedding.rs
  e2e/profiles/aibrix/profile.go
  tools/make/models.mk
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

fix(dashboard): ensure devDependencies are installed during Docker build
  dashboard/Dockerfile
  dashboard/backend/Dockerfile
Owners: @rootfs, @Xunzhuo

feat(cache): implement O(1) eviction policies and O(k) TTL cleanup
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/eviction_policy.go
  src/semantic-router/pkg/cache/inmemory_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat(tools): add dissatisfaction detector and explainer models to playground
  tools/hf-playground/app.py
Owners: @rootfs, @Xunzhuo

docs: add Signal-Decision Architecture blog to README news
  README.md
Owners: @rootfs, @Xunzhuo

fix: remove unused idx variable in test to pass ineffassign lint
  src/semantic-router/pkg/cache/cache_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

ci: optimize docker integration tests with minimal compose
  .github/workflows/integration-test-docker.yml
  deploy/docker-compose/docker-compose.ci.yml
  tools/make/docker.mk
Owners: @rootfs, @Xunzhuo

Initial PR for performance test on integration test that running on CI
  .github/workflows/performance-test.yml
  Makefile
  e2e/pkg/performance/load_generator.go
  e2e/pkg/performance/metrics_collector.go
  perf/CI-STRATEGY.md
  perf/QUICKSTART.md
  perf/README.md
  perf/benchmarks/classification_bench_test.go
  perf/benchmarks/decision_bench_test.go
  perf/benchmarks/extproc_bench_test.go
  perf/go.mod
  perf/go.sum
  perf/pkg/benchmark/config.go
  perf/pkg/benchmark/report.go
  perf/testdata/examples/README.md
  perf/testdata/examples/pr-comment-example.md
Owners: @rootfs, @Xunzhuo

fix(e2e): add decision routes for all 14 LoRA categories in test profiles
  e2e/profiles/llm-d/values.yaml
  e2e/profiles/production-stack/values.yaml
Owners: @rootfs, @Xunzhuo

fix(test): correct relative path for PII LoRA model in auto-detection test
  src/semantic-router/pkg/classification/lora_auto_detection_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo
