Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo

feat: add shelleck precommit hook (#488)
  .pre-commit-config.yaml
  bench/build_and_test.sh
  bench/comprehensive_bench.sh
  deploy/openshift/cleanup-openshift.sh
  deploy/openshift/dashboard/build-custom-dashboard.sh
  deploy/openshift/demo-routing-test.sh
  deploy/openshift/demo/cache-management.sh
  deploy/openshift/deploy-to-openshift.sh
  deploy/openshift/validate-deployment.sh
  e2e-tests/start-llm-katan.sh
  scripts/quickstart.sh
  src/training/training_lora/classifier_model_fine_tuning_lora/train_cpu_optimized.sh
  src/training/training_lora/mmlu_pro_solver_lora/train_all_specialists.sh
  src/training/training_lora/mmlu_pro_solver_lora/train_all_specialists_no_leakage.sh
  src/training/training_lora/pii_model_fine_tuning_lora/train_cpu_optimized.sh
  src/training/training_lora/prompt_guard_fine_tuning_lora/train_cpu_optimized.sh
  tools/linter/shellcheck/.shellcheckrc
  tools/make/linter.mk
Owners: @rootfs, @Xunzhuo, @yuezhu1, @wangchen615

fix:Implement Comprehensive Rayon Parallelization for LoRA Classifiers (#464)
  candle-binding/Cargo.toml
  candle-binding/src/classifiers/lora/intent_lora.rs
  candle-binding/src/classifiers/lora/mod.rs
  candle-binding/src/classifiers/lora/parallel_engine.rs
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/classifiers/lora/pii_lora.rs
  candle-binding/src/classifiers/lora/security_lora.rs
  candle-binding/src/model_architectures/embedding/qwen3_embedding_test.rs
  candle-binding/src/model_architectures/lora/bert_lora.rs
  candle-binding/src/model_architectures/traditional/base_model.rs
Owners: @rootfs, @Xunzhuo

feat:unit tests for candle refactoring (#296)
  candle-binding/Cargo.toml
  candle-binding/src/classifiers/lora/intent_lora_test.rs
  candle-binding/src/classifiers/lora/mod.rs
  candle-binding/src/classifiers/lora/pii_lora_test.rs
  candle-binding/src/classifiers/lora/security_lora_test.rs
  candle-binding/src/classifiers/lora/token_lora_test.rs
  candle-binding/src/classifiers/mod.rs
  candle-binding/src/classifiers/traditional/batch_processor_test.rs
  candle-binding/src/classifiers/traditional/mod.rs
  candle-binding/src/classifiers/traditional/modernbert_classifier_test.rs
  candle-binding/src/classifiers/unified_test.rs
  candle-binding/src/core/config_loader_test.rs
  candle-binding/src/core/mod.rs
  candle-binding/src/core/unified_error_test.rs
  candle-binding/src/ffi/classify_test.rs
  candle-binding/src/ffi/memory_safety_test.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/lib.rs
  candle-binding/src/model_architectures/config.rs
  candle-binding/src/model_architectures/lora/bert_lora_test.rs
  candle-binding/src/model_architectures/lora/mod.rs
  candle-binding/src/model_architectures/mod.rs
  candle-binding/src/model_architectures/model_factory_test.rs
  candle-binding/src/model_architectures/routing_test.rs
  candle-binding/src/model_architectures/traditional/base_model_test.rs
  candle-binding/src/model_architectures/traditional/bert_test.rs
  candle-binding/src/model_architectures/traditional/mod.rs
  candle-binding/src/model_architectures/traditional/modernbert_test.rs
  candle-binding/src/model_architectures/unified_interface_test.rs
  candle-binding/src/test_fixtures.rs
  candle-binding/src/utils/memory.rs
  tools/make/build-run-test.mk
  tools/make/common.mk
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

Update test description from Math to General (#483)
  tools/make/build-run-test.mk
Owners: @rootfs, @Xunzhuo

Fix: The caller information points to the wrapper function instead of the actual call location (#518)
  src/semantic-router/pkg/observability/logging.go
Owners: @rootfs, @Xunzhuo, @wangchen615

infra: update tools (#501)
  tools/make/docs.mk
  tools/make/pre-commit.mk
  website/src/pages/community/contributing.tsx
Owners: @rootfs, @Xunzhuo

feat: Implement hybrid cache that use in-memory index and milvus based doc store (#504)
  .github/workflows/pre-commit.yml
  .github/workflows/publish-crate.yml
  .github/workflows/test-and-build.yml
  .pre-commit-config.yaml
  Dockerfile.extproc
  Dockerfile.extproc.cross
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  config/config.development.yaml
  config/config.hybrid.yaml
  config/config.yaml
  src/semantic-router/go.mod
  src/semantic-router/go.sum
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/comprehensive_benchmark_test.go
  src/semantic-router/pkg/cache/hybrid_cache.go
  src/semantic-router/pkg/cache/hybrid_cache_test.go
  src/semantic-router/pkg/cache/hybrid_vs_milvus_benchmark_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/cache/inmemory_cache_integration_test.go
  src/semantic-router/pkg/cache/large_scale_benchmark_test.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/cache/simd_benchmark_test.go
  src/semantic-router/pkg/cache/simd_distance_amd64.go
  src/semantic-router/pkg/cache/simd_distance_amd64.s
  src/semantic-router/pkg/cache/simd_distance_generic.go
  tools/make/build-run-test.mk
  tools/make/milvus.mk
  tools/make/rust.mk
  website/docs/tutorials/semantic-cache/hybrid-cache.md
  website/docs/tutorials/semantic-cache/in-memory-cache.md
Owners: @rootfs, @Xunzhuo, @wangchen615

refactor k8s ci test
  .github/workflows/k8s-integration-test.yml
  .github/workflows/k8s-integration/README.md
  .github/workflows/k8s-integration/api-functionality-test.yml
  .github/workflows/k8s-integration/config-test.yml
  .github/workflows/k8s-integration/kind-integration-test.yml
  .github/workflows/k8s-integration/security-scan.yml
  .github/workflows/k8s-integration/shared-config.yml
  .github/workflows/k8s-integration/validate-manifests.yml
Owners: @rootfs, @Xunzhuo

add one line to invoke CI test
  deploy/kubernetes/kustomization.yaml
Owners: @rootfs, @Xunzhuo

add one line to invoke CI test
  deploy/kubernetes/pvc.yaml
Owners: @rootfs, @Xunzhuo

add one line to invoke CI test
  deploy/kubernetes/kustomization.yaml
Owners: @rootfs, @Xunzhuo

add pipeline file to pipelines/
  deploy/kubernetes/observability/kustomization.yaml
  deploy/kubernetes/observability/pipelines/vllm_semantic_router_pipe.py
Owners: @rootfs, @Xunzhuo

update config & update docker compose README
  deploy/docker-compose/README.md
  deploy/kubernetes/config.yaml
  deploy/kubernetes/observability/dashboard/config.yaml
Owners: @rootfs, @Xunzhuo

use template for generality
  .gitignore
  tools/kind/CHINA_DEPLOYMENT_GUIDE.md
  tools/kind/README.md
  tools/kind/generate-kind-config.sh
  tools/kind/kind-config.yaml.template
Owners: @rootfs, @Xunzhuo

generate ConfigMaps from source files
  deploy/kubernetes/observability/kustomization.yaml
  deploy/kubernetes/observability/pipelines/deployment.yaml
Owners: @rootfs, @Xunzhuo

better CI & add chat-ui and mongo
  .github/workflows/k8s-integration-test.yml
  deploy/kubernetes/README.md
  deploy/kubernetes/observability/README.md
  deploy/kubernetes/observability/chat-ui/deployment.yaml
  deploy/kubernetes/observability/dashboard/config.yaml
  deploy/kubernetes/observability/dashboard/configmap.yaml
  deploy/kubernetes/observability/dashboard/deployment.yaml
  deploy/kubernetes/observability/dashboard/tools_db.json
  deploy/kubernetes/observability/ingress.yaml
  deploy/kubernetes/observability/kustomization.yaml
  deploy/kubernetes/observability/mongo/deployment.yaml
  deploy/kubernetes/observability/pipelines/deployment.yaml
Owners: @rootfs, @Xunzhuo

update docker compose readme
  deploy/docker-compose/README.md
Owners: @rootfs, @Xunzhuo

use a stable version
  .github/workflows/k8s-integration-test.yml
Owners: @rootfs, @Xunzhuo

combine dashboard and openwebui to k8s/o11y
  deploy/kubernetes/observability/README.md
  deploy/kubernetes/observability/dashboard/configmap.yaml
  deploy/kubernetes/observability/dashboard/deployment.yaml
  deploy/kubernetes/observability/dashboard/service.yaml
  deploy/kubernetes/observability/ingress.yaml
  deploy/kubernetes/observability/kustomization.yaml
  deploy/kubernetes/observability/openwebui/deployment.yaml
  deploy/kubernetes/observability/pipelines/deployment.yaml
Owners: @rootfs, @Xunzhuo

fix CI error
  .github/workflows/k8s-integration-test.yml
Owners: @rootfs, @Xunzhuo

fix kustomize install error
  .github/workflows/k8s-integration-test.yml
Owners: @rootfs, @Xunzhuo

refactor k8s ci test
  .github/workflows/k8s-integration-test.yml
Owners: @rootfs, @Xunzhuo

align deploy/k8s README
  deploy/kubernetes/README.md
Owners: @rootfs, @Xunzhuo

nerwork config
  deploy/kubernetes/kustomization.yaml
  tools/kind/CHINA_DEPLOYMENT_GUIDE.md
  tools/kind/build-and-load-image.sh
  tools/kind/fix-image-pull.sh
  tools/kind/kind-config.yaml
  tools/kind/setup-proxy-for-kind.sh
Owners: @rootfs, @Xunzhuo

pvc local model success
  deploy/kubernetes/config.yaml
  deploy/kubernetes/deployment.yaml
  deploy/kubernetes/kustomization.yaml
  deploy/kubernetes/pv-models.yaml
  deploy/kubernetes/pvc.yaml
  tools/kind/build-and-load-image.sh
  tools/kind/fix-image-pull.sh
  tools/kind/kind-config.yaml
  tools/kind/setup-proxy-for-kind.sh
Owners: @rootfs, @Xunzhuo

Milvus initial connection and test
  src/semantic-router/pkg/vectordb/milvus_vectordb.go
Owners: @rootfs, @Xunzhuo, @wangchen615

refactor k8s ci test
  .github/workflows/k8s-integration-test.yml
  .github/workflows/k8s-integration/README.md
  .github/workflows/k8s-integration/api-functionality-test.yml
  .github/workflows/k8s-integration/config-test.yml
  .github/workflows/k8s-integration/kind-integration-test.yml
  .github/workflows/k8s-integration/security-scan.yml
  .github/workflows/k8s-integration/shared-config.yml
  .github/workflows/k8s-integration/validate-manifests.yml
Owners: @rootfs, @Xunzhuo

refactor k8s ci test
  .github/workflows/k8s-api-functionality-test.yml
  .github/workflows/k8s-config-test.yml
  .github/workflows/k8s-integration-test.yml
  .github/workflows/k8s-integration/README.md
  .github/workflows/k8s-kind-integration-test.yml
  .github/workflows/k8s-security-scan.yml
  .github/workflows/k8s-shared-config.yml
  .github/workflows/k8s-validate-manifests.yml
Owners: @rootfs, @Xunzhuo

use dynamic kustomize
  .github/workflows/k8s-api-functionality-test.yml
  .github/workflows/k8s-kind-integration-test.yml
Owners: @rootfs, @Xunzhuo

Updating collection creation for milvus
  src/semantic-router/pkg/vectordb/milvus_vectordb.go
  src/semantic-router/pkg/vectordb/milvus_vectordb_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

use bigger memory and delete network config
  .github/workflows/k8s-api-functionality-test.yml
  .github/workflows/k8s-integration-test.yml
  .github/workflows/k8s-kind-integration-test.yml
  deploy/kubernetes/deployment.yaml
Owners: @rootfs, @Xunzhuo

added error logging
  src/semantic-router/pkg/extproc/rag_mode_selector.go
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

merge main to feat branch
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/semantic-router.go
  candle-binding/semantic-router_test.go
  candle-binding/src/bert_official.rs
  candle-binding/src/lib.rs
  candle-binding/src/modernbert.rs
  candle-binding/src/unified_classifier.rs
  config/config.yaml
  deploy/kubernetes/config.yaml
  deploy/openshift/config-openshift.yaml
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/api/server.go
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/filter_types.go
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/caching_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/test_utils_test.go
  tools/make/build-run-test.mk
  tools/make/common.mk
  tools/make/models.mk
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo, @wangchen615

feat:unit tests for candle refactoring (#296)
  candle-binding/Cargo.toml
  candle-binding/src/classifiers/lora/intent_lora_test.rs
  candle-binding/src/classifiers/lora/mod.rs
  candle-binding/src/classifiers/lora/pii_lora_test.rs
  candle-binding/src/classifiers/lora/security_lora_test.rs
  candle-binding/src/classifiers/lora/token_lora_test.rs
  candle-binding/src/classifiers/mod.rs
  candle-binding/src/classifiers/traditional/batch_processor_test.rs
  candle-binding/src/classifiers/traditional/mod.rs
  candle-binding/src/classifiers/traditional/modernbert_classifier_test.rs
  candle-binding/src/classifiers/unified_test.rs
  candle-binding/src/core/config_loader_test.rs
  candle-binding/src/core/mod.rs
  candle-binding/src/core/unified_error_test.rs
  candle-binding/src/ffi/classify_test.rs
  candle-binding/src/ffi/memory_safety_test.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/lib.rs
  candle-binding/src/model_architectures/config.rs
  candle-binding/src/model_architectures/lora/bert_lora_test.rs
  candle-binding/src/model_architectures/lora/mod.rs
  candle-binding/src/model_architectures/mod.rs
  candle-binding/src/model_architectures/model_factory_test.rs
  candle-binding/src/model_architectures/routing_test.rs
  candle-binding/src/model_architectures/traditional/base_model_test.rs
  candle-binding/src/model_architectures/traditional/bert_test.rs
  candle-binding/src/model_architectures/traditional/mod.rs
  candle-binding/src/model_architectures/traditional/modernbert_test.rs
  candle-binding/src/model_architectures/unified_interface_test.rs
  candle-binding/src/test_fixtures.rs
  candle-binding/src/utils/memory.rs
  tools/make/build-run-test.mk
  tools/make/common.mk
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

fix indent error
  .github/workflows/k8s-integration-test.yml
Owners: @rootfs, @Xunzhuo

fix:Implement Comprehensive Rayon Parallelization for LoRA Classifiers (#464)
  candle-binding/Cargo.toml
  candle-binding/src/classifiers/lora/intent_lora.rs
  candle-binding/src/classifiers/lora/mod.rs
  candle-binding/src/classifiers/lora/parallel_engine.rs
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/classifiers/lora/pii_lora.rs
  candle-binding/src/classifiers/lora/security_lora.rs
  candle-binding/src/model_architectures/embedding/qwen3_embedding_test.rs
  candle-binding/src/model_architectures/lora/bert_lora.rs
  candle-binding/src/model_architectures/traditional/base_model.rs
Owners: @rootfs, @Xunzhuo

fix:Improve rust unit test and optimize concurrent tests with rayon (#471)
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/core/mod.rs
  candle-binding/src/core/similarity_test.rs
  candle-binding/src/core/tokenization_test.rs
  candle-binding/src/ffi/init_test.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/ffi/state_manager_test.rs
  candle-binding/src/ffi/validation_test.rs
  candle-binding/src/model_architectures/lora/lora_adapter_test.rs
  candle-binding/src/model_architectures/lora/mod.rs
Owners: @rootfs, @Xunzhuo

fix: resolve syntax errors after rebase
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/api/server.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Change label count params to c_int (#494)
  candle-binding/src/ffi/init.rs
Owners: @rootfs, @Xunzhuo

add additional update
  candle-binding/Cargo.lock
Owners: @rootfs, @Xunzhuo
