Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo

review feedback
  src/semantic-router/cmd/cache-benchmark/main.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix precommit
  candle-binding/batched_embedding.go
  candle-binding/semantic-router.go
  scripts/run-cache-benchmark.sh
  src/semantic-router/cmd/cache-benchmark/main.go
  src/semantic-router/pkg/cache/benchmark.go
  src/semantic-router/pkg/cache/inmemory_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Add Blog for modular LoRA
  website/blog/2025-10-25-modular-lora.md
  website/blog/authors.yml
  website/static/img/full-params.png
  website/static/img/lora.png
  website/static/img/modular.png
  website/static/img/team/ivar.jpeg
  website/static/img/team/onezero.jpeg
Owners: @Xunzhuo

lint
  website/blog/2025-10-25-modular-lora.md
Owners: @Xunzhuo

docs: redirect kubernetes installation page to ai-gateway guide
  README.md
  website/docs/installation/k8s/production-stack.md
  website/docs/installation/kubernetes.md
  website/docs/proposals/nvidia-dynamo-integration.md
  website/docs/tutorials/integration/production-stack-integration.md
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
Owners: @rootfs, @Xunzhuo

Blog: Semantic Tool Selection: Building Smarter AI Agents with Context-Aware Routing
  website/blog/2025-11-07-semantic-tool-selection.md
Owners: @Xunzhuo

update
  website/blog/2025-11-07-semantic-tool-selection.md
  website/static/img/tools.png
Owners: @Xunzhuo

update
  website/blog/2025-11-07-semantic-tool-selection.md
Owners: @Xunzhuo

update
  website/blog/2025-11-07-semantic-tool-selection.md
Owners: @Xunzhuo

update
  website/blog/2025-11-07-semantic-tool-selection.md
Owners: @Xunzhuo

feat(website): simplify publications page UI and optimize mobile display
  website/src/css/custom.css
  website/src/pages/publications.js
  website/src/pages/publications.module.css
Owners: @Xunzhuo

fix-issue-336
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/keyword_embedding_classifier.go
  src/semantic-router/pkg/classification/keyword_embedding_classifier_test.go
  src/semantic-router/pkg/config/config.go
Owners: @rootfs, @Xunzhuo, @wangchen615

docs: simplify estimation data content
  website/blog/2025-11-07-semantic-tool-selection.md
Owners: @Xunzhuo

fix-issue-336
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/keyword_embedding_classifier.go
  src/semantic-router/pkg/classification/keyword_embedding_classifier_test.go
  src/semantic-router/pkg/config/config.go
Owners: @rootfs, @Xunzhuo, @wangchen615

review feedback
  candle-binding/src/model_architectures/embedding/continuous_batch_scheduler.rs
Owners: @rootfs, @Xunzhuo

Revert "fix: correct yaml linting hook to call yaml-lint instead of markdown-…"
  .pre-commit-config.yaml
Owners: @rootfs, @Xunzhuo

fix-issue-336: update classifier name
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/classification/embedding_classifier_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

chore: fix milvus cache unit test
  src/semantic-router/pkg/cache/milvus_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix pre-commit
  src/semantic-router/pkg/cache/milvus_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix dashboard container build
  dashboard/backend/Dockerfile
Owners: @rootfs, @Xunzhuo

fix(openshift): add missing vLLM model PVCs to deployment script
  deploy/openshift/deploy-to-openshift.sh
Owners: @rootfs, @Xunzhuo

feat(openshift): consolidate deployment with dynamic IP configuration
  deploy/openshift/README-DYNAMIC-IPS.md
  deploy/openshift/README.md
  deploy/openshift/config-openshift.yaml
  deploy/openshift/deploy-to-openshift.sh
  deploy/openshift/deployment.yaml
Owners: @rootfs, @Xunzhuo

chore: fix markdown linting issues in OpenShift docs
  deploy/openshift/README-DYNAMIC-IPS.md
  deploy/openshift/README.md
Owners: @rootfs, @Xunzhuo

fix: remove useless cat in deploy script to fix shellcheck SC2002
  deploy/openshift/deploy-to-openshift.sh
Owners: @rootfs, @Xunzhuo

fix-issue-336: update unit test
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/classification/embedding_classifier_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

chore: fix cache unit test
  src/semantic-router/pkg/cache/milvus_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix:Memory Management in FFI Error Handling
  candle-binding/src/ffi/embedding.rs
Owners: @rootfs, @Xunzhuo

fix: adjust the readiness and health probe
  .github/workflows/helm-ci.yml
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/values-dev.yaml
  deploy/helm/semantic-router/values-prod.yaml
  deploy/helm/semantic-router/values.yaml
Owners: @rootfs, @Xunzhuo

fix
  tools/linter/yaml/.yamllint
Owners: @rootfs, @Xunzhuo

fix: parse Milvus snake_case config fields correctly
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/milvus_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

infra(ci): add GHA exec condition
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
  .github/workflows/k8s-config-test.yml
  .github/workflows/k8s-integration-test.yml
  .github/workflows/k8s-kind-integration-test.yml
  .github/workflows/k8s-security-scan.yml
  .github/workflows/k8s-validate-manifests.yml
  .github/workflows/owner-notification.yml
  .github/workflows/pre-commit.yml
  .github/workflows/precommit-publish.yml
  .github/workflows/publish-crate.yml
  .github/workflows/quickstart-integration-test.yml
  .github/workflows/test-and-build.yml
Owners: @rootfs, @Xunzhuo

[Refactor] Remove ClassifyCategory and add embedding classifier config
  config/intelligent-routing/in-tree/embedding.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/services/classification.go
Owners: @rootfs, @Xunzhuo, @wangchen615

lint
  config/intelligent-routing/in-tree/embedding.yaml
  src/semantic-router/pkg/config/config.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix skipped tests
  candle-binding/semantic-router_test.go
  candle-binding/src/classifiers/lora/token_lora.rs
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

fix: update editUrl in docusaurus config to point to the correct website directory
  website/docusaurus.config.ts
Owners: @Xunzhuo

fix skipped tests
  .github/workflows/test-and-build.yml
  candle-binding/semantic-router_test.go
  candle-binding/src/classifiers/unified.rs
  candle-binding/src/ffi/embedding.rs
  tools/make/models.mk
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

fix(dashboard): add OpenShift hostname detection for OpenWebUI playground
  dashboard/frontend/src/pages/PlaygroundPage.tsx
Owners: @rootfs, @Xunzhuo

Update the doc wording, use the official llm-d container image
  deploy/kubernetes/llmd-base/README.md
  deploy/kubernetes/llmd-base/inferencepool-llama.yaml
  deploy/kubernetes/llmd-base/inferencepool-phi4.yaml
Owners: @rootfs, @Xunzhuo

enable ci failures
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

feat: removes the dependency of `once_cell`
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/src/ffi/memory_safety.rs
  candle-binding/src/ffi/state_manager.rs
Owners: @rootfs, @Xunzhuo
