Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

more
  website/blog/2025-10-20-q4-roadmap-iris.md
Owners: @Xunzhuo

feat: add shelleck precommit hook
  .pre-commit-config.yaml
Owners: @rootfs, @Xunzhuo

feat: add shelleck precommit hook
  .pre-commit-config.yaml
Owners: @rootfs, @Xunzhuo

feat: add shelleck precommit hook
  bench/build_and_test.sh
  bench/comprehensive_bench.sh
  deploy/openshift/cleanup-openshift.sh
  deploy/openshift/dashboard/build-custom-dashboard.sh
  deploy/openshift/demo-routing-test.sh
  deploy/openshift/demo/cache-management.sh
  deploy/openshift/deploy-to-openshift.sh
  deploy/openshift/validate-deployment.sh
  e2e-tests/start-llm-katan.sh
  scripts/quickstart.sh
  src/training/training_lora/classifier_model_fine_tuning_lora/train_cpu_optimized.sh
  src/training/training_lora/mmlu_pro_solver_lora/train_all_specialists.sh
  src/training/training_lora/mmlu_pro_solver_lora/train_all_specialists_no_leakage.sh
  src/training/training_lora/pii_model_fine_tuning_lora/train_cpu_optimized.sh
  src/training/training_lora/prompt_guard_fine_tuning_lora/train_cpu_optimized.sh
  tools/linter/shellcheck/.shellcheckrc
  tools/make/linter.mk
Owners: @yuezhu1, @Xunzhuo, @rootfs, @wangchen615

feat: add OpenShift single-namespace deployment for separate pods
  .dockerignore
  .github/workflows/docker-publish.yml
  deploy/openshift/single-namespace/README.md
  deploy/openshift/single-namespace/buildconfig-llm-katan.yaml
  deploy/openshift/single-namespace/buildconfig-router.yaml
  deploy/openshift/single-namespace/configmap-envoy.yaml
  deploy/openshift/single-namespace/configmap-router.yaml
  deploy/openshift/single-namespace/deployment-model-a.yaml
  deploy/openshift/single-namespace/deployment-model-b.yaml
  deploy/openshift/single-namespace/deployment-router.yaml
  deploy/openshift/single-namespace/imagestreams.yaml
  deploy/openshift/single-namespace/namespace.yaml
  deploy/openshift/single-namespace/pvcs.yaml
  deploy/openshift/single-namespace/route.yaml
  deploy/openshift/single-namespace/scripts/deploy-all.sh
  deploy/openshift/single-namespace/services.yaml
Owners: @rootfs, @Xunzhuo

feat: add automatic IP configuration and uninstall script for OpenShift deployment
  DEPLOYMENT_GUIDE.md
  deploy/openshift/single-namespace/README.md
  deploy/openshift/single-namespace/buildconfig-llm-katan.yaml
  deploy/openshift/single-namespace/scripts/deploy-all.sh
  deploy/openshift/single-namespace/scripts/uninstall.sh
Owners: @rootfs, @Xunzhuo

feat: add HNSW index to inmemory semantic cache
  config/config.development.yaml
  config/config.yaml
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/comprehensive_benchmark_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/cache/inmemory_cache_integration_test.go
  website/docs/tutorials/semantic-cache/in-memory-cache.md
Owners: @rootfs, @Xunzhuo, @wangchen615

Update src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Change label count params to c_int
  candle-binding/src/ffi/init.rs
Owners: @rootfs, @Xunzhuo

project: add q4 roadmap news
  README.md
Owners: @rootfs, @Xunzhuo

feat: enhance OpenShift deployment with lightweight image and validation tools
  deploy/openshift/single-namespace/ADD-MODEL-C-GUIDE.md
  deploy/openshift/single-namespace/buildconfig-llm-katan.yaml
  deploy/openshift/single-namespace/imagestreams.yaml
  deploy/openshift/single-namespace/scripts/check-gpu-status.sh
  deploy/openshift/single-namespace/scripts/deploy-all.sh
  deploy/openshift/single-namespace/scripts/test-queries-with-trace.sh
  deploy/openshift/single-namespace/scripts/uninstall.sh
  deploy/openshift/single-namespace/scripts/validate-deployment.sh
Owners: @rootfs, @Xunzhuo

fix missing shellcheck in pre-commit image
  Dockerfile.precommit
Owners: @rootfs, @Xunzhuo

chore: upgrade rust version to 1.90 in all related Dockerfiles
  Dockerfile.extproc
  Dockerfile.extproc.cross
Owners: @rootfs, @Xunzhuo

Change label count params to c_int (#494)
  candle-binding/src/ffi/init.rs
Owners: @rootfs, @Xunzhuo

update embedding setting in config
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/src/model_architectures/embedding/qwen3_embedding.rs
  config/config.yaml
  deploy/kubernetes/config.yaml
  deploy/openshift/config-openshift.yaml
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/filter_types.go
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/caching_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/test_utils_test.go
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo, @wangchen615

update embedding setting in config (#489)
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/src/model_architectures/embedding/qwen3_embedding.rs
  config/config.yaml
  deploy/kubernetes/config.yaml
  deploy/openshift/config-openshift.yaml
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/filter_types.go
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/caching_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/test_utils_test.go
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo, @wangchen615

infra: update tools
  tools/make/docs.mk
  tools/make/pre-commit.mk
  website/src/pages/community/contributing.tsx
Owners: @rootfs, @Xunzhuo

fix: fix precommit Argument list too long error
  tools/make/pre-commit.mk
Owners: @rootfs, @Xunzhuo

inject rag chunks into prompt
  config/rag_template.txt
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat: enforce milvus dial timeout if set
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/milvus_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

sample chunks added and getRAGChunks function declaration
  src/semantic-router/pkg/extproc/rag_mode_selector.go
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

[vectordb] Add embedding interface
  src/semantic-router/pkg/vectordb/embedding.go
  src/semantic-router/pkg/vectordb/embedding_interface.go
  src/semantic-router/pkg/vectordb/openai_embedding.go
Owners: @rootfs, @Xunzhuo, @wangchen615

simple prompt injection with predefined chunks
  config/config.yaml
  src/semantic-router/pkg/extproc/rag_mode_selector.go
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

[vectordb] Add OpenAI embedding service
  src/semantic-router/pkg/vectordb/embedding_interface.go
  src/semantic-router/pkg/vectordb/openai_embedding.go
Owners: @rootfs, @Xunzhuo, @wangchen615

[vectordb] Add ChromaDB integration
  src/semantic-router/pkg/vectordb/chroma_vectordb.go
Owners: @rootfs, @Xunzhuo, @wangchen615

make CUDA and Flash Attention 2 optional features
  candle-binding/Cargo.toml
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

fix:No module named 'tests' error
  e2e-tests/04-cache-test.py
Owners: @rootfs

make CUDA and Flash Attention 2 optional features (#511)
  candle-binding/Cargo.toml
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

feat: add helm support deploy support
  Makefile
  deploy/helm/README.md
  deploy/helm/semantic-router/.helmignore
  deploy/helm/semantic-router/Chart.yaml
  deploy/helm/semantic-router/README.md
  deploy/helm/semantic-router/templates/NOTES.txt
  deploy/helm/semantic-router/templates/_helpers.tpl
  deploy/helm/semantic-router/templates/configmap.yaml
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/templates/hpa.yaml
  deploy/helm/semantic-router/templates/ingress.yaml
  deploy/helm/semantic-router/templates/namespace.yaml
  deploy/helm/semantic-router/templates/pvc.yaml
  deploy/helm/semantic-router/templates/service.yaml
  deploy/helm/semantic-router/templates/serviceaccount.yaml
  deploy/helm/semantic-router/values-dev.yaml
  deploy/helm/semantic-router/values-example.yaml
  deploy/helm/semantic-router/values-prod.yaml
  deploy/helm/semantic-router/values.yaml
  deploy/helm/validate-chart.sh
  tools/make/helm.mk
Owners: @rootfs, @Xunzhuo

fix
  deploy/helm/semantic-router/templates/namespace.yaml
  deploy/helm/semantic-router/values.yaml
Owners: @rootfs, @Xunzhuo

conditionally build candle cuda support
  .github/workflows/publish-crate.yml
  .github/workflows/test-and-build.yml
  Dockerfile.extproc
  Dockerfile.extproc.cross
  candle-binding/Cargo.toml
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

chore: run go mod tidy to clean up module dependencies
  src/semantic-router/go.mod
  src/semantic-router/go.sum
Owners: @rootfs, @Xunzhuo, @wangchen615

feat: add HNSW index to inmemory semantic cache and implement hybrid cache that use in-memory index and milvus based doc store
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  config/config.development.yaml
  config/config.hybrid.yaml
  config/config.yaml
  src/semantic-router/go.mod
  src/semantic-router/go.sum
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/comprehensive_benchmark_test.go
  src/semantic-router/pkg/cache/hybrid_cache.go
  src/semantic-router/pkg/cache/hybrid_cache_test.go
  src/semantic-router/pkg/cache/hybrid_vs_milvus_benchmark_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/cache/inmemory_cache_integration_test.go
  src/semantic-router/pkg/cache/large_scale_benchmark_test.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/cache/simd_benchmark_test.go
  src/semantic-router/pkg/cache/simd_distance_amd64.go
  src/semantic-router/pkg/cache/simd_distance_amd64.s
  src/semantic-router/pkg/cache/simd_distance_generic.go
  tools/make/milvus.mk
  website/docs/tutorials/semantic-cache/hybrid-cache.md
  website/docs/tutorials/semantic-cache/in-memory-cache.md
Owners: @rootfs, @Xunzhuo, @wangchen615

fix precommit
  src/semantic-router/pkg/cache/comprehensive_benchmark_test.go
  src/semantic-router/pkg/cache/hybrid_cache_test.go
  src/semantic-router/pkg/cache/large_scale_benchmark_test.go
  src/semantic-router/pkg/cache/milvus_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix precommit
  website/docs/tutorials/semantic-cache/hybrid-cache.md
Owners: @Xunzhuo

disable cuda build on ci
  .github/workflows/pre-commit.yml
  .github/workflows/test-and-build.yml
  tools/make/build-run-test.mk
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

fix precommit
  .pre-commit-config.yaml
  src/semantic-router/pkg/cache/hybrid_cache_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

precommit fix
  src/semantic-router/pkg/cache/comprehensive_benchmark_test.go
  src/semantic-router/pkg/cache/hybrid_cache_test.go
  src/semantic-router/pkg/cache/large_scale_benchmark_test.go
  src/semantic-router/pkg/cache/milvus_cache.go
  website/docs/tutorials/semantic-cache/hybrid-cache.md
Owners: @rootfs, @Xunzhuo, @wangchen615

review feedback
  src/semantic-router/pkg/cache/comprehensive_benchmark_test.go
  src/semantic-router/pkg/cache/hybrid_cache.go
  src/semantic-router/pkg/cache/hybrid_vs_milvus_benchmark_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

rebuild index upon restart
  src/semantic-router/pkg/cache/hybrid_cache.go
  src/semantic-router/pkg/cache/milvus_cache.go
  website/docs/tutorials/semantic-cache/hybrid-cache.md
  website/docs/tutorials/semantic-cache/in-memory-cache.md
Owners: @rootfs, @Xunzhuo, @wangchen615

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo
