Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo

[vectordb] Add interface and structs for vector DB integration
  src/semantic-router/pkg/vectordb/embedding.go
  src/semantic-router/pkg/vectordb/vectordb_interface.go
Owners: @rootfs, @Xunzhuo, @wangchen615

WIP: [vectordb] Add chroma integration
  src/semantic-router/go.mod
  src/semantic-router/go.sum
  src/semantic-router/pkg/vectordb/chroma_vectordb.go
  src/semantic-router/pkg/vectordb/chroma_vectordb_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat: make llm-katan as default in docker compose up
  Dockerfile.extproc
  README.md
  config/config.yaml
  deploy/docker-compose/docker-compose.yml
  tools/make/docker.mk
  tools/make/linter.mk
  tools/make/models.mk
Owners: @rootfs, @Xunzhuo

revert semantic-router image
  deploy/docker-compose/docker-compose.yml
Owners: @rootfs, @Xunzhuo

revert semantic-router image
  deploy/docker-compose/docker-compose.yml
Owners: @rootfs, @Xunzhuo

feat: use decoder only model for classification
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
  src/training/training_lora/common_lora_utils.py
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: relocate requirements.txt to avoid netlify build errors
  requirements.txt
  tools/mock-vllm/Dockerfile
Owners: @rootfs, @Xunzhuo

review feedback
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

review feedback
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

review feedback
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

review feedback
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

add the decoder based classification mcp server
  examples/mcp-classifier-server/README.md
  examples/mcp-classifier-server/requirements_generative.txt
  examples/mcp-classifier-server/server_generative.py
Owners: @rootfs, @Xunzhuo

fix json path
  examples/mcp-classifier-server/server_embedding.py
  examples/mcp-classifier-server/server_generative.py
Owners: @rootfs, @Xunzhuo

review feedback
  examples/mcp-classifier-server/server_generative.py
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
  src/training/training_lora/common_lora_utils.py
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

doc: add dashboard.md in overview & update README
  dashboard/README.md
  dashboard/deploy/kubernetes/.gitkeep
  dashboard/deploy/kubernetes/deployment.yaml
  dashboard/deploy/local/.gitkeep
  deploy/docker-compose/README.md
  website/docs/intro.md
  website/docs/overview/dashboard.md
  website/sidebars.ts
  website/static/img/dashboard/config.png
  website/static/img/dashboard/grafana.png
  website/static/img/dashboard/landing.png
  website/static/img/dashboard/openwebui.png
  website/static/img/dashboard/topology.png
Owners: @rootfs, @Xunzhuo

add tracing to docker compose
  config/config.tracing.yaml
  config/config.yaml
  deploy/docker-compose/README.md
  deploy/docker-compose/addons/grafana-datasource-jaeger.yaml
  deploy/docker-compose/docker-compose.yml
  tools/tracing/README.md
  website/docs/tutorials/observability/tracing-quickstart.md
Owners: @rootfs, @Xunzhuo

Add News page with articles about vLLM Semantic Router
  website/docusaurus.config.ts
  website/src/pages/news.js
  website/src/pages/news.module.css
Owners: @Xunzhuo

make: ensure docker-compose-down stops profiled services; add down-core and down-llm-katan targets
  tools/make/docker.mk
Owners: @rootfs, @Xunzhuo

Add use cases documentation for multi-provider and keyword-based routing
  website/docs/use-cases/index.md
  website/docs/use-cases/keyword-based-routing.md
  website/docs/use-cases/multi-provider-routing.md
  website/sidebars.ts
Owners: @Xunzhuo

Add bi-weekly community meetings schedule
  README.md
Owners: @rootfs, @Xunzhuo

Update community meetings with separate Zoom links and calendar invites
  README.md
Owners: @rootfs, @Xunzhuo

add jaeder UI to dahsboard
  dashboard/backend/main.go
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/TracingPage.tsx
  deploy/docker-compose/docker-compose.yml
  tools/make/golang.mk
Owners: @rootfs, @Xunzhuo

rever makefile change
  tools/make/docker.mk
Owners: @rootfs, @Xunzhuo

feat: add scripts to fine tune qwen3 for knowledge specialization
  src/training/training_lora/README.md
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora.py
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora_no_leakage.py
  src/training/training_lora/mmlu_pro_solver_lora/train_all_specialists.sh
  src/training/training_lora/mmlu_pro_solver_lora/train_all_specialists_no_leakage.sh
Owners: @rootfs, @Xunzhuo, @wangchen615

fix
  examples/mcp-classifier-server/server_generative.py
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora.py
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora_no_leakage.py
  src/training/training_lora/mmlu_pro_solver_lora/train_all_specialists_no_leakage.sh
Owners: @rootfs, @Xunzhuo, @wangchen615

fix
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora.py
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora_no_leakage.py
Owners: @rootfs, @Xunzhuo, @wangchen615

Fix missing files from previous commit.
  deploy/kubernetes/istio/deployment.yaml
  deploy/kubernetes/istio/namespace.yaml
  deploy/kubernetes/istio/pvc.yaml
  deploy/kubernetes/istio/service.yaml
Owners: @rootfs, @Xunzhuo

fix chat template issue
  examples/mcp-classifier-server/server_generative.py
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora.py
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora_no_leakage.py
  src/training/training_lora/mmlu_pro_solver_lora/train_all_specialists_no_leakage.sh
Owners: @rootfs, @Xunzhuo, @wangchen615

use milvus vector database for mcp-classifier-server in examples
  examples/mcp-classifier-server/README.md
  examples/mcp-classifier-server/requirements_embedding.txt
  examples/mcp-classifier-server/server_embedding.py
Owners: @rootfs, @Xunzhuo

opt: train
  examples/mcp-classifier-server/server_generative.py
  src/training/training_lora/README.md
  src/training/training_lora/classifier_model_fine_tuning_lora/QUICK_REFERENCE.md
  src/training/training_lora/classifier_model_fine_tuning_lora/README.md
  src/training/training_lora/classifier_model_fine_tuning_lora/TRAINING_GUIDE.md
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora.py
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora_no_leakage.py
  src/training/training_lora/mmlu_pro_solver_lora/train_all_specialists.sh
  src/training/training_lora/mmlu_pro_solver_lora/train_all_specialists_no_leakage.sh
Owners: @rootfs, @Xunzhuo, @wangchen615

fix python pre-commit error & add MiniLM-L12-v2 & docker-compose-down
  .pre-commit-config.yaml
  config/config.yaml
  tools/make/docker.mk
  tools/make/models.mk
Owners: @rootfs, @Xunzhuo

update bert_model model_id
  config/config-mcp-classifier-example.yaml
  config/config.development.yaml
  config/config.e2e.yaml
  config/config.production.yaml
  config/config.recipe-accuracy.yaml
  config/config.recipe-latency.yaml
  config/config.recipe-token-efficiency.yaml
  config/config.testing.yaml
Owners: @rootfs, @Xunzhuo

fix python pre-commit error
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

fix ci build error
  .github/workflows/docker-publish.yml
  .github/workflows/test-and-build.yml
  e2e-tests/llm-katan/Dockerfile
Owners: @rootfs, @Xunzhuo

opt: train
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

opt: train
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

opt: train
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

fix(training): improve classifier training with balanced sampling and error analysis
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

more
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

fix some network bug
  dashboard/backend/main.go
  deploy/docker-compose/docker-compose.yml
Owners: @rootfs, @Xunzhuo
