Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo

support bigger models than 0.6B
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora_no_leakage.py
Owners: @rootfs, @Xunzhuo, @wangchen615

optimize gpu memory
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora_no_leakage.py
Owners: @rootfs, @Xunzhuo, @wangchen615

fix:Improve rust unit test and optimize concurrent tests with rayon
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/core/mod.rs
  candle-binding/src/core/similarity_test.rs
  candle-binding/src/core/tokenization_test.rs
  candle-binding/src/ffi/init_test.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/ffi/state_manager_test.rs
  candle-binding/src/ffi/validation_test.rs
  candle-binding/src/model_architectures/lora/lora_adapter_test.rs
  candle-binding/src/model_architectures/lora/mod.rs
Owners: @rootfs, @Xunzhuo

docs: ddd error prompts when installing VSR using Docker Compose.
  website/docs/installation/docker-compose.md
Owners: @Xunzhuo

fix train to test transition issue
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora_no_leakage.py
Owners: @rootfs, @Xunzhuo, @wangchen615

fix:Improve rust unit test and optimize concurrent tests with rayon (#471)
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/core/mod.rs
  candle-binding/src/core/similarity_test.rs
  candle-binding/src/core/tokenization_test.rs
  candle-binding/src/ffi/init_test.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/ffi/state_manager_test.rs
  candle-binding/src/ffi/validation_test.rs
  candle-binding/src/model_architectures/lora/lora_adapter_test.rs
  candle-binding/src/model_architectures/lora/mod.rs
Owners: @rootfs, @Xunzhuo

add hf_transfer pkg
  website/docs/installation/docker-compose.md
  website/docs/installation/installation.md
Owners: @Xunzhuo

chore: limit make test to minimal model download
  tools/make/build-run-test.mk
Owners: @rootfs, @Xunzhuo

feat: add support for MoM model
  config/config.development.yaml
  config/config.yaml
  dashboard/frontend/src/pages/LandingPage.tsx
  src/semantic-router/pkg/api/server.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/extproc/request_handler.go
  tools/openwebui-pipe/vllm_semantic_router_pipe.py
  website/docs/api/router.md
  website/docs/installation/installation.md
  website/docs/installation/kubernetes.md
  website/docs/tutorials/intelligent-route/reasoning.md
  website/docs/tutorials/semantic-cache/in-memory-cache.md
  website/docs/tutorials/semantic-cache/milvus-cache.md
  website/src/components/ChainOfThoughtTerminal.tsx
  website/src/components/TypewriterCode.tsx
Owners: @rootfs, @Xunzhuo, @wangchen615

docs: update code preview for mom
  README.md
  website/static/img/code-with-words.png
  website/static/img/code.png
Owners: @rootfs, @Xunzhuo

Normalize after stash pop
  .github/workflows/docker-publish.yml
  .gitignore
Owners: @rootfs, @Xunzhuo

feat: add knob for list real models
  src/semantic-router/pkg/api/server.go
  src/semantic-router/pkg/api/server_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/models_endpoint_test.go
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

more
  config/config.yaml
  src/semantic-router/pkg/api/server_test.go
  src/semantic-router/pkg/extproc/models_endpoint_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

more
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

add chat ui to dashboard and docker compose & refactor dashboard/backend/
  dashboard/backend/config/config.go
  dashboard/backend/handlers/config.go
  dashboard/backend/handlers/health.go
  dashboard/backend/handlers/static.go
  dashboard/backend/handlers/tools.go
  dashboard/backend/main.go
  dashboard/backend/middleware/cors.go
  dashboard/backend/proxy/proxy.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/HuggingChatPage.tsx
  deploy/docker-compose/docker-compose.yml
Owners: @rootfs, @Xunzhuo

try fix network error
  dashboard/backend/handlers/static.go
  dashboard/backend/proxy/proxy.go
  dashboard/backend/router/router.go
Owners: @rootfs, @Xunzhuo

add additional update
  candle-binding/Cargo.lock
Owners: @rootfs, @Xunzhuo

fix:Implement Comprehensive Rayon Parallelization for LoRA Classifiers (#464)
  candle-binding/Cargo.toml
  candle-binding/src/classifiers/lora/intent_lora.rs
  candle-binding/src/classifiers/lora/mod.rs
  candle-binding/src/classifiers/lora/parallel_engine.rs
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/classifiers/lora/pii_lora.rs
  candle-binding/src/classifiers/lora/security_lora.rs
  candle-binding/src/model_architectures/embedding/qwen3_embedding_test.rs
  candle-binding/src/model_architectures/lora/bert_lora.rs
  candle-binding/src/model_architectures/traditional/base_model.rs
Owners: @rootfs, @Xunzhuo

feat:unit tests for candle refactoring (#296)
  candle-binding/Cargo.toml
  candle-binding/src/classifiers/lora/intent_lora_test.rs
  candle-binding/src/classifiers/lora/mod.rs
  candle-binding/src/classifiers/lora/pii_lora_test.rs
  candle-binding/src/classifiers/lora/security_lora_test.rs
  candle-binding/src/classifiers/lora/token_lora_test.rs
  candle-binding/src/classifiers/mod.rs
  candle-binding/src/classifiers/traditional/batch_processor_test.rs
  candle-binding/src/classifiers/traditional/mod.rs
  candle-binding/src/classifiers/traditional/modernbert_classifier_test.rs
  candle-binding/src/classifiers/unified_test.rs
  candle-binding/src/core/config_loader_test.rs
  candle-binding/src/core/mod.rs
  candle-binding/src/core/unified_error_test.rs
  candle-binding/src/ffi/classify_test.rs
  candle-binding/src/ffi/memory_safety_test.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/lib.rs
  candle-binding/src/model_architectures/config.rs
  candle-binding/src/model_architectures/lora/bert_lora_test.rs
  candle-binding/src/model_architectures/lora/mod.rs
  candle-binding/src/model_architectures/mod.rs
  candle-binding/src/model_architectures/model_factory_test.rs
  candle-binding/src/model_architectures/routing_test.rs
  candle-binding/src/model_architectures/traditional/base_model_test.rs
  candle-binding/src/model_architectures/traditional/bert_test.rs
  candle-binding/src/model_architectures/traditional/mod.rs
  candle-binding/src/model_architectures/traditional/modernbert_test.rs
  candle-binding/src/model_architectures/unified_interface_test.rs
  candle-binding/src/test_fixtures.rs
  candle-binding/src/utils/memory.rs
  tools/make/build-run-test.mk
  tools/make/common.mk
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

fix:Improve rust unit test and optimize concurrent tests with rayon (#471)
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/core/mod.rs
  candle-binding/src/core/similarity_test.rs
  candle-binding/src/core/tokenization_test.rs
  candle-binding/src/ffi/init_test.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/ffi/state_manager_test.rs
  candle-binding/src/ffi/validation_test.rs
  candle-binding/src/model_architectures/lora/lora_adapter_test.rs
  candle-binding/src/model_architectures/lora/mod.rs
Owners: @rootfs, @Xunzhuo

fix: resolve syntax errors after rebase
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/api/server.go
Owners: @rootfs, @Xunzhuo, @wangchen615

enable flash attention
  candle-binding/Cargo.toml
  candle-binding/src/model_architectures/embedding/qwen3_embedding.rs
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

chore: simplify docker publish for multi-arch
  .github/workflows/docker-publish.yml
Owners: @rootfs, @Xunzhuo

seperate core and llm-katan
  deploy/kubernetes/README.md
  deploy/kubernetes/base/kustomization.yaml
  deploy/kubernetes/deployment.katan.yaml
  deploy/kubernetes/deployment.yaml
  deploy/kubernetes/kustomization.yaml
  deploy/kubernetes/overlays/core/kustomization.yaml
  deploy/kubernetes/overlays/llm-katan/kustomization.yaml
Owners: @rootfs, @Xunzhuo

get rig of redudent files
  deploy/kubernetes/config.yaml
  deploy/kubernetes/namespace.yaml
  deploy/kubernetes/pvc.yaml
  deploy/kubernetes/service.yaml
  deploy/kubernetes/tools_db.json
Owners: @rootfs, @Xunzhuo

expand pvc size & fix inference-pool selector error
  deploy/kubernetes/README.md
  deploy/kubernetes/ai-gateway/inference-pool/inference-pool.yaml
  deploy/kubernetes/pvc.yaml
  website/docs/installation/kubernetes.md
Owners: @rootfs, @Xunzhuo

try fix CI error
  deploy/kubernetes/base/config.yaml
  deploy/kubernetes/base/kustomization.yaml
  deploy/kubernetes/base/namespace.yaml
  deploy/kubernetes/base/pvc.yaml
  deploy/kubernetes/base/service.yaml
  deploy/kubernetes/base/tools_db.json
Owners: @rootfs, @Xunzhuo

update k8s install docs
  website/docs/installation/kubernetes.md
Owners: @Xunzhuo

add llm-katan to k8s
  deploy/kubernetes/README.md
  deploy/kubernetes/config.yaml
  deploy/kubernetes/deployment.with-llm-katan.yaml
  deploy/kubernetes/kustomization.yaml
Owners: @rootfs, @Xunzhuo

add pvc to k8s & update docs
  deploy/kubernetes/README.md
  deploy/kubernetes/base/kustomization.yaml
  deploy/kubernetes/base/pv.yaml
  deploy/kubernetes/overlays/storage/kustomization.yaml
  deploy/kubernetes/overlays/storage/namespace.yaml
  deploy/kubernetes/overlays/storage/pvc.yaml
  website/docs/installation/kubernetes.md
  website/docs/troubleshooting/network-tips.md
Owners: @rootfs, @Xunzhuo

add init models fall back
  deploy/kubernetes/base/deployment.yaml
  deploy/kubernetes/base/kustomization.yaml
  deploy/kubernetes/base/pv.example.yaml
  deploy/kubernetes/deployment.yaml
  deploy/kubernetes/overlays/core/kustomization.yaml
  deploy/kubernetes/overlays/llm-katan/kustomization.yaml
  deploy/kubernetes/overlays/llm-katan/patch-llm-katan.yaml
  website/docs/installation/kubernetes.md
  website/docs/troubleshooting/network-tips.md
Owners: @rootfs, @Xunzhuo

more
  dashboard/backend/middleware/cors.go
  dashboard/backend/proxy/proxy.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
  deploy/docker-compose/docker-compose.yml
  src/semantic-router/pkg/api/server.go
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: label count params should be c_int in the pub extern "C" fn init_unified_classifier_c
  candle-binding/src/lib.rs
Owners: @rootfs, @Xunzhuo

Update test description from Math to General
  tools/make/build-run-test.mk
Owners: @rootfs, @Xunzhuo

project: q4 roadmap
  website/blog/2025-10-20-q4-roadmap-iris.md
  website/src/css/custom.css
Owners: @Xunzhuo

project: q4 roadmap
  website/blog/2025-10-20-q4-roadmap-iris.md
Owners: @Xunzhuo

project: q4 roadmap
  website/blog/2025-10-20-q4-roadmap-iris.md
Owners: @Xunzhuo

more
  website/blog/2025-10-20-q4-roadmap-iris.md
Owners: @Xunzhuo

more
  website/blog/2025-10-20-q4-roadmap-iris.md
Owners: @Xunzhuo

more
  website/blog/2025-10-20-q4-roadmap-iris.md
  website/static/img/q4.png
Owners: @Xunzhuo
