Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

🔧 chore(ci): improve GitHub workflows for setup reliability and consistency (#860)
  .github/workflows/integration-test-dynamic-config.yml
  .github/workflows/integration-test-k8s.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test-and-build.yml
Owners: @rootfs, @Xunzhuo

fix: add ignoreDeprecations option to TypeScript configuration
  dashboard/frontend/tsconfig.json
Owners: @rootfs, @Xunzhuo

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Owners: @rootfs, @Xunzhuo

🔧 chore(make): add deps.mk for func-e and unified external binary tool management
  .gitignore
  Makefile
  tools/make/deps.mk
  tools/make/envoy.mk
Owners: @rootfs, @Xunzhuo

update
  deploy/helm/semantic-router/values.yaml
  e2e/profiles/ai-gateway/profile.go
  e2e/profiles/dynamic-config/profile.go
  e2e/profiles/dynamo/profile.go
  e2e/profiles/llm-d/profile.go
  e2e/profiles/production-stack/profile.go
  e2e/profiles/response-api/profile.go
  e2e/profiles/routing-strategies/profile.go
Owners: @rootfs, @Xunzhuo

fix: ci failures
  config/config.yaml
  src/semantic-router/pkg/config/loader.go
  src/semantic-router/pkg/config/registry.go
  tools/make/models.mk
Owners: @rootfs, @Xunzhuo, @wangchen615

update
  deploy/docker-compose/docker-compose.ci.yml
  tools/make/docker.mk
Owners: @rootfs, @Xunzhuo

update
  .github/workflows/integration-test-helm.yml
  config/config.yaml
  e2e/profiles/routing-strategies/config-with-embedding.yaml
  e2e/profiles/routing-strategies/config.yaml
  e2e/profiles/routing-strategies/values-mcp.yaml
  e2e/profiles/routing-strategies/values.yaml
Owners: @rootfs, @Xunzhuo

update
  deploy/docker-compose/docker-compose.yml
Owners: @rootfs, @Xunzhuo

fix ci
  .github/workflows/integration-test-docker.yml
  .github/workflows/integration-test-dynamic-config.yml
  .github/workflows/integration-test-k8s.yml
Owners: @rootfs, @Xunzhuo

update
  deploy/helm/semantic-router/values.yaml
  deploy/kubernetes/ai-gateway/semantic-router-values/values.yaml
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  deploy/kubernetes/dynamo/semantic-router-values/values.yaml
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/routing-strategies/values.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/config/loader.go
  src/semantic-router/pkg/config/registry.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: ci failures
  Dockerfile
  src/semantic-router/cmd/main.go
  tools/make/models.mk
Owners: @rootfs, @Xunzhuo, @wangchen615

update
  candle-binding/semantic-router_test.go
Owners: @rootfs, @Xunzhuo

update
  src/semantic-router/pkg/classification/classifier.go
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora_verifier.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: ci failures
  .github/workflows/test-and-build.yml
  bench/hallucination/config-7b.yaml
  bench/hallucination/config.yaml
  candle-binding/semantic-router.go
  candle-binding/src/ffi/init.rs
  config/config.yaml
  config/testing/config.hallucination.yaml
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/classification/fact_check_classifier_test.go
  src/semantic-router/pkg/classification/hallucination_detector_test.go
  src/semantic-router/pkg/classification/hallucination_test.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/hallucination_test.go
  src/semantic-router/pkg/extproc/req_filter_tools_test.go
  src/semantic-router/pkg/k8s/testdata/output/01-basic.yaml
  src/semantic-router/pkg/k8s/testdata/output/02-keyword-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/03-embedding-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/04-domain-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/05-keyword-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/06-keyword-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/07-domain-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/08-keyword-embedding-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/09-keyword-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/10-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/11-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/12-keyword-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/13-keyword-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/14-domain-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/15-keyword-embedding-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/16-keyword-embedding-domain-no-plugin.yaml
  src/semantic-router/pkg/tools/tools_test.go
Owners: @rootfs, @Xunzhuo, @yuezhu1, @wangchen615

Chore(CI): fix dashboard build and merge workflow
  .github/workflows/dashboard-test.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-stack.yml
  Dockerfile.stack
  dashboard/backend/Dockerfile
Owners: @rootfs, @Xunzhuo

Chore(CI): fix dashboard build and merge workflow
  src/semantic-router/pkg/extproc/extproc_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

just POC
  candle-binding/Cargo.lock
  poc-bbr-plugin/README.md
  poc-bbr-plugin/cmd/demo-candle/main.go
  poc-bbr-plugin/cmd/demo/main.go
  poc-bbr-plugin/deploy/bbr-with-vsr.yaml
  poc-bbr-plugin/docs/POC-DETAILED-EXPLANATION.html
  poc-bbr-plugin/docs/VSR-BBR-INTEGRATION-DESIGN.html
  poc-bbr-plugin/go.mod
  poc-bbr-plugin/go.sum
  poc-bbr-plugin/pkg/classifier/candle_classifier.go
  poc-bbr-plugin/pkg/classifier/interfaces.go
  poc-bbr-plugin/pkg/classifier/mock.go
  poc-bbr-plugin/pkg/plugin/semantic_router_plugin.go
  poc-bbr-plugin/tests/candle_classifier_test.go
  poc-bbr-plugin/tests/semantic_router_plugin_test.go
Owners: @rootfs, @Xunzhuo

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Owners: @rootfs, @Xunzhuo

feat(cli): comprehensive VSR CLI enhancements for production readiness
  deploy/docker-compose/docker-compose.yml
  src/semantic-router/cmd/vsr/commands/completion.go
  src/semantic-router/cmd/vsr/commands/dashboard.go
  src/semantic-router/cmd/vsr/commands/debug.go
  src/semantic-router/cmd/vsr/commands/deploy.go
  src/semantic-router/cmd/vsr/commands/env_test.go
  src/semantic-router/cmd/vsr/commands/install.go
  src/semantic-router/cmd/vsr/commands/model.go
  src/semantic-router/cmd/vsr/commands/status.go
  src/semantic-router/cmd/vsr/commands/test.go
  src/semantic-router/cmd/vsr/commands/upgrade.go
  src/semantic-router/cmd/vsr/main.go
  src/semantic-router/pkg/cli/completion/installer.go
  src/semantic-router/pkg/cli/completion/installer_test.go
  src/semantic-router/pkg/cli/debug/checker.go
  src/semantic-router/pkg/cli/deployment/deployment.go
  src/semantic-router/pkg/cli/deployment/deployment_test.go
  src/semantic-router/pkg/cli/deployment/helm.go
  src/semantic-router/pkg/cli/deployment/upgrade.go
  src/semantic-router/pkg/cli/metrics/collector.go
  src/semantic-router/pkg/cli/metrics/collector_test.go
  src/semantic-router/pkg/cli/model/manager.go
  src/semantic-router/pkg/cli/output.go
  src/semantic-router/pkg/cli/timeout/doc.go
  src/semantic-router/pkg/cli/timeout/idle_timeout.go
  src/semantic-router/pkg/cli/timeout/idle_timeout_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat(dashboard): replace external chat UI with native React component
  dashboard/backend/config/config.go
  dashboard/backend/main.go
  dashboard/backend/proxy/proxy.go
  dashboard/backend/router/router.go
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/package-lock.json
  dashboard/frontend/package.json
  dashboard/frontend/playwright.config.ts
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/pages/PlaygroundPage.tsx
Owners: @rootfs, @Xunzhuo

fix(e2e): move auth-reviewer RBAC to e2e manifests for llm-d profile
  deploy/kubernetes/llmd-base/inferencepool-llama.yaml
  deploy/kubernetes/llmd-base/inferencepool-phi4.yaml
  e2e/profiles/llm-d/manifests/rbac.yaml
Owners: @rootfs, @Xunzhuo

ci(e2e): optimize profile detection and add deploy path triggers
  .github/workflows/ci-changes.yml
  .github/workflows/integration-test-k8s.yml
Owners: @rootfs, @Xunzhuo

Add CLI ci tests to dedicated workflow and unify entrypoint
  .github/workflows/cli-integration-test.yml
  e2e-tests/cli/test_cli.py
  tools/make/build-run-test.mk
Owners: @rootfs, @Xunzhuo

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Owners: @rootfs, @Xunzhuo

refactor(cli): remove unnecessary model_scores validation from categories
  src/semantic-router/cmd/vsr/commands/install.go
  src/semantic-router/cmd/vsr/config/config.yaml
  src/semantic-router/pkg/cli/validator.go
Owners: @rootfs, @Xunzhuo, @wangchen615

chore(deps): move golang.org/x/term to direct dependency
  src/semantic-router/go.mod
Owners: @rootfs, @Xunzhuo, @wangchen615

chore(lint): fix go-lint for cmd/vsr/commands/completion_test.go
  src/semantic-router/cmd/vsr/commands/completion_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

refactor: merge semantic-router and envoy into one image
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
  .github/workflows/integration-test-docker.yml
  Dockerfile
  Dockerfile.extproc
  Dockerfile.extproc.cross
  deploy/docker-compose/addons/envoy.yaml
  deploy/docker-compose/docker-compose.ci.yml
  deploy/docker-compose/docker-compose.yml
  deploy/docker-compose/supervisord.conf
Owners: @rootfs, @Xunzhuo

fix(extproc): inject chat_template_kwargs=false when use_reasoning is disabled (Qwen3/DeepSeek)
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/req_filter_reason.go
  src/semantic-router/pkg/extproc/req_filter_reason_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix(extproc): inject chat_template_kwargs=false when use_reasoning is disabled (Qwen3/DeepSeek), while preserving user keys
  src/semantic-router/pkg/extproc/req_filter_reason.go
  src/semantic-router/pkg/extproc/req_filter_reason_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Complete rebase: Add Gemma model support with graceful skip for gated models
  .github/workflows/integration-test-docker.yml
  .github/workflows/integration-test-k8s.yml
  .github/workflows/test-and-build.yml
  candle-binding/semantic-router_test.go
  candle-binding/src/ffi/embedding.rs
  deploy/docker-compose/docker-compose.ci.yml
  deploy/docker-compose/docker-compose.yml
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/values.yaml
  e2e/pkg/framework/runner.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/dynamic-config/values.yaml
  src/semantic-router/pkg/modeldownload/downloader.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix(dashboard): add config validation and fix state mutation bug
  dashboard/backend/handlers/config.go
  dashboard/backend/handlers/config_test.go
  dashboard/backend/proxy/proxy.go
  dashboard/frontend/src/pages/ConfigPage.tsx
Owners: @rootfs, @Xunzhuo

fix(dashboard): fix gofumpt linting error in config_test.go
  dashboard/backend/handlers/config_test.go
Owners: @rootfs, @Xunzhuo

fix(dashboard): allow DNS names in vLLM endpoint addresses
  README.md
  dashboard/backend/handlers/config.go
  dashboard/backend/handlers/config_test.go
  dashboard/backend/router/router.go
  src/semantic-router/pkg/config/config_test.go
  src/vllm-sr-cli/cli/main.py
Owners: @rootfs, @Xunzhuo, @wangchen615

refactor(config): simplify external model configuration for guardrails
  config/prompt-guard/prompt_guard.yaml
  config/prompt-guard/prompt_guard_external.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/external_model_test.go
  src/semantic-router/pkg/classification/vllm_classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/k8s/converter.go
Owners: @rootfs, @Xunzhuo, @wangchen615

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Owners: @rootfs, @Xunzhuo

fix: ci failures
  README.md
Owners: @rootfs, @Xunzhuo

feat(router): add user feedback detection and classification
  candle-binding/semantic-router.go
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/feedback_detector.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/config/registry.go
  src/semantic-router/pkg/decision/engine.go
  src/vllm-sr-cli/cli/merger.py
  src/vllm-sr-cli/cli/models.py
  src/vllm-sr-cli/cli/templates/config.template.yaml
  src/vllm-sr-cli/cli/templates/router-defaults.yaml
  src/vllm-sr-cli/config.yaml
  src/vllm-sr-cli/pyproject.toml
Owners: @rootfs, @Xunzhuo, @wangchen615

docs: simplify installation guide with PyPI-first approach
  README.md
  website/docs/cli/commands-reference.md
  website/docs/cli/overview.md
  website/docs/cli/troubleshooting.md
  website/docs/installation/installation.md
  website/docs/tutorials/integration/production-stack-integration.md
  website/docusaurus.config.ts
  website/sidebars.ts
  website/static/img/banner.png
Owners: @rootfs, @Xunzhuo

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo
