Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo

Added code to detect image generation- pending routing
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

chore: refactor spam filter
  .github/workflows/anti-spam-comment-moderator.yml
  .github/workflows/anti-spam-filter.yml
  .github/workflows/cleanup-existing-spam.yml
Owners: @rootfs, @Xunzhuo

chore: refactor spam filter
  .github/workflows/anti-spam-filter.yml
  .github/workflows/cleanup-existing-spam.yml
Owners: @rootfs, @Xunzhuo

chore: refactor spam filter
  .github/workflows/anti-spam-filter.yml
  .github/workflows/cleanup-existing-spam.yml
Owners: @rootfs, @Xunzhuo

feat(e2e): enhance setup-only mode and add startup banner
  e2e/README.md
  e2e/cmd/e2e/main.go
  e2e/pkg/banner/banner.go
  e2e/pkg/framework/runner.go
  e2e/testcases/chat_completions_progressive_stress.go
Owners: @rootfs, @Xunzhuo

refactor(e2e): simplify e2e-setup and e2e-test-only targets
  tools/make/e2e.mk
Owners: @rootfs, @Xunzhuo

Connect image model
  config/config.yaml
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

✨ feat(helm): add support for extra initContainer env variables.
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/values.yaml
Owners: @rootfs, @Xunzhuo

Fix compilerBrokenImport on macOS M1
  candle-binding/semantic-router.go
Owners: @rootfs, @Xunzhuo

Fix skipped model directory tests
  candle-binding/src/ffi/init.rs
  src/semantic-router/pkg/classification/classifier_test.go
  tools/make/models.mk
Owners: @rootfs, @Xunzhuo, @wangchen615

chore: update community meeting calendar
  README.md
Owners: @rootfs, @Xunzhuo

Add fine-tuned BERT model
  config/config.yaml
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Update docker-compose.yml
  deploy/docker-compose/docker-compose.yml
Owners: @rootfs, @Xunzhuo

Update config, Dockerfiles, and grafana settings
  config/config.yaml
  dashboard/Dockerfile
  dashboard/backend/Dockerfile
  deploy/docker-compose/addons/grafana.ini
  deploy/docker-compose/docker-compose-bk.yml
  tools/mock-vllm/Dockerfile
Owners: @rootfs, @Xunzhuo

fix: fixed the font display issue on the team page in dark mode.
  website/src/pages/community/team.module.css
Owners: @Xunzhuo

fix ci
  e2e/profiles/dynamic-config/crds/intelligentroute.yaml
Owners: @rootfs, @Xunzhuo

[adaptive rag] Add a confidence threshold config
  src/semantic-router/pkg/config/config.go
Owners: @rootfs, @Xunzhuo, @wangchen615

[adaptive rag] Make adapive RAG decision based on perplexity without RAG
  src/semantic-router/pkg/extproc/rag_mode_selector.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat: Add aibrix profile for E2E testing framework
  .github/workflows/integration-test-k8s.yml
  e2e/README.md
  e2e/cmd/e2e/main.go
  e2e/profiles/aibrix/profile.go
  tools/make/e2e.mk
Owners: @rootfs, @Xunzhuo

Add E2E tests for keyword routing
  .github/workflows/unit-test-e2e-testcases.yml
  e2e-tests/testcases/go.mod
  e2e-tests/testcases/go.sum
  e2e-tests/testcases/helpers.go
  e2e-tests/testcases/keyword_routing_test.go
  e2e-tests/testcases/suite_test.go
  e2e-tests/testcases/testdata/keyword_routing_cases.json
Owners: @rootfs, @Xunzhuo

[adaptive rag] Remove incorrect space in struct yaml tag
  src/semantic-router/pkg/config/config.go
Owners: @rootfs, @Xunzhuo, @wangchen615

querying matched model endpoint for log probs
  src/semantic-router/pkg/extproc/chat_completions_client.go
  src/semantic-router/pkg/extproc/rag_mode_selector.go
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Update e2e/profiles/aibrix/profile.go
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  e2e/profiles/aibrix/profile.go
Owners: @rootfs, @Xunzhuo

📝 docs(gaie): add Gateway API inference extension docs (#664)
  deploy/kubernetes/istio/gateway.yaml
  website/docs/installation/k8s/gateway-api-inference-extension.md
Owners: @rootfs, @Xunzhuo

📝 docs(sidebars): add gateway-api-inference-extension to k8s installation section
  website/sidebars.ts
Owners: @Xunzhuo

Add comprehensive keyword routing tests to e2e/testcases
  .github/workflows/unit-test-e2e-testcases.yml
  .gitignore
  e2e-tests/testcases/go.mod
  e2e-tests/testcases/go.sum
  e2e/go.mod
  e2e/go.sum
  e2e/testcases/helpers.go
  e2e/testcases/keyword_routing.go
  e2e/testcases/keyword_routing_test.go
  e2e/testcases/suite_test.go
  e2e/testcases/testdata/embedding_routing_cases.json
  e2e/testcases/testdata/hybrid_routing_cases.json
  e2e/testcases/testdata/keyword_routing_cases.json
Owners: @rootfs, @Xunzhuo

chore: Delete test_file.txt
  test_file.txt
Owners: @rootfs, @Xunzhuo

infra(precommit): fix md precommit error
  tools/linter/markdown/markdownlint.yaml
Owners: @rootfs, @Xunzhuo

fix pre commit issue
  tools/linter/markdown/markdownlint.yaml
Owners: @rootfs, @Xunzhuo

Change the test localtion to e2e/testcase and remove not needed code that was for other tests cases that not done yet.
  .github/workflows/integration-test-k8s.yml
  .github/workflows/unit-test-e2e-testcases.yml
  e2e-tests/testcases/go.mod
  e2e-tests/testcases/go.sum
  e2e-tests/testcases/helpers.go
  e2e-tests/testcases/keyword_routing_test.go
  e2e-tests/testcases/suite_test.go
  e2e/cmd/e2e/main.go
  e2e/profiles/routing-strategies/config.yaml
  e2e/profiles/routing-strategies/profile.go
  e2e/profiles/routing-strategies/values.yaml
  e2e/testcases/keyword_routing.go
  e2e/testcases/testdata/keyword_routing_cases.json
Owners: @rootfs, @Xunzhuo

refine unit test
  src/semantic-router/pkg/extproc/mapping_responses_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

observability support
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/observability/metrics/metrics.go
Owners: @rootfs, @Xunzhuo, @wangchen615

streaming support
  src/semantic-router/pkg/extproc/mapping_responses.go
  src/semantic-router/pkg/extproc/mapping_responses_test.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

tools support
  src/semantic-router/pkg/extproc/mapping_responses.go
Owners: @rootfs, @Xunzhuo, @wangchen615

response mapping init
  config/config.development.yaml
  config/config.yaml
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/mapping_responses.go
  src/semantic-router/pkg/extproc/mapping_responses_test.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/extproc/request_handler.go
  website/docs/api/router.md
Owners: @rootfs, @Xunzhuo, @wangchen615

fix config/config.yaml error
  config/config.yaml
Owners: @rootfs, @Xunzhuo

get detailed CI logs
  .github/workflows/test-and-build.yml
Owners: @rootfs, @Xunzhuo

fix typo
  deploy/docker-compose/addons/llm-router-dashboard.json
Owners: @rootfs, @Xunzhuo

add openwebui support
  dashboard/backend/.gitkeep
  deploy/docker-compose/addons/vllm_semantic_router_pipe.py
Owners: @rootfs, @Xunzhuo

skip tool use in CI test
  .github/workflows/test-and-build.yml
  src/semantic-router/pkg/extproc/mapping_responses_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615
