Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo

add 2 more metric to grafana panel
  deploy/docker-compose/addons/llm-router-dashboard.json
Owners: @rootfs, @Xunzhuo

[E2E] Add Signal-Decision Engine Test Coverage for New Plugin Architecture
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  e2e/README.md
  e2e/profiles/ai-gateway/profile.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/aibrix/profile.go
  e2e/profiles/dynamic-config/crds/intelligentroute.yaml
  e2e/profiles/dynamic-config/profile.go
  e2e/testcases/common.go
  e2e/testcases/decision_fallback.go
  e2e/testcases/decision_priority.go
  e2e/testcases/keyword_routing.go
  e2e/testcases/plugin_chain_execution.go
  e2e/testcases/plugin_config_variations.go
  e2e/testcases/rule_condition_logic.go
  website/docs/api/crd-reference.md
Owners: @rootfs, @Xunzhuo

🔧 chore(docker): overhaul precommit Dockerfile to multi-stage build
  Dockerfile.precommit
Owners: @rootfs, @Xunzhuo

fix wrong header in test
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  e2e/README.md
  e2e/profiles/dynamic-config/crds/intelligentroute.yaml
  e2e/testcases/decision_priority.go
  e2e/testcases/plugin_chain_execution.go
Owners: @rootfs, @Xunzhuo

chore: adjust github ci exec condition
  .github/workflows/helm-publish.yml
  .github/workflows/integration-test-docker.yml
  .github/workflows/integration-test-dynamic-config.yml
  .github/workflows/integration-test-helm.yml
  .github/workflows/integration-test-k8s.yml
  .github/workflows/test-and-build.yml
Owners: @rootfs, @Xunzhuo

fix
  .github/workflows/helm-publish.yml
Owners: @rootfs, @Xunzhuo

[adaptive rag] Make adaptive RAG mechanism configurable
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/rag_mode_selector.go
Owners: @rootfs, @Xunzhuo, @wangchen615

querying matchedModel endpoint for log probs and calc perplexity
  config/config.yaml
  src/semantic-router/pkg/extproc/chat_completions_client.go
  src/semantic-router/pkg/extproc/rag_mode_selector.go
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat(llm-katan): Add Kubernetes deployment support
  e2e-tests/llm-katan/deploy/docs/README.md
  e2e-tests/llm-katan/deploy/kubernetes/base/deployment.yaml
  e2e-tests/llm-katan/deploy/kubernetes/base/kustomization.yaml
  e2e-tests/llm-katan/deploy/kubernetes/base/namespace.yaml
  e2e-tests/llm-katan/deploy/kubernetes/base/pvc.yaml
  e2e-tests/llm-katan/deploy/kubernetes/base/service.yaml
  e2e-tests/llm-katan/deploy/kubernetes/components/common/kustomization.yaml
  e2e-tests/llm-katan/deploy/kubernetes/overlays/claude/kustomization.yaml
  e2e-tests/llm-katan/deploy/kubernetes/overlays/gpt35/kustomization.yaml
  e2e-tests/llm-katan/llm_katan/config.py
Owners: @rootfs

feat: implement vsr CLI tool (Issue #234)
  Dockerfile.dev
  README.md
  src/semantic-router/cmd/vsr/commands/config.go
  src/semantic-router/cmd/vsr/commands/deploy.go
  src/semantic-router/cmd/vsr/commands/get.go
  src/semantic-router/cmd/vsr/commands/install.go
  src/semantic-router/cmd/vsr/commands/status.go
  src/semantic-router/cmd/vsr/commands/test.go
  src/semantic-router/cmd/vsr/config/config.yaml
  src/semantic-router/cmd/vsr/main.go
  src/semantic-router/go.mod
  src/semantic-router/go.sum
  src/semantic-router/pkg/cli/deployment/deployment.go
  src/semantic-router/pkg/cli/output.go
  src/semantic-router/pkg/cli/validator.go
  tools/make/build-run-test.mk
  website/docs/cli/commands-reference.md
  website/docs/cli/overview.md
  website/docs/cli/troubleshooting.md
Owners: @rootfs, @Xunzhuo, @wangchen615

refactor: remove error classification logic from deployment
  src/semantic-router/pkg/cli/deployment/deployment.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Fix code regression caused by other recent commits + adjust the templating logic of the OPENAI_API_KEY
  deploy/kubernetes/istio/config.yaml
  deploy/kubernetes/istio/deployment.yaml
  deploy/kubernetes/llmd-base/llmd+public-llm/README.md
  deploy/kubernetes/llmd-base/llmd+public-llm/config.yaml.local
  deploy/kubernetes/llmd-base/llmd+public-llm/config.yaml.openai
  deploy/kubernetes/llmd-base/llmd+public-llm/httproute-openai.template
Owners: @rootfs, @Xunzhuo

✨ feat(e2e/llm-d): add LLM-D profile and test cases
  .github/workflows/integration-test-k8s.yml
  e2e/README.md
  e2e/cmd/e2e/main.go
  e2e/profiles/llm-d/manifests/httproute-services.yaml
  e2e/profiles/llm-d/manifests/inference-sim.yaml
  e2e/profiles/llm-d/manifests/rbac.yaml
  e2e/profiles/llm-d/profile.go
  e2e/profiles/llm-d/values.yaml
  e2e/testcases/llmd_auto_routing.go
  e2e/testcases/llmd_distributed_inference.go
  e2e/testcases/llmd_failover_recovery.go
  e2e/testcases/llmd_health_check.go
  e2e/testcases/llmd_helpers.go
  e2e/testcases/llmd_performance_baseline.go
  tools/make/e2e.mk
Owners: @rootfs, @Xunzhuo

fix(api): expose actual PII confidence scores instead of hardcoded 0.9
  config/testing/config.e2e.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/services/classification.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Add gemini integration
  config/config.yaml
  config/envoy.yaml
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Change the test localtion to e2e/testcase and remove not needed code that was for other tests cases that not done yet.
  .github/workflows/integration-test-k8s.yml
  .github/workflows/unit-test-e2e-testcases.yml
  e2e-tests/testcases/go.mod
  e2e-tests/testcases/go.sum
  e2e-tests/testcases/helpers.go
  e2e-tests/testcases/keyword_routing_test.go
  e2e-tests/testcases/suite_test.go
  e2e-tests/testcases/testdata/keyword_routing_cases.json
  e2e/cmd/e2e/main.go
  e2e/profiles/routing-strategies/config.yaml
  e2e/profiles/routing-strategies/profile.go
  e2e/profiles/routing-strategies/values.yaml
  e2e/testcases/keyword_routing.go
  e2e/testcases/testdata/keyword_routing_cases.json
Owners: @rootfs, @Xunzhuo

docs: add SEO config
  website/docusaurus.config.ts
  website/src/theme/Root.tsx
  website/static/robots.txt
Owners: @Xunzhuo

✨ doc(sidebars): add k8s istio and llm-d; add integration and MCP classification categories
  website/sidebars.ts
Owners: @Xunzhuo

fix: keep existing InMemory HNSW nodes searchable after eviction
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Fix fine-tuned model loading
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
  candle-binding/src/ffi/types.rs
  config/config.yaml
  src/semantic-router/pkg/utils/classification/classifier.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat: add unified jailbreak classifier with LazyLock optimization and benchmarks
  bench/.gitignore
  bench/Makefile
  bench/comprehensive_jailbreak_bench.go
  bench/go.mod
  bench/jailbreak_bench_test.go
  bench/run_jailbreak_bench.sh
  candle-binding/semantic-router.go
  candle-binding/semantic-router_test.go
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
  candle-binding/src/model_architectures/jailbreak_factory.rs
  candle-binding/src/model_architectures/mod.rs
  candle-binding/src/model_architectures/traditional/deberta_v3_test.rs
  deploy/kubernetes/istio/config.yaml
  deploy/kubernetes/istio/vLlama3.yaml
  deploy/kubernetes/istio/vPhi4.yaml
  deploy/openshift/openwebui/pvc.yaml
  examples/jailbreak-unified-example.yaml
  examples/jailbreak_unified_test.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/extproc/extproc_test.go
  website/package-lock.json
  website/src/theme/Root.tsx
Owners: @yuezhu1, @Xunzhuo, @rootfs, @wangchen615

Update keyword routing tests to match reference implementation
  test-report.json
  test-report.md
Owners: @rootfs, @Xunzhuo

Test scripts to validate integrating model end-to-end
  src/semantic-router/cmd/test-my-classifer/main.go
  src/semantic-router/cmd/test-my-classifer/main_debug.go
Owners: @rootfs, @Xunzhuo, @wangchen615

docs: add detailed CI coverage info to gateway integrations page
  website/docs/overview/architecture/gateway-integrations.md
Owners: @Xunzhuo

📝 docs(architecture): add gateway integrations overview and sidebar entries
  website/docs/overview/architecture/gateway-integrations.md
  website/sidebars.ts
Owners: @Xunzhuo

feat: enable LoRA auto-detection for intent classification (#724)
  candle-binding/src/classifiers/lora/intent_lora.rs
  candle-binding/src/core/tokenization.rs
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
  candle-binding/src/model_architectures/lora/bert_lora.rs
  deploy/helm/semantic-router/values.yaml
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  src/semantic-router/pkg/classification/lora_auto_detection_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: enable LoRA intent classification and optimize PII threshold
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/dynamic-config/values.yaml
  src/semantic-router/pkg/classification/classifier.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix(ci): bump model cache version to pick up lora_config.json
  .github/workflows/test-and-build.yml
Owners: @rootfs, @Xunzhuo

chore: switch default config to use LoRA models with optimized thresholds
  config/config.yaml
Owners: @rootfs, @Xunzhuo

run embedding tests
  .github/workflows/integration-tests-embedding.yml
  src/semantic-router/test/integration/README.md
  src/semantic-router/test/integration/embedding_concurrency_test.go
  src/semantic-router/test/integration/embedding_memory_test.go
  src/semantic-router/test/integration/embedding_performance_test.go
  src/semantic-router/test/integration/embedding_test_helpers.go
  tools/make/build-run-test.mk
Owners: @rootfs, @Xunzhuo, @wangchen615

Remove accidentally committed test report files
  deploy/kubernetes/routing-strategies/aigw-resources/base-model.yaml
  deploy/kubernetes/routing-strategies/aigw-resources/gwapi-resources.yaml
  e2e/profiles/ai-gateway/profile.go
  e2e/profiles/aibrix/profile.go
  e2e/profiles/dynamic-config/profile.go
  e2e/profiles/routing-strategies/config.yaml
  e2e/profiles/routing-strategies/profile.go
  e2e/testcases/keyword_routing.go
  e2e/testcases/testdata/keyword_routing_cases.json
  test-report.json
  test-report.md
Owners: @rootfs, @Xunzhuo

rag decision query
  config/rag_decision_query.txt
Owners: @rootfs, @Xunzhuo

updated config to accept path for rag decision query
  src/semantic-router/pkg/config/config.go
Owners: @rootfs, @Xunzhuo, @wangchen615

[adaptive rag] Update config name for RAG decision template path
  src/semantic-router/pkg/config/config.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Add queryModel method to query chat competions client
  src/semantic-router/pkg/extproc/chat_completions_client.go
Owners: @rootfs, @Xunzhuo, @wangchen615

[adaptive rag] Add skeleton for self reflection-based adaptive RAG decision
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/rag_mode_selector.go
Owners: @rootfs, @Xunzhuo, @wangchen615

[adaptive rag] Implement reflection-based adaptive RAG decision
  src/semantic-router/pkg/extproc/rag_mode_selector.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Fix keyword routing: change yaml field from 'category' to 'name'
  e2e/profiles/routing-strategies/config.yaml
Owners: @rootfs, @Xunzhuo

Fix keyword routing in values.yaml: field names and decision types
  e2e/profiles/routing-strategies/values.yaml
Owners: @rootfs, @Xunzhuo

Fix model references: change qwen3 to base-model
  e2e/profiles/routing-strategies/values.yaml
Owners: @rootfs, @Xunzhuo
