Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

feat: enhance OpenShift deployment with one-click observability stack
  dashboard/Dockerfile
  deploy/openshift/README.md
  deploy/openshift/cleanup-openshift.sh
  deploy/openshift/dashboard/PlaygroundPage.tsx.patch
  deploy/openshift/dashboard/README.md
  deploy/openshift/dashboard/build-custom-dashboard.sh
  deploy/openshift/deploy-to-openshift.sh
  deploy/openshift/observability/README.md
  deploy/openshift/openwebui/README.md
  deploy/openshift/openwebui/route.yaml
Owners: @rootfs, @Xunzhuo

fix: add blank lines around lists in OpenShift README for markdown linting (MD032)
  deploy/openshift/README.md
Owners: @rootfs, @Xunzhuo

fix(openshift): make vLLM endpoint IPs dynamic and lower classification threshold
  deploy/openshift/config-openshift.yaml
  deploy/openshift/deploy-to-openshift.sh
Owners: @rootfs, @Xunzhuo

feat(openshift): enable GPU for vLLM models and lower classification threshold
  deploy/openshift/config-openshift.yaml
  deploy/openshift/deployment.yaml
Owners: @rootfs, @Xunzhuo

[Doc] Reorganize intelligent routing tutorials into focused guides
  website/docs/tutorials/intelligent-route/domain-routing.md
  website/docs/tutorials/intelligent-route/embedding-routing.md
  website/docs/tutorials/intelligent-route/keyword-routing.md
  website/docs/tutorials/intelligent-route/lora-routing.md
  website/docs/tutorials/intelligent-route/mcp-routing.md
  website/docs/tutorials/intelligent-route/overview.md
  website/docs/tutorials/intelligent-route/reasoning.md
  website/sidebars.ts
Owners: @Xunzhuo

[Doc] Fix MDX compilation and markdown lint errors
  website/docs/tutorials/intelligent-route/domain-routing.md
  website/docs/tutorials/intelligent-route/embedding-routing.md
  website/docs/tutorials/intelligent-route/keyword-routing.md
  website/docs/tutorials/intelligent-route/lora-routing.md
  website/docs/tutorials/intelligent-route/mcp-routing.md
Owners: @Xunzhuo

fix(openshift): update MongoDB image and deployment script for ChatUI
  deploy/openshift/deploy-to-openshift.sh
  deploy/openshift/mongo/deployment.yaml
Owners: @rootfs, @Xunzhuo

fix(docs): add blank lines around fenced code blocks for markdown lint
  deploy/openshift/chatui/README.md
  deploy/openshift/mongo/README.md
Owners: @rootfs, @Xunzhuo

fix(openshift): add ChatUI (HuggingChat) deployment with MongoDB support
  deploy/openshift/chatui/README.md
  deploy/openshift/chatui/deployment.yaml
  deploy/openshift/dashboard/dashboard-deployment.yaml
  deploy/openshift/mongo/README.md
  deploy/openshift/mongo/deployment.yaml
Owners: @rootfs, @Xunzhuo

[adaptive rag] Add skeleton for logprobs-based adaptive RAG decision
  src/semantic-router/pkg/extproc/rag_mode_selector.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: Grafana monitoring page iframe embedding and dynamic cluster configuration
  dashboard/backend/router/router.go
  dashboard/frontend/src/pages/MonitoringPage.tsx
  deploy/openshift/dashboard/dashboard-deployment.yaml
  deploy/openshift/deploy-to-openshift.sh
  deploy/openshift/observability/grafana/deployment.yaml
  deploy/openshift/tools_db.json
Owners: @rootfs, @Xunzhuo

Add image detection
  config/config.yaml
  src/semantic-router/pkg/api/server.go
  src/semantic-router/pkg/services/classification.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat: Implement ReDoS-safe regex scanning provider
  candle-binding/regex_provider.go
  candle-binding/regex_provider_bench_test.go
  candle-binding/regex_provider_test.go
Owners: @rootfs, @Xunzhuo

vSR + public/OpenAI + local llm + istio + LLM-d deployment guide
  deploy/kubernetes/istio/README.md
  deploy/kubernetes/llmd-base/llmd+public-llm/README.md
  deploy/kubernetes/llmd-base/llmd+public-llm/config.yaml.local
  deploy/kubernetes/llmd-base/llmd+public-llm/config.yaml.openai
  deploy/kubernetes/llmd-base/llmd+public-llm/dest-rule-openai.yaml
  deploy/kubernetes/llmd-base/llmd+public-llm/httproute-openai.yaml
  deploy/kubernetes/llmd-base/llmd+public-llm/svc-entry-openai.yaml
  deploy/kubernetes/llmd-base/llmd+public-llm/svc-openai.yaml
Owners: @rootfs, @Xunzhuo

fix(lint): fix pre-commit
  candle-binding/regex_provider.go
  candle-binding/regex_provider_test.go
Owners: @rootfs, @Xunzhuo

feat: add Jaeger tracing observability to OpenShift deployment
  deploy/openshift/observability/jaeger/deployment.yaml
  deploy/openshift/observability/jaeger/route.yaml
  deploy/openshift/observability/jaeger/service.yaml
Owners: @rootfs, @Xunzhuo

feat: integrate Jaeger deployment into main deployment script
  deploy/openshift/deploy-to-openshift.sh
Owners: @rootfs, @Xunzhuo

Extend to server, router integ and classification
  config/config.yaml
  src/semantic-router/pkg/api/server.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/services/classification.go
Owners: @rootfs, @Xunzhuo, @wangchen615

ci(helm): add workflow to publish Helm chart to GHCR on merge
  .github/workflows/helm-publish.yml
Owners: @rootfs, @Xunzhuo

added rl config
  candle-binding/src/core/config_loader.rs
  config/config.yaml
  src/training/training_lora/README.md
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
  src/training/training_lora/rl_utils.py
Owners: @rootfs, @Xunzhuo, @wangchen615

fix(helm): remove namespace template to resolve installation conflicts
  deploy/helm/semantic-router/templates/namespace.yaml
Owners: @rootfs, @Xunzhuo

fix(ci): update helm-ci workflow to remove namespace check
  .github/workflows/helm-ci.yml
Owners: @rootfs, @Xunzhuo

fix(ci): update validate-chart.sh to remove namespace checks
  deploy/helm/validate-chart.sh
Owners: @rootfs, @Xunzhuo

chore: reduce initial delay for liveness and readiness probes
  deploy/helm/semantic-router/values.yaml
Owners: @rootfs, @Xunzhuo

[Doc] Migrate Helm README to helm-docs format and remove example values files
  .github/workflows/helm-ci.yml
  deploy/helm/semantic-router/README.md
  deploy/helm/semantic-router/values-dev.yaml
  deploy/helm/semantic-router/values-example.yaml
  deploy/helm/semantic-router/values-prod.yaml
  deploy/helm/semantic-router/values.yaml
  deploy/helm/validate-chart.sh
  website/docs/installation/k8s/ai-gateway.md
  website/docs/installation/k8s/aibrix.md
  website/sidebars.ts
Owners: @rootfs, @Xunzhuo

CI
  .github/workflows/integration-test-docker.yml
  .github/workflows/integration-test-helm.yml
  .github/workflows/k8s-config-test.yml
  .github/workflows/k8s-integration-test.yml
  .github/workflows/k8s-kind-integration-test.yml
  .github/workflows/k8s-security-scan.yml
  .github/workflows/k8s-validate-manifests.yml
Owners: @rootfs, @Xunzhuo

CI
  .github/workflows/integration-test-ai-gateway.yml
  .github/workflows/integration-test-helm.yml
  Makefile
  e2e/.gitignore
  e2e/README.md
  e2e/cmd/e2e/main.go
  e2e/go.mod
  e2e/go.sum
  e2e/pkg/cluster/kind.go
  e2e/pkg/docker/builder.go
  e2e/pkg/framework/runner.go
  e2e/pkg/framework/types.go
  e2e/pkg/helm/deployer.go
  e2e/pkg/testcases/registry.go
  e2e/profiles/ai-gateway/profile.go
  e2e/profiles/ai-gateway/testcases.go
  tools/make/e2e.mk
Owners: @rootfs, @Xunzhuo

fix: hnsw layer pivot ordering
  src/semantic-router/pkg/cache/inmemory_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Add Qwen3Guard support for prompt guard (WIP) Co-authored-by: Chen Wang <Chen.Wang1@ibm.com> Co-authored-by: Yue Zhu <16687552+yuezhu1@users.noreply.github.com>
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/config/config.go
Owners: @rootfs, @Xunzhuo, @wangchen615

update based on success
  deploy/kserve/README.md
  deploy/kserve/configmap-envoy-config.yaml
  deploy/kserve/configmap-router-config.yaml
  deploy/kserve/deployment.yaml
  deploy/kserve/inference-examples/inferenceservice-granite32-8b.yaml
  deploy/kserve/kustomization.yaml
  deploy/kserve/pvc.yaml
Owners: @rootfs, @Xunzhuo

directions including the usage of a new svc
  deploy/kserve/QUICKSTART.md
  deploy/kserve/deploy.sh
  deploy/kserve/peerauthentication.yaml
  deploy/kserve/service-predictor-stable.yaml
Owners: @rootfs, @Xunzhuo

working solution
  deploy/kserve/QUICKSTART.md
  deploy/kserve/README.md
  deploy/kserve/configmap-router-config.yaml
  deploy/kserve/deploy.sh
  deploy/kserve/deployment.yaml
  deploy/kserve/test-semantic-routing.sh
Owners: @rootfs, @Xunzhuo

linting due to missing line
  deploy/kserve/service-predictor-stable.yaml
Owners: @rootfs, @Xunzhuo

line spacing fix
  deploy/kserve/service-predictor-stable.yaml
Owners: @rootfs, @Xunzhuo

fix lint
  deploy/kserve/QUICKSTART.md
  deploy/kserve/README.md
  deploy/kserve/deploy.sh
  deploy/kserve/service-predictor-stable.yaml
Owners: @rootfs, @Xunzhuo

more of a brief readme
  deploy/kserve/QUICKSTART.md
  deploy/kserve/README.md
Owners: @rootfs, @Xunzhuo

added docs and tests
  docs/RL_IMPLEMENTATION_GUIDE.md
  docs/RL_INTEGRATION_SUMMARY.md
  docs/RL_QUICKSTART.md
  docs/RL_WHAT_WAS_DELIVERED.md
  src/training/training_lora/rl_ppo_trainer.py
  src/training/training_lora/train_with_rl_example.py
  tests/test_intent_rl.py
Owners: @rootfs, @Xunzhuo, @wangchen615

lint
  e2e/scripts/generate_test_data.py
Owners: @rootfs, @Xunzhuo

chore: enhance moderator
  .github/workflows/anti-spam-comment-moderator.yml
  .github/workflows/cleanup-existing-spam.yml
Owners: @rootfs, @Xunzhuo

Added image generation categories
  config/config.yaml
Owners: @rootfs, @Xunzhuo

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo
