Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

add README for model_manager module
  src/model_manager/README.md
Owners: @rootfs, @Xunzhuo, @wangchen615

update CI
  .github/workflows/integration-test-docker.yml
  .github/workflows/performance-nightly.yml
  .github/workflows/performance-test.yml
  .github/workflows/test-and-build.yml
Owners: @rootfs, @Xunzhuo

Add hybrid routing tests, Keyword → Embedding → BERT → MCP
  e2e/profiles/routing-strategies/config-with-embedding.yaml
  e2e/profiles/routing-strategies/profile.go
  e2e/testcases/routing_fallback.go
  e2e/testcases/testdata/routing_fallback_cases.json
Owners: @rootfs, @Xunzhuo

rust vit
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/src/model_architectures/mod.rs
  candle-binding/src/model_architectures/vision/clip_encoder.rs
  candle-binding/src/model_architectures/vision/image_utils.rs
  candle-binding/src/model_architectures/vision/mod.rs
Owners: @rootfs, @Xunzhuo

ffi for vit
  candle-binding/src/ffi/mod.rs
  candle-binding/src/ffi/types.rs
  candle-binding/src/ffi/vision.rs
Owners: @rootfs, @Xunzhuo

vit test
  candle-binding/src/ffi/vision_test.rs
Owners: @rootfs, @Xunzhuo

go bindings
  candle-binding/semantic-router.go
Owners: @rootfs, @Xunzhuo

multimodal support
  src/semantic-router/pkg/cache/cache.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/services/classification.go
Owners: @rootfs, @Xunzhuo, @wangchen615

multimodal test
  src/semantic-router/pkg/services/classification_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

config changes
  config/config.yaml
Owners: @rootfs, @Xunzhuo

Documentation
  src/semantic-router/pkg/apiserver/route_api_doc.go
  website/docs/api/classification.md
  website/docs/cookbook/categories-configuration.md
  website/docs/tutorials/intelligent-route/multimodal-routing.md
Owners: @rootfs, @Xunzhuo, @wangchen615

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Owners: @rootfs, @Xunzhuo

Add Entropy testing for reasnoning decision acccording to probabilities calculation
  e2e/profiles/routing-strategies/profile.go
  e2e/testcases/entropy_routing.go
  e2e/testcases/testdata/entropy_routing_cases.json
  src/semantic-router/pkg/utils/entropy/entropy_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Add repository check to stop automated baseline commits on forks.
  .github/workflows/performance-nightly.yml
Owners: @rootfs, @Xunzhuo

Disable the peformance comparision agaist baseline, keep just the perofrmance bench mark testing per PR
  .github/workflows/performance-nightly.yml
  .github/workflows/performance-test.yml
Owners: @rootfs, @Xunzhuo

add hr_transfer to requirement
  .github/workflows/integration-test-docker.yml
  .github/workflows/performance-nightly.yml
  .github/workflows/performance-test.yml
  .github/workflows/test-and-build.yml
  src/model_manager/requirements.txt
Owners: @rootfs, @Xunzhuo, @wangchen615

adding directory for RAG classfier
  rag-classifier-scripts/test.txt
Owners: @rootfs, @Xunzhuo

accept reviews in README
  src/model_manager/README.md
Owners: @rootfs, @Xunzhuo, @wangchen615

feat: ad hallucination bench
  bench/hallucination/README.md
  bench/hallucination/__init__.py
  bench/hallucination/config-7b.yaml
  bench/hallucination/config.yaml
  bench/hallucination/datasets.py
  bench/hallucination/evaluate.py
  tools/make/build-run-test.mk
Owners: @yuezhu1, @Xunzhuo, @rootfs

fix(dashboard): proxy Jaeger /dependencies route
  dashboard/backend/router/router.go
Owners: @rootfs, @Xunzhuo

add tests for pii and tls module
  src/semantic-router/pkg/utils/pii/policy_test.go
  src/semantic-router/pkg/utils/tls/tls_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat: Add function tool call guard containing: (#841)
  e2e-tests/tool-verifier-demo/README.md
  e2e-tests/tool-verifier-demo/__init__.py
  e2e-tests/tool-verifier-demo/chat_client.py
  e2e-tests/tool-verifier-demo/mock_vllm_toolcall.py
  e2e-tests/tool-verifier-demo/run_demo.sh
  e2e/testcases/testdata/jailbreak_detection_cases.json
  src/semantic-router/pkg/classification/tool_verifier.go
  src/semantic-router/pkg/config/tool_verifier.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/res_filter_tool_verifier.go
  src/semantic-router/pkg/extproc/tool_verifier_test.go
  src/training/tool_verifier_training/.gitignore
  src/training/tool_verifier_training/README.md
  src/training/tool_verifier_training/data_generation/__init__.py
  src/training/tool_verifier_training/data_generation/base.py
  src/training/tool_verifier_training/data_generation/cli.py
  src/training/tool_verifier_training/data_generation/config.py
  src/training/tool_verifier_training/data_generation/datasets.py
  src/training/tool_verifier_training/data_generation/entities.py
  src/training/tool_verifier_training/data_generation/generators/__init__.py
  src/training/tool_verifier_training/data_generation/generators/adversarial.py
  src/training/tool_verifier_training/data_generation/generators/authentication.py
  src/training/tool_verifier_training/data_generation/generators/code_execution.py
  src/training/tool_verifier_training/data_generation/generators/email.py
  src/training/tool_verifier_training/data_generation/generators/filesystem.py
  src/training/tool_verifier_training/data_generation/generators/financial.py
  src/training/tool_verifier_training/data_generation/generators/injection.py
  src/training/tool_verifier_training/data_generation/generators/jailbreak_patterns.py
  src/training/tool_verifier_training/data_generation/generators/network.py
  src/training/tool_verifier_training/data_generation/generators/sysadmin.py
  src/training/tool_verifier_training/data_generation/loaders/__init__.py
  src/training/tool_verifier_training/data_generation/loaders/huggingface.py
  src/training/tool_verifier_training/data_generation/orchestrator.py
  src/training/tool_verifier_training/requirements.txt
  src/training/tool_verifier_training/train_both.sh
  src/training/tool_verifier_training/train_parallel.sh
  src/training/tool_verifier_training/train_sentinel.py
  src/training/tool_verifier_training/train_tool_verifier.py
Owners: @rootfs, @Xunzhuo, @wangchen615

try fix integration test dynamic config test install kubectl fail
  .github/workflows/integration-test-dynamic-config.yml
Owners: @rootfs, @Xunzhuo

Adding new tests for reasoning filter
  src/semantic-router/pkg/extproc/req_filter_reason_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

e2e: add Response API basic operations tests
  e2e/README.md
  e2e/profiles/response-api/profile.go
  e2e/profiles/response-api/values.yaml
  e2e/testcases/response_api_basic.go
Owners: @rootfs, @Xunzhuo

ci: add Response API tests to Docker Compose CI
  .github/workflows/integration-test-docker.yml
  config/config.yaml
Owners: @rootfs, @Xunzhuo

review feedback
  bench/hallucination/README.md
  bench/hallucination/datasets.py
  bench/hallucination/evaluate.py
Owners: @yuezhu1, @Xunzhuo

feat: add configurable port support for Open WebUI iframe
  dashboard/frontend/src/pages/PlaygroundPage.tsx
  dashboard/frontend/src/vite-env.d.ts
Owners: @rootfs, @Xunzhuo

fix: regenerate package-lock.json with official npm registry
  dashboard/frontend/package-lock.json
Owners: @rootfs, @Xunzhuo

Sponsor: Add AMD Partnership
  README.md
  website/static/img/amd-logo.svg
Owners: @rootfs, @Xunzhuo

Sponsor: Add AMD Partnership Blog
  website/blog/2025-12-10-amd.md
  website/static/img/amd-vsr.png
Owners: @Xunzhuo

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Owners: @rootfs, @Xunzhuo

add fin benchmark
  bench/hallucination/__init__.py
  bench/hallucination/datasets.py
Owners: @yuezhu1, @Xunzhuo

feat: All-in-One Docker image for single-container
  Dockerfile.all-in-one
  deploy/all-in-one/config.all-in-one.yaml
  deploy/all-in-one/entrypoint-all-in-one.sh
  deploy/all-in-one/envoy.template.yaml
  deploy/all-in-one/grafana-dashboard.yaml
  deploy/all-in-one/grafana-datasource.yaml
  deploy/all-in-one/prometheus.yaml
  deploy/all-in-one/supervisord.all-in-one.conf
  deploy/all-in-one/vllm_semantic_router_pipe.py
Owners: @rootfs, @Xunzhuo

🔧 chore(docker): simplify base images and remove Chinese mirrors from Dockerfile.all-in-one
  Dockerfile.all-in-one
Owners: @rootfs, @Xunzhuo

🤖 ci: add workflow for all-in-one multi-arch Docker build
  .github/workflows/docker-all-in-one.yml
Owners: @rootfs, @Xunzhuo

📝 docs(all-in-one): add all-in-one deployment README.md
  deploy/all-in-one/README.md
Owners: @rootfs, @Xunzhuo

💄 style(deploy): add shellcheck disable comment for envsubst line
  deploy/all-in-one/entrypoint-all-in-one.sh
Owners: @rootfs, @Xunzhuo

🔧 chore(ci): improve disk space cleanup in docker workflow using action
  .github/workflows/docker-all-in-one.yml
Owners: @rootfs, @Xunzhuo

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Owners: @rootfs, @Xunzhuo

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo
