Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo

review feedback
  src/semantic-router/pkg/cache/hybrid_cache.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/cache/simd_benchmark_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

review feedback
  src/semantic-router/pkg/cache/hybrid_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

review feedback
  src/semantic-router/pkg/cache/comprehensive_benchmark_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: Fix duplicate UNIFIED_CLASSIFIER definition and optimize lock contention
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
Owners: @rootfs, @Xunzhuo

Fix: The caller information points to the wrapper function instead of the actual call location
  src/semantic-router/pkg/observability/logging.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: Fix duplicate UNIFIED_CLASSIFIER definition and optimize lock contention (#516)
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
Owners: @rootfs, @Xunzhuo

feat:unit tests for candle refactoring (#296)
  candle-binding/Cargo.toml
  candle-binding/src/classifiers/lora/intent_lora_test.rs
  candle-binding/src/classifiers/lora/mod.rs
  candle-binding/src/classifiers/lora/pii_lora_test.rs
  candle-binding/src/classifiers/lora/security_lora_test.rs
  candle-binding/src/classifiers/lora/token_lora_test.rs
  candle-binding/src/classifiers/mod.rs
  candle-binding/src/classifiers/traditional/batch_processor_test.rs
  candle-binding/src/classifiers/traditional/mod.rs
  candle-binding/src/classifiers/traditional/modernbert_classifier_test.rs
  candle-binding/src/classifiers/unified_test.rs
  candle-binding/src/core/config_loader_test.rs
  candle-binding/src/core/mod.rs
  candle-binding/src/core/unified_error_test.rs
  candle-binding/src/ffi/classify_test.rs
  candle-binding/src/ffi/memory_safety_test.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/lib.rs
  candle-binding/src/model_architectures/config.rs
  candle-binding/src/model_architectures/lora/bert_lora_test.rs
  candle-binding/src/model_architectures/lora/mod.rs
  candle-binding/src/model_architectures/mod.rs
  candle-binding/src/model_architectures/model_factory_test.rs
  candle-binding/src/model_architectures/routing_test.rs
  candle-binding/src/model_architectures/traditional/base_model_test.rs
  candle-binding/src/model_architectures/traditional/bert_test.rs
  candle-binding/src/model_architectures/traditional/mod.rs
  candle-binding/src/model_architectures/traditional/modernbert_test.rs
  candle-binding/src/model_architectures/unified_interface_test.rs
  candle-binding/src/test_fixtures.rs
  candle-binding/src/utils/memory.rs
  tools/make/build-run-test.mk
  tools/make/common.mk
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

fix:Improve rust unit test and optimize concurrent tests with rayon (#471)
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/core/mod.rs
  candle-binding/src/core/similarity_test.rs
  candle-binding/src/core/tokenization_test.rs
  candle-binding/src/ffi/init_test.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/ffi/state_manager_test.rs
  candle-binding/src/ffi/validation_test.rs
  candle-binding/src/model_architectures/lora/lora_adapter_test.rs
  candle-binding/src/model_architectures/lora/mod.rs
Owners: @rootfs, @Xunzhuo

fix: resolve syntax errors after rebase
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/api/server.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix:Implement Comprehensive Rayon Parallelization for LoRA Classifiers (#464)
  candle-binding/Cargo.toml
  candle-binding/src/classifiers/lora/intent_lora.rs
  candle-binding/src/classifiers/lora/mod.rs
  candle-binding/src/classifiers/lora/parallel_engine.rs
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/classifiers/lora/pii_lora.rs
  candle-binding/src/classifiers/lora/security_lora.rs
  candle-binding/src/model_architectures/embedding/qwen3_embedding_test.rs
  candle-binding/src/model_architectures/lora/bert_lora.rs
  candle-binding/src/model_architectures/traditional/base_model.rs
Owners: @rootfs, @Xunzhuo

Change label count params to c_int (#494)
  candle-binding/src/ffi/init.rs
Owners: @rootfs, @Xunzhuo

add additional update
  candle-binding/Cargo.lock
Owners: @rootfs, @Xunzhuo

update embedding setting in config (#489)
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/src/model_architectures/embedding/qwen3_embedding.rs
  config/config.yaml
  deploy/kubernetes/config.yaml
  deploy/openshift/config-openshift.yaml
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/filter_types.go
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/caching_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/test_utils_test.go
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo, @wangchen615

make CUDA and Flash Attention 2 optional features (#511)
  candle-binding/Cargo.toml
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

fix: Fix duplicate UNIFIED_CLASSIFIER definition and optimize lock contention (#516)
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
Owners: @rootfs, @Xunzhuo

Milvus initial connection and test
  config/config.e2e.yaml
  config/config.yaml
  src/semantic-router/pkg/vectordb/milvus_vectordb.go
  src/semantic-router/pkg/vectordb/milvus_vectordb_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat: add support for MoM model (#474)
  config/config.development.yaml
  config/config.yaml
  dashboard/frontend/src/pages/LandingPage.tsx
  src/semantic-router/pkg/api/server.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/extproc/request_handler.go
  tools/openwebui-pipe/vllm_semantic_router_pipe.py
  website/docs/api/router.md
  website/docs/installation/installation.md
  website/docs/installation/kubernetes.md
  website/docs/tutorials/intelligent-route/reasoning.md
  website/docs/tutorials/semantic-cache/in-memory-cache.md
  website/docs/tutorials/semantic-cache/milvus-cache.md
  website/src/components/ChainOfThoughtTerminal.tsx
  website/src/components/TypewriterCode.tsx
Owners: @rootfs, @Xunzhuo, @wangchen615

project: add preview for mom request (#475)
  README.md
  website/static/img/code-with-words.png
  website/static/img/code.png
Owners: @rootfs, @Xunzhuo

Openshift dashboard clean (#469)
  deploy/openshift/dashboard/PlaygroundPage.tsx.patch
  deploy/openshift/dashboard/README.md
  deploy/openshift/dashboard/build-custom-dashboard.sh
  deploy/openshift/dashboard/dashboard-deployment.yaml
Owners: @rootfs, @Xunzhuo

chore: limit make test to minimal model download (#472)
  tools/make/build-run-test.mk
Owners: @rootfs, @Xunzhuo

fix: Fix duplicate UNIFIED_CLASSIFIER definition and optimize lock contention (#516)
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
Owners: @rootfs, @Xunzhuo

feat: add knob for /v1/models to control if respond real models. (#476)
  .github/workflows/docker-publish.yml
  examples/mcp-classifier-server/bench/data/mmlu_pro_categories.json
  examples/mcp-classifier-server/bench/data/mmlu_pro_test.csv
  examples/mcp-classifier-server/bench/data/regex_categories.json
  examples/mcp-classifier-server/bench/data/regex_test.csv
Owners: @rootfs, @Xunzhuo

Change label count params to c_int (#494)
  candle-binding/src/ffi/init.rs
Owners: @rootfs, @Xunzhuo

feat: add HuggingChat support (#477)
  dashboard/backend/config/config.go
  dashboard/backend/handlers/config.go
  dashboard/backend/handlers/health.go
  dashboard/backend/handlers/static.go
  dashboard/backend/handlers/tools.go
  dashboard/backend/main.go
  dashboard/backend/middleware/cors.go
  dashboard/backend/proxy/proxy.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/HuggingChatPage.tsx
  deploy/docker-compose/docker-compose.yml
  src/semantic-router/pkg/api/server.go
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat: enforce milvus dial timeout if set (#503)
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/milvus_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

project: 2025 Q4 roadmap (#487)
  website/blog/2025-10-20-q4-roadmap-iris.md
  website/src/css/custom.css
  website/static/img/q4.png
Owners: @Xunzhuo

project: add q4 roadmap news (#495)
  README.md
Owners: @rootfs, @Xunzhuo

feat: add knob for /v1/models to control if respond real models. (#476)
  .gitignore
  config/config.yaml
  src/semantic-router/pkg/api/server.go
  src/semantic-router/pkg/api/server_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/models_endpoint_test.go
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

add additional update
  candle-binding/Cargo.lock
Owners: @rootfs, @Xunzhuo

Allow jailbreak detection and threshold to be configured at the category level (#508)
  README.md
  config/config.yaml
  config/examples/jailbreak_category_example.yaml
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/utils/classification/classifier.go
  src/training/training_lora/classifier_model_fine_tuning_lora/go.mod
  src/training/training_lora/pii_model_fine_tuning_lora/go.mod
  src/training/training_lora/prompt_guard_fine_tuning_lora/go.mod
  website/docs/installation/configuration.md
  website/docs/overview/categories/configuration.md
  website/docs/tutorials/content-safety/jailbreak-protection.md
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: resolve syntax errors after rebase
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/api/server.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix:Improve rust unit test and optimize concurrent tests with rayon (#471)
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/core/mod.rs
  candle-binding/src/core/similarity_test.rs
  candle-binding/src/core/tokenization_test.rs
  candle-binding/src/ffi/init_test.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/ffi/state_manager_test.rs
  candle-binding/src/ffi/validation_test.rs
  candle-binding/src/model_architectures/lora/lora_adapter_test.rs
  candle-binding/src/model_architectures/lora/mod.rs
Owners: @rootfs, @Xunzhuo

fix: fix precommit Argument list too long error (#502)
  tools/make/pre-commit.mk
Owners: @rootfs, @Xunzhuo

fix missing shellcheck in pre-commit image (#497)
  Dockerfile.precommit
Owners: @rootfs, @Xunzhuo

update embedding setting in config (#489)
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/src/model_architectures/embedding/qwen3_embedding.rs
  config/config.yaml
  deploy/kubernetes/config.yaml
  deploy/openshift/config-openshift.yaml
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/filter_types.go
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/caching_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/test_utils_test.go
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo, @wangchen615

Allow semantic cache similarity threshold to be set at the category level (#493)
  config/config.development.yaml
  config/config.e2e.yaml
  config/config.production.yaml
  config/config.recipe-accuracy.yaml
  config/config.recipe-latency.yaml
  config/config.recipe-token-efficiency.yaml
  config/config.testing.yaml
  config/config.yaml
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/extproc/caching_test.go
  src/semantic-router/pkg/extproc/request_handler.go
  website/docs/installation/configuration.md
  website/docs/tutorials/semantic-cache/in-memory-cache.md
  website/docs/tutorials/semantic-cache/overview.md
Owners: @rootfs, @Xunzhuo, @wangchen615

Allow PII detection threshold to be set at the category level (#510)
  config/examples/pii_category_example.yaml
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/utils/classification/classifier.go
  website/docs/overview/categories/configuration.md
  website/docs/tutorials/content-safety/pii-detection.md
Owners: @rootfs, @Xunzhuo, @wangchen615

feat(demo): enhance OpenShift demo scripts with improved UX (#478)
  deploy/openshift/demo/demo-semantic-router.py
  deploy/openshift/demo/live-semantic-router-logs.sh
Owners: @rootfs, @Xunzhuo

make CUDA and Flash Attention 2 optional features (#511)
  candle-binding/Cargo.toml
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

Add IETF draft publication: Multi-Provider Extensions for Agentic AI Inference APIs (#506)
  website/src/pages/publications.js
Owners: @Xunzhuo
