Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo

update embedding setting in config (#489)
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/src/model_architectures/embedding/qwen3_embedding.rs
  config/config.yaml
  deploy/kubernetes/config.yaml
  deploy/openshift/config-openshift.yaml
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/filter_types.go
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/caching_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/test_utils_test.go
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: Fix duplicate UNIFIED_CLASSIFIER definition and optimize lock contention (#516)
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
Owners: @rootfs, @Xunzhuo

make CUDA and Flash Attention 2 optional features (#511)
  candle-binding/Cargo.toml
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

Merge main to candle refactoring (#523)
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  config/config.yaml
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo, @wangchen615

get rig of api test for now
  .github/workflows/k8s-api-functionality-test.yml
  .github/workflows/k8s-integration-test.yml
  .github/workflows/k8s-kind-integration-test.yml
Owners: @rootfs, @Xunzhuo

chore: fix unit test
  src/semantic-router/pkg/config/config_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix go vet
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/inmemory_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix ci
  .github/workflows/test-and-build.yml
Owners: @rootfs, @Xunzhuo

fix ci
  tools/make/build-run-test.mk
  tools/make/golang.mk
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

split test-binding to two stages on ci
  tools/make/build-run-test.mk
  tools/make/models.mk
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

ignore test failure due to embeddinggemma restriction
  tools/make/models.mk
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

reorder ci test sequences to avoid missing models
  tools/make/build-run-test.mk
Owners: @rootfs, @Xunzhuo

chore: fix unit test (#527)
  .github/workflows/test-and-build.yml
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/config/config_test.go
  tools/make/build-run-test.mk
  tools/make/golang.mk
  tools/make/models.mk
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo, @wangchen615

refactor: Replace lazy_static with OnceLock for zero-cost concurrent reads based on review https://github.com/vllm-project/semantic-router/pull/266#discussion_r2448751956
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
  candle-binding/src/ffi/memory_safety.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/ffi/oncelock_concurrent_test.rs
  candle-binding/src/ffi/similarity.rs
  candle-binding/src/ffi/state_manager.rs
  candle-binding/src/ffi/tokenization.rs
  candle-binding/src/model_architectures/traditional/bert.rs
  candle-binding/src/model_architectures/traditional/modernbert.rs
Owners: @rootfs, @Xunzhuo

update tests
  candle-binding/src/ffi/init.rs
  candle-binding/src/ffi/oncelock_concurrent_test.rs
Owners: @rootfs, @Xunzhuo

refactor: Replace lazy_static with OnceLock for zero-cost concurrent reads based on review (#528)
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
  candle-binding/src/ffi/memory_safety.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/ffi/oncelock_concurrent_test.rs
  candle-binding/src/ffi/similarity.rs
  candle-binding/src/ffi/state_manager.rs
  candle-binding/src/ffi/tokenization.rs
  candle-binding/src/model_architectures/traditional/bert.rs
  candle-binding/src/model_architectures/traditional/modernbert.rs
Owners: @rootfs, @Xunzhuo

chore: fix lint error
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/api/server.go
Owners: @rootfs, @Xunzhuo, @wangchen615

chore: fix lint error (#530)
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/api/server.go
Owners: @rootfs, @Xunzhuo, @wangchen615

chore: fix lint error
  src/semantic-router/pkg/api/server.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Fix lint error2 (#531)
  src/semantic-router/pkg/api/server.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: fix ns error
  tools/make/helm.mk
  tools/make/linter.mk
Owners: @rootfs, @Xunzhuo

webiste: add scroll top btn
  website/src/components/ScrollToTop/index.tsx
  website/src/components/ScrollToTop/styles.module.css
  website/src/theme/Root.tsx
Owners: @Xunzhuo

refactor: centralize legacy classifier initialization for router
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/services/classification.go
Owners: @rootfs, @Xunzhuo, @wangchen615

chore: upgrade rust version to 1.90 in all related Dockerfiles
  Dockerfile.extproc
  Dockerfile.extproc.cross
Owners: @rootfs, @Xunzhuo

Add more News Blogs
  website/src/pages/news.js
Owners: @Xunzhuo

refactor k8s ci
  .github/actions/cleanup-disk/action.yml
  .github/actions/setup-kubetools/action.yml
  .github/workflows/k8s-config-test.yml
  .github/workflows/k8s-kind-integration-test.yml
  .github/workflows/k8s-security-scan.yml
  .github/workflows/k8s-shared-config.yml
  .github/workflows/k8s-validate-manifests.yml
Owners: @rootfs, @Xunzhuo

move .github/actions to tools/github-action
  .github/workflows/k8s-config-test.yml
  .github/workflows/k8s-kind-integration-test.yml
  .github/workflows/k8s-security-scan.yml
  .github/workflows/k8s-validate-manifests.yml
  tools/github-action/cleanup-disk/action.yml
  tools/github-action/setup-kubetools/action.yml
Owners: @rootfs, @Xunzhuo

change one line to invoke CI
  deploy/kubernetes/README.md
Owners: @rootfs, @Xunzhuo

get rid of the extraline
  deploy/kubernetes/README.md
Owners: @rootfs, @Xunzhuo

fix(website/news): fix the author name for decoding semantic router blog
  website/src/pages/news.js
Owners: @Xunzhuo

tools support
  src/semantic-router/pkg/extproc/mapping_responses.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix config/config.yaml error
  config/config.yaml
Owners: @rootfs, @Xunzhuo

response mapping init
  config/config.development.yaml
  config/config.yaml
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/mapping_responses.go
  src/semantic-router/pkg/extproc/mapping_responses_test.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/extproc/response_handler.go
  website/docs/api/router.md
Owners: @rootfs, @Xunzhuo, @wangchen615

streaming support
  src/semantic-router/pkg/extproc/mapping_responses.go
  src/semantic-router/pkg/extproc/mapping_responses_test.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/extproc/response_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

get detailed CI logs
  .github/workflows/test-and-build.yml
Owners: @rootfs, @Xunzhuo

observability support
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/extproc/response_handler.go
  src/semantic-router/pkg/metrics/metrics.go
Owners: @rootfs, @Xunzhuo, @wangchen615

skip tool use in CI test
  .github/workflows/test-and-build.yml
  src/semantic-router/pkg/extproc/mapping_responses_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

refine unit test
  src/semantic-router/pkg/extproc/mapping_responses_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

add 2 more metric to grafana panel
  deploy/docker-compose/addons/llm-router-dashboard.json
Owners: @rootfs, @Xunzhuo

fix typo
  deploy/docker-compose/addons/llm-router-dashboard.json
Owners: @rootfs, @Xunzhuo
