Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

docs: Add the tag to the unclear mermaid diagrams (#398)
  website/docs/intro.md
  website/docs/overview/mixture-of-models.md
  website/docs/overview/semantic-router-overview.md
  website/docs/proposals/nvidia-dynamo-integration.md
  website/docs/proposals/prompt-classification-routing.md
Owners: @Xunzhuo

Move files to new directory
  src/training/multitask_wiki_classifier_training.py
  src/training/wiki_filtered_classifier_tuning/multitask_alert_filtered_wiki_classifier_training.py
Owners: @rootfs, @Xunzhuo, @wangchen615

infra: add tx and tsx support for precommit hook (#403)
  .pre-commit-config.yaml
Owners: @rootfs, @Xunzhuo

docs: add missing observability articles to sidebar (#412)
  website/docs/tutorials/observability/metrics.md
  website/docs/tutorials/observability/tracing-quickstart.md
  website/docs/tutorials/semantic-cache/in-memory-cache.md
  website/docs/tutorials/semantic-cache/milvus-cache.md
  website/sidebars.ts
Owners: @Xunzhuo

chore: clean-up unused diagrams (#386)
  website/docs/category_accuracies.png
  website/docs/code.png
  website/docs/grafana_screenshot.png
  website/docs/logo-black.png
  website/docs/logo.png
  website/static/img/logo-black.png
  website/static/img/logo.png
  website/static/img/undraw_docusaurus_mountain.svg
  website/static/img/undraw_docusaurus_react.svg
  website/static/img/undraw_docusaurus_tree.svg
Owners: @Xunzhuo

refactor(config): move reasoning fields from Category to ModelScore (#414)
  config/config.e2e.yaml
  dashboard/frontend/src/pages/ConfigPage.tsx
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/reason_mode_config_test.go
  src/semantic-router/pkg/extproc/reason_mode_selector.go
  src/semantic-router/pkg/extproc/reasoning_integration_test.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/utils/classification/generic_category_mapping_test.go
  src/training/model_eval/result_to_config.py
Owners: @rootfs, @Xunzhuo, @wangchen615

feat(dashboard): add comprehensive configuration editing UI (#402)
  dashboard/backend/main.go
  dashboard/frontend/src/components/ConfigNav.tsx
  dashboard/frontend/src/components/EditModal.module.css
  dashboard/frontend/src/components/EditModal.tsx
  dashboard/frontend/src/pages/ConfigPage.module.css
  dashboard/frontend/src/pages/ConfigPage.tsx
  deploy/docker-compose/docker-compose.yml
Owners: @rootfs, @Xunzhuo

fix(make): mark model downloads with .downloaded sentinel (#309)
  tools/make/models.mk
Owners: @rootfs, @Xunzhuo

fix end of file space
  src/training/wiki_filtered_classifier_tuning/multitask_alert_filtered_wiki_classifier_training.py
Owners: @rootfs, @Xunzhuo, @wangchen615

wrote ragStrategy ragDecision logic
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/rag_mode_selector.go
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix end of file space
  src/training/wiki_filtered_classifier_tuning/multitask_alert_filtered_wiki_classifier_training.py
Owners: @rootfs, @Xunzhuo, @wangchen615

feat: add mcp classification server doc and example embedding based mcp classification server
  examples/mcp-classifier-server/README.md
  examples/mcp-classifier-server/requirements_embedding.txt
  examples/mcp-classifier-server/server_embedding.py
  examples/mcp-classifier-server/training_data.csv
  website/docs/tutorials/mcp-classification/overview.md
  website/docs/tutorials/mcp-classification/protocol.md
Owners: @rootfs, @Xunzhuo

fix broken link
  website/docs/tutorials/mcp-classification/protocol.md
Owners: @Xunzhuo

fix doc escape error
  website/docs/tutorials/mcp-classification/overview.md
  website/docs/tutorials/mcp-classification/protocol.md
Owners: @Xunzhuo

review feedback
  examples/mcp-classifier-server/README.md
  examples/mcp-classifier-server/server_embedding.py
  website/docs/tutorials/mcp-classification/protocol.md
Owners: @rootfs, @Xunzhuo

fix github issue
  src/training/wiki_filtered_classifier_tuning/multitask_alert_filtered_wiki_classifier_training.py
Owners: @rootfs, @Xunzhuo, @wangchen615

fix github issue
  src/training/wiki_filtered_classifier_tuning/multitask_alert_filtered_wiki_classifier_training.py
Owners: @rootfs, @Xunzhuo, @wangchen615

fix github issue
  src/training/wiki_filtered_classifier_tuning/multitask_alert_filtered_wiki_classifier_training.py
Owners: @rootfs, @Xunzhuo, @wangchen615

fix github issue
  src/training/wiki_filtered_classifier_tuning/multitask_alert_filtered_wiki_classifier_training.py
Owners: @rootfs, @Xunzhuo, @wangchen615

doc: add integration proposal for PS and SR
  website/docs/proposals/production-stack-integration.md
Owners: @Xunzhuo

fix github issue
  src/training/wiki_filtered_classifier_tuning/multitask_alert_filtered_wiki_classifier_training.py
Owners: @rootfs, @Xunzhuo, @wangchen615

style: format code with black and isort
  src/training/wiki_filtered_classifier_tuning/multitask_alert_filtered_wiki_classifier_training.py
Owners: @rootfs, @Xunzhuo, @wangchen615

fix doc
  website/docs/tutorials/mcp-classification/overview.md
Owners: @Xunzhuo

fix doc
  website/docs/tutorials/mcp-classification/overview.md
Owners: @Xunzhuo

fix doc
  website/docs/tutorials/mcp-classification/overview.md
Owners: @Xunzhuo

change codespell
  website/docs/proposals/production-stack-integration.md
Owners: @Xunzhuo

update docker compose readme
  deploy/docker-compose/README.md
Owners: @rootfs, @Xunzhuo

fix grafana & prometheus target
  tools/observability/grafana-datasource.yaml
  tools/observability/prometheus.yaml
Owners: @rootfs, @Xunzhuo

get rig of useless env
  deploy/docker-compose/docker-compose.yml
Owners: @rootfs, @Xunzhuo

delete dashboard/deploy
  dashboard/deploy/kubernetes/.gitkeep
  dashboard/deploy/kubernetes/deployment.yaml
  dashboard/deploy/local/.gitkeep
Owners: @rootfs, @Xunzhuo

delete useless comments
  tools/observability/grafana-datasource.yaml
  tools/observability/prometheus.yaml
Owners: @rootfs, @Xunzhuo

update dashboard/README
  dashboard/README.md
Owners: @rootfs, @Xunzhuo

Add sidebar
  website/docs/proposals/production-stack-integration.md
  website/sidebars.ts
Owners: @Xunzhuo

modify
  website/docs/proposals/production-stack-integration.md
Owners: @Xunzhuo

refactor(e2e): remove legacy mock/real vLLM test modes and Makefile targets
  e2e-tests/run_all_tests.py
  tools/make/build-run-test.mk
Owners: @rootfs, @Xunzhuo

feat(dashboard): enhance UI with collapsible sidebar, improved monitoring, and docker-compose updates
  README.md
  dashboard/backend/main.go
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/ConfigPage.module.css
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/MonitoringPage.module.css
  dashboard/frontend/src/pages/MonitoringPage.tsx
  dashboard/frontend/src/pages/PlaygroundPage.module.css
  dashboard/frontend/src/pages/PlaygroundPage.tsx
  deploy/docker-compose/addons/envoy.yaml
  deploy/docker-compose/addons/grafana-dashboard.yaml
  deploy/docker-compose/addons/grafana-datasource.yaml
  deploy/docker-compose/addons/grafana.ini
  deploy/docker-compose/addons/llm-router-dashboard.json
  deploy/docker-compose/addons/prometheus.yaml
  deploy/docker-compose/addons/vllm_semantic_router_pipe.py
  deploy/docker-compose/docker-compose.yml
Owners: @rootfs, @Xunzhuo

feat(quickstart): scaffold 10-minute demo workflow
  examples/quickstart/README.md
  examples/quickstart/config-quickstart.yaml
  examples/quickstart/quick-eval.sh
  examples/quickstart/quickstart.sh
  examples/quickstart/sample-data/README.md
  examples/quickstart/sample-data/arc-sample.jsonl
  examples/quickstart/sample-data/mmlu-sample.jsonl
  examples/quickstart/templates/README.md
Owners: @rootfs, @Xunzhuo

fix: stop returning expired in-memory cache hits
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

ux: add quickstart script
  README.md
  scripts/quickstart.sh
  tools/make/docker.mk
Owners: @rootfs, @Xunzhuo

deploy: update docker compose file
  tools/make/docker.mk
  website/docs/installation/docker-compose.md
  website/docs/tutorials/observability/metrics.md
Owners: @rootfs, @Xunzhuo

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo
