Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

add openwebui support
  dashboard/backend/.gitkeep
  deploy/docker-compose/addons/vllm_semantic_router_pipe.py
Owners: @rootfs, @Xunzhuo

feat(routing): Enhance keyword-based routing with logging and benchmarks
  src/semantic-router/pkg/utils/classification/benchmark_test.go
  src/semantic-router/pkg/utils/classification/keyword_classifier.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat(routing): Implement in-tree keyword-based routing
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/utils/classification/classifier.go
  src/semantic-router/pkg/utils/classification/keyword_classifier.go
  src/semantic-router/pkg/utils/classification/keyword_classifier_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

webiste: add scroll top btn (#535)
  website/src/components/ScrollToTop/index.tsx
  website/src/components/ScrollToTop/styles.module.css
  website/src/theme/Root.tsx
Owners: @Xunzhuo

chore: Improve keyword classifier error handling and tests
  src/semantic-router/pkg/utils/classification/keyword_classifier.go
  src/semantic-router/pkg/utils/classification/keyword_classifier_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix:No module named 'tests' error (#515)
  e2e-tests/04-cache-test.py
Owners: @rootfs

chore: Improve keyword classifier error handling and tests
  src/semantic-router/pkg/utils/classification/keyword_classifier.go
  src/semantic-router/pkg/utils/classification/keyword_classifier_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat(routing): Implement in-tree keyword-based routing
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/utils/classification/classifier.go
  src/semantic-router/pkg/utils/classification/keyword_classifier.go
  src/semantic-router/pkg/utils/classification/keyword_classifier_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat(routing): Enhance keyword-based routing with logging and benchmarks
  src/semantic-router/pkg/utils/classification/benchmark_test.go
  src/semantic-router/pkg/utils/classification/keyword_classifier.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat: add qwen3 lora adapter support in candle-binding
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/semantic-router.go
  candle-binding/semantic-router_test.go
  candle-binding/src/ffi/generative_classifier.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/model_architectures/generative/mod.rs
  candle-binding/src/model_architectures/generative/qwen3_multi_lora_classifier.rs
  candle-binding/src/model_architectures/generative/qwen3_with_lora.rs
  candle-binding/src/model_architectures/lora/lora_adapter.rs
  candle-binding/src/model_architectures/mod.rs
  candle-binding/tests/classification_output_demo.rs
  candle-binding/tests/qwen3_classification_api_test.rs
  examples/candle-binding/README.md
  examples/candle-binding/qwen3_example.go
  examples/candle-binding/qwen3_example.rs
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

support sharded models e.g. 8B
  candle-binding/src/model_architectures/generative/qwen3_multi_lora_classifier.rs
  examples/candle-binding/qwen3_example.go
  examples/candle-binding/qwen3_example.rs
Owners: @rootfs, @Xunzhuo

[vectordb] Add vectordb factory
  src/semantic-router/pkg/vectordb/vectordb_factory.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix:hnsw heap polarity
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/cache/inmemory_hnsw_internal_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: go-lint failures
  src/semantic-router/pkg/cache/inmemory_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

upgrade rust per suggestion
  .github/workflows/test-and-build.yml
Owners: @rootfs, @Xunzhuo

upate rust to 1.90 in precommit
  .github/workflows/pre-commit.yml
Owners: @rootfs, @Xunzhuo

fix markdown
  examples/candle-binding/README.md
Owners: @rootfs, @Xunzhuo

fix: /app/extproc-server: /lib64/libc.so.6: version GLIBC_2.39 not found
  Dockerfile
  Dockerfile.extproc
  Dockerfile.extproc.cross
  website/docs/troubleshooting/network-tips.md
Owners: @rootfs, @Xunzhuo

refactor: Optimize keyword classifier with preprocessed rules
  src/semantic-router/pkg/utils/classification/keyword_classifier.go
Owners: @rootfs, @Xunzhuo, @wangchen615

feat(routing): Enhance keyword classifier with robust error handling and operator validation
  src/semantic-router/pkg/utils/classification/benchmark_regex_test.go
  src/semantic-router/pkg/utils/classification/classifier.go
  src/semantic-router/pkg/utils/classification/keyword_classifier.go
  src/semantic-router/pkg/utils/classification/keyword_classifier_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

chore: Improve keyword classifier regex handling and tests
  src/semantic-router/pkg/utils/classification/benchmark_regex_test.go
  src/semantic-router/pkg/utils/classification/benchmark_test.go
  src/semantic-router/pkg/utils/classification/keyword_classifier.go
  src/semantic-router/pkg/utils/classification/keyword_classifier_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

chore: Fix benchmark tests to handle Classify return values
  src/semantic-router/pkg/utils/classification/benchmark_regex_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

chore: Fix gp-lint fmt and pre-commit
  src/semantic-router/pkg/utils/classification/keyword_classifier.go
  src/semantic-router/pkg/utils/classification/keyword_classifier_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

extend wait windows in the workflow
  .github/workflows/k8s-kind-integration-test.yml
Owners: @rootfs, @Xunzhuo

override readinessProbe via workflow kustomize patch
  .github/workflows/k8s-kind-integration-test.yml
  deploy/kubernetes/deployment.yaml
Owners: @rootfs, @Xunzhuo

feat(llm-katan): add CPU quantization for faster inference
  e2e-tests/llm-katan/README.md
  e2e-tests/llm-katan/llm_katan/cli.py
  e2e-tests/llm-katan/llm_katan/config.py
  e2e-tests/llm-katan/llm_katan/model.py
  e2e-tests/llm-katan/pyproject.toml
Owners: @rootfs

fix(llm-katan): apply black formatting with line-length=88
  e2e-tests/llm-katan/llm_katan/cli.py
  e2e-tests/llm-katan/llm_katan/config.py
  e2e-tests/llm-katan/llm_katan/model.py
Owners: @rootfs

feat: fix quickstart.sh script
  .github/workflows/quickstart-integration-test.yml
  config/config.yaml
  deploy/docker-compose/docker-compose.yml
  scripts/quickstart.sh
  tools/make/linter.mk
Owners: @rootfs, @Xunzhuo

add continous batch scheduler for qwen3 classification and benchmark
  bench/data/test_data.json
  bench/scripts/rust/candle-binding/continuous_batch_bench.rs
  bench/scripts/rust/candle-binding/pure_batch_inference_bench.rs
  candle-binding/Cargo.toml
  candle-binding/src/model_architectures/generative/continuous_batch_scheduler.rs
  candle-binding/src/model_architectures/generative/mod.rs
  candle-binding/src/model_architectures/generative/qwen3_multi_lora_classifier.rs
Owners: @yuezhu1, @Xunzhuo, @rootfs

verify continous batch results
  bench/scripts/rust/candle-binding/continuous_batch_bench.rs
  candle-binding/Cargo.toml
  candle-binding/src/model_architectures/generative/continuous_batch_scheduler.rs
Owners: @yuezhu1, @Xunzhuo, @rootfs

Fix regression to Istio deployment caused by recent commits
  deploy/kubernetes/istio/README.md
  deploy/kubernetes/istio/config.yaml
  deploy/kubernetes/istio/deployment.yaml
  deploy/kubernetes/istio/kustomization.yaml
  deploy/kubernetes/istio/pv-models.yaml
  deploy/kubernetes/istio/pvc.yaml
Owners: @rootfs, @Xunzhuo

add missing file
  bench/scripts/rust/candle-binding/verify_batch_accuracy.rs
Owners: @yuezhu1, @Xunzhuo

docs: Add keyword classifier configuration guide
  website/docs/overview/categories/configuration.md
  website/docs/overview/categories/keyword-configuration.md
  website/sidebars.ts
Owners: @Xunzhuo

refactor: Fix pre-commit
  website/docs/overview/categories/keyword-configuration.md
Owners: @Xunzhuo

chore: test gpt-oss-120b, nemotron and qwen3
  config/config.yaml
  deploy/docker-compose/docker-compose.yml
Owners: @rootfs, @Xunzhuo

chore: test gpt-oss-120b, nemotron and qwen3
  config/config.yaml
  deploy/docker-compose/docker-compose.yml
Owners: @rootfs, @Xunzhuo

[vectordb] Pass embedding service as option to vector DB backend
  src/semantic-router/pkg/vectordb/chroma_vectordb.go
  src/semantic-router/pkg/vectordb/chroma_vectordb_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: model original 8801
  config/config.yaml
Owners: @rootfs, @Xunzhuo

add qwen3 guard support
  candle-binding/semantic-router.go
  candle-binding/semantic-router_test.go
  candle-binding/src/ffi/generative_classifier.rs
  candle-binding/src/model_architectures/generative/mod.rs
  candle-binding/src/model_architectures/generative/qwen3_guard.rs
  examples/candle-binding/go.mod
  examples/candle-binding/qwen3_guard_example.go
Owners: @rootfs, @Xunzhuo

fix codespell
  tools/linter/codespell/.codespell.ignorewords
Owners: @rootfs, @Xunzhuo

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo
