Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

refine layout
  config/config.tracing.yaml
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
Owners: @rootfs, @Xunzhuo

revert golang.mk
  tools/make/golang.mk
Owners: @rootfs, @Xunzhuo

delete tracing quickstart
  website/docs/tutorials/observability/tracing-quickstart.md
Owners: @Xunzhuo

combine dashboard and openwebui to k8s/o11y
  deploy/kubernetes/observability/README.md
  deploy/kubernetes/observability/dashboard/configmap.yaml
  deploy/kubernetes/observability/dashboard/deployment.yaml
  deploy/kubernetes/observability/dashboard/service.yaml
  deploy/kubernetes/observability/ingress.yaml
  deploy/kubernetes/observability/kustomization.yaml
  deploy/kubernetes/observability/openwebui/deployment.yaml
  deploy/kubernetes/observability/pipelines/deployment.yaml
Owners: @rootfs, @Xunzhuo

update docker compose readme
  deploy/docker-compose/README.md
Owners: @rootfs, @Xunzhuo

align deploy/k8s README
  deploy/kubernetes/README.md
Owners: @rootfs, @Xunzhuo

generate ConfigMaps from source files
  deploy/kubernetes/observability/kustomization.yaml
  deploy/kubernetes/observability/pipelines/deployment.yaml
Owners: @rootfs, @Xunzhuo

add pipeline file to pipelines/
  deploy/kubernetes/observability/kustomization.yaml
  deploy/kubernetes/observability/pipelines/vllm_semantic_router_pipe.py
Owners: @rootfs, @Xunzhuo

optimize: optimize makefile target help
  tools/make/build-run-test.mk
  tools/make/common.mk
  tools/make/docker.mk
  tools/make/docs.mk
  tools/make/envoy.mk
  tools/make/golang.mk
  tools/make/kube.mk
  tools/make/linter.mk
  tools/make/milvus.mk
  tools/make/models.mk
  tools/make/observability.mk
  tools/make/openshift.mk
  tools/make/pre-commit.mk
  tools/make/rust.mk
Owners: @rootfs, @Xunzhuo

feat: add build-and-test and models
  tools/make/build-run-test.mk
  tools/make/models.mk
  tools/make/pre-commit.mk
Owners: @rootfs, @Xunzhuo

feat: standardize editor configs for cross-platform development
  .editorconfig
Owners: @rootfs, @Xunzhuo

fix
  .gitattributes
Owners: @rootfs, @Xunzhuo

fix: add newline
  .gitattributes
  .gitignore
  dashboard/OWNER
  deploy/openshift/Dockerfile.llm-katan
  deploy/openshift/cleanup-openshift.sh
  deploy/openshift/config-openshift.yaml
  deploy/openshift/deploy-to-openshift.sh
  deploy/openshift/deployment.yaml
  deploy/openshift/envoy-openshift.yaml
  deploy/openshift/kustomization.yaml
  deploy/openshift/openwebui/deploy-openwebui-on-openshift.sh
  deploy/openshift/openwebui/deployment.yaml
  deploy/openshift/openwebui/kustomization.yaml
  deploy/openshift/openwebui/pvc.yaml
  deploy/openshift/openwebui/route.yaml
  deploy/openshift/openwebui/service.yaml
  deploy/openshift/openwebui/uninstall-openwebui.sh
  deploy/openshift/template.yaml
  e2e-tests/llm-katan/.gitignore
  e2e-tests/llm-katan/demo-embed.html
  e2e-tests/llm-katan/pyproject.toml
  e2e-tests/llm-katan/terminal-demo.html
  e2e-tests/start-llm-katan.sh
  scripts/quickstart.sh
  src/OWNER
  src/training/training_lora/OWNER
  src/training/training_lora/classifier_model_fine_tuning_lora/go.mod
  src/training/training_lora/classifier_model_fine_tuning_lora/train_cpu_optimized.sh
  src/training/training_lora/pii_model_fine_tuning_lora/go.mod
  src/training/training_lora/pii_model_fine_tuning_lora/train_cpu_optimized.sh
  src/training/training_lora/prompt_guard_fine_tuning_lora/go.mod
  src/training/training_lora/prompt_guard_fine_tuning_lora/train_cpu_optimized.sh
  tools/linter/go/.golangci.yml
  tools/make/milvus.mk
  tools/make/openshift.mk
  website/src/components/ZoomableMermaid/styles.module.css
Owners: @rootfs, @Xunzhuo, @wangchen615

chore: update command
  tools/make/build-run-test.mk
Owners: @rootfs, @Xunzhuo

get rig of isort to make python related pre-commit run stable
  .pre-commit-config.yaml
  pyproject.toml
Owners: @rootfs, @Xunzhuo

add open math reasoning dataset for training
  bench/vllm_semantic_router_bench/dataset_implementations/openmathrreasoning_dataset.py
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora.py
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora_no_leakage.py
  src/training/training_lora/mmlu_pro_solver_lora/train_all_specialists_no_leakage.sh
Owners: @yuezhu1, @Xunzhuo, @rootfs, @wangchen615

add test mode to compare baseline and trained models
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora_no_leakage.py
Owners: @rootfs, @Xunzhuo, @wangchen615

fix:add binary attributes for image files to prevent line ending conversion
  .gitattributes
Owners: @rootfs, @Xunzhuo

project: add news section in readme
  README.md
Owners: @rootfs, @Xunzhuo

project: add ack oss projects
  website/src/components/AcknowledgementsSection/data.json
  website/static/img/acknowledgements/grafana-logo.png
  website/static/img/acknowledgements/grafana.png
  website/static/img/acknowledgements/jaeger-logo.png
  website/static/img/acknowledgements/jaeger.png
  website/static/img/acknowledgements/milvus.svg
  website/static/img/acknowledgements/opentelemetry-logo.png
  website/static/img/acknowledgements/opentelemetry.png
  website/static/img/acknowledgements/openwebui.svg
  website/static/img/acknowledgements/prometheus-logo.png
  website/static/img/acknowledgements/prometheus.png
Owners: @Xunzhuo

more
  website/static/img/acknowledgements/grafana-logo.jpg
  website/static/img/acknowledgements/grafana-logo.png
  website/static/img/acknowledgements/grafana.png
  website/static/img/acknowledgements/jaeger-logo.jpg
  website/static/img/acknowledgements/jaeger-logo.png
  website/static/img/acknowledgements/jaeger.png
  website/static/img/acknowledgements/opentelemetry-logo.jpg
  website/static/img/acknowledgements/opentelemetry-logo.png
  website/static/img/acknowledgements/opentelemetry.png
  website/static/img/acknowledgements/prometheus-logo.jpg
  website/static/img/acknowledgements/prometheus-logo.png
  website/static/img/acknowledgements/prometheus.png
Owners: @Xunzhuo

more
  website/src/components/AcknowledgementsSection/data.json
Owners: @Xunzhuo

more
  website/src/components/AcknowledgementsSection/data.json
Owners: @Xunzhuo

Fix docker build for the mock-vllm component and wrong vsr_base_url in vLLM Semantic Router Pipe
  deploy/docker-compose/addons/vllm_semantic_router_pipe.py
  tools/mock-vllm/Dockerfile
Owners: @rootfs, @Xunzhuo

more
  website/blog/2025-10-16-mom-family.md
  website/src/css/custom.css
  website/static/img/mom-family.png
Owners: @Xunzhuo

more
  website/blog/2025-10-16-mom-family.md
Owners: @Xunzhuo

more
  website/blog/2025-10-16-mom-family.md
Owners: @Xunzhuo

more
  website/blog/2025-10-16-mom-family.md
Owners: @Xunzhuo

fix typo & comment out previous news & add Dashboard to Document
  README.md
Owners: @rootfs, @Xunzhuo

fix:Implement Comprehensive Rayon Parallelization for LoRA Classifiers
  candle-binding/Cargo.toml
  candle-binding/src/classifiers/lora/intent_lora.rs
  candle-binding/src/classifiers/lora/mod.rs
  candle-binding/src/classifiers/lora/parallel_engine.rs
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/classifiers/lora/pii_lora.rs
  candle-binding/src/classifiers/lora/security_lora.rs
  candle-binding/src/model_architectures/embedding/qwen3_embedding_test.rs
  candle-binding/src/model_architectures/lora/bert_lora.rs
  candle-binding/src/model_architectures/traditional/base_model.rs
Owners: @rootfs, @Xunzhuo

Fix typo in integration announcement date
  README.md
Owners: @rootfs, @Xunzhuo

fix:Implement Comprehensive Rayon Parallelization for LoRA Classifiers (#464)
  candle-binding/Cargo.toml
  candle-binding/src/classifiers/lora/intent_lora.rs
  candle-binding/src/classifiers/lora/mod.rs
  candle-binding/src/classifiers/lora/parallel_engine.rs
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/classifiers/lora/pii_lora.rs
  candle-binding/src/classifiers/lora/security_lora.rs
  candle-binding/src/model_architectures/embedding/qwen3_embedding_test.rs
  candle-binding/src/model_architectures/lora/bert_lora.rs
  candle-binding/src/model_architectures/traditional/base_model.rs
Owners: @rootfs, @Xunzhuo

use SFT trainer
  bench/vllm_semantic_router_bench/dataset_implementations/openmathrreasoning_dataset.py
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora_no_leakage.py
  src/training/training_lora/mmlu_pro_solver_lora/requirements.txt
Owners: @yuezhu1, @Xunzhuo, @rootfs, @wangchen615

use SFT trainer
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora_no_leakage.py
Owners: @rootfs, @Xunzhuo, @wangchen615

update k8s install docs
  website/docs/installation/kubernetes.md
Owners: @Xunzhuo

seperate core and llm-katan
  deploy/kubernetes/README.md
  deploy/kubernetes/base/kustomization.yaml
  deploy/kubernetes/deployment.katan.yaml
  deploy/kubernetes/deployment.yaml
  deploy/kubernetes/kustomization.yaml
  deploy/kubernetes/overlays/core/kustomization.yaml
  deploy/kubernetes/overlays/llm-katan/kustomization.yaml
Owners: @rootfs, @Xunzhuo

add llm-katan to k8s
  deploy/kubernetes/README.md
  deploy/kubernetes/config.yaml
  deploy/kubernetes/deployment.with-llm-katan.yaml
  deploy/kubernetes/kustomization.yaml
Owners: @rootfs, @Xunzhuo

expand pvc size & fix inference-pool selector error
  deploy/kubernetes/README.md
  deploy/kubernetes/ai-gateway/inference-pool/inference-pool.yaml
  deploy/kubernetes/pvc.yaml
  website/docs/installation/kubernetes.md
Owners: @rootfs, @Xunzhuo

chore: add docker makefile target help
  tools/make/docker.mk
  tools/make/kube.mk
Owners: @rootfs, @Xunzhuo

add docker-compose make help and more
  tools/make/docker.mk
  tools/make/milvus.mk
  tools/make/observability.mk
  tools/make/pre-commit.mk
Owners: @rootfs, @Xunzhuo

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo
