Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

fix: make PR comment step optional in performance workflow
  .github/workflows/performance-test.yml
Owners: @rootfs, @Xunzhuo

fix(docs): correct minor typos and formatting in documentation files
  CONTRIBUTING.md
  README.md
  website/docs/installation/docker-compose.md
  website/docs/installation/k8s/istio.md
  website/docs/installation/k8s/llm-d.md
  website/docs/proposals/production-stack-integration.md
Owners: @rootfs, @Xunzhuo

docs: add redis cache doc to sidebar
  website/sidebars.ts
Owners: @Xunzhuo

docs(milvus): improve troubleshooting section and monitoring script
  tools/milvus/README.md
  tools/milvus/test-milvus-deployment.sh
Owners: @rootfs, @Xunzhuo

docs: add AMD partnership blog post and sponsors section
  README.md
  website/blog/2025-12-10-amd.md
  website/static/img/amd-logo.png
  website/static/img/amd-vsr.png
Owners: @rootfs, @Xunzhuo

update
  README.md
  website/static/img/amd-logo.png
Owners: @rootfs, @Xunzhuo

update
  website/blog/2025-12-10-amd.md
Owners: @Xunzhuo

update
  website/blog/2025-12-10-amd.md
Owners: @Xunzhuo

Add fact_check_fine_tuning_lora directory
  src/training/training_lora/fact_check_fine_tuning_lora/README.md
  src/training/training_lora/fact_check_fine_tuning_lora/fact_check_bert_finetuning_lora.py
  src/training/training_lora/fact_check_fine_tuning_lora/setup_datasets.sh
Owners: @rootfs, @Xunzhuo, @wangchen615

feat(bench): Add reasoning mode evaluation benchmark (Issue #42)
  bench/README.md
  bench/pyproject.toml
  bench/reasoning_mode_eval.sh
  bench/vllm_semantic_router_bench/__init__.py
  bench/vllm_semantic_router_bench/cli.py
  bench/vllm_semantic_router_bench/reasoning_mode_eval.py
Owners: @yuezhu1, @Xunzhuo

feat(router): add OpenAI Response API support
  config/testing/config.response-api.yaml
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/req_filter_response_api.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/responseapi/id.go
  src/semantic-router/pkg/responseapi/store.go
  src/semantic-router/pkg/responseapi/translator.go
  src/semantic-router/pkg/responseapi/types.go
  src/semantic-router/pkg/responseapi/types_content.go
  src/semantic-router/pkg/responsestore/errors.go
  src/semantic-router/pkg/responsestore/factory.go
  src/semantic-router/pkg/responsestore/interface.go
  src/semantic-router/pkg/responsestore/memory_store.go
Owners: @rootfs, @Xunzhuo, @wangchen615

docs: add Router Memory guide for Response API
  website/docs/tutorials/intelligent-route/router-memory.md
  website/sidebars.ts
Owners: @Xunzhuo

feat(deployment): add startupProbe for slow model loading
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/values.yaml
  deploy/kubernetes/ai-gateway/semantic-router/deployment.yaml
Owners: @rootfs, @Xunzhuo

docs: simplify Router Memory guide with real examples
  website/docs/tutorials/intelligent-route/router-memory.md
Owners: @Xunzhuo

docs: add detailed request flow diagram to Router Memory guide
  website/docs/tutorials/intelligent-route/router-memory.md
Owners: @Xunzhuo

docs: add cross-model stateful conversation overview
  website/docs/tutorials/intelligent-route/router-memory.md
Owners: @Xunzhuo

update
  config/testing/config.response-api.yaml
Owners: @rootfs, @Xunzhuo

Move model storage to /mnt directory to prevent disk space issues
  .github/workflows/integration-test-docker.yml
  .github/workflows/integration-test-k8s.yml
  .github/workflows/test-and-build.yml
  e2e/pkg/cluster/kind.go
  src/semantic-router/pkg/classification/model_discovery.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix(training): correct Salad-Data column mapping for jailbreak LoRA training
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

fix(training): disable FP16 for jailbreak LoRA training to prevent gradient errors
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

fix(training): remove incorrect custom loss function for sequence classification
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

debug: disable gradient clipping and regularization to isolate nan gradient cause
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

fix(training): add modules_to_save for classifier head in jailbreak LoRA training
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

fix(training): resolve LoRA jailbreak NaN gradients with float32 and higher learning rate
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

feat(classifier): enable LoRA auto-detection for jailbreak classification
  candle-binding/src/classifiers/lora/security_lora.rs
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
  config/config.prompt_guard.vllm.yaml
  config/config.redis.yaml
  config/config.yaml
  config/intelligent-routing/in-tree/bert_classification.yaml
  config/intelligent-routing/in-tree/embedding.yaml
  config/intelligent-routing/in-tree/keyword.yaml
  config/observability/config.tracing.yaml
  config/prompt-guard/jailbreak_domain.yaml
  config/semantic-cache/config.hybrid.yaml
  config/testing/config.e2e.yaml
  config/testing/config.testing.yaml
  src/semantic-router/pkg/k8s/testdata/output/01-basic.yaml
  src/semantic-router/pkg/k8s/testdata/output/02-keyword-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/03-embedding-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/04-domain-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/05-keyword-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/06-keyword-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/07-domain-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/08-keyword-embedding-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/09-keyword-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/10-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/11-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/12-keyword-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/13-keyword-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/14-domain-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/15-keyword-embedding-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/16-keyword-embedding-domain-no-plugin.yaml
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: disable startupProbe in E2E tests to fix integration test failures
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/llm-d/values.yaml
  e2e/profiles/production-stack/values.yaml
  e2e/profiles/routing-strategies/values.yaml
Owners: @rootfs, @Xunzhuo

fix: ci failures
  src/semantic-router/pkg/classification/hallucination_test.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/extproc/hallucination_test.go
  src/semantic-router/pkg/k8s/testdata/output/01-basic.yaml
  src/semantic-router/pkg/k8s/testdata/output/02-keyword-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/03-embedding-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/04-domain-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/05-keyword-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/06-keyword-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/07-domain-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/08-keyword-embedding-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/09-keyword-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/10-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/11-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/12-keyword-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/13-keyword-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/14-domain-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/15-keyword-embedding-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/16-keyword-embedding-domain-no-plugin.yaml
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: ci failures
  e2e/profiles/ai-gateway/profile.go
  e2e/profiles/dynamic-config/profile.go
  e2e/profiles/istio/profile.go
  e2e/profiles/production-stack/profile.go
  e2e/profiles/routing-strategies/profile.go
Owners: @rootfs, @Xunzhuo

feat(e2e): Add Dynamo E2E test profile with GPU support
  .github/workflows/integration-test-k8s.yml
  config/intelligent-routing/in-tree/generic_categories.yaml
  deploy/kubernetes/dynamo/dynamo-resources/README.md
  deploy/kubernetes/dynamo/dynamo-resources/dynamo-graph-deployment.yaml
  deploy/kubernetes/dynamo/dynamo-resources/envoy-gateway-values.yaml
  deploy/kubernetes/dynamo/dynamo-resources/gwapi-resources.yaml
  deploy/kubernetes/dynamo/dynamo-resources/rbac.yaml
  deploy/kubernetes/dynamo/semantic-router-values/values.yaml
  deploy/kubernetes/dynamo/semantic-router/config.yaml
  deploy/kubernetes/istio/config.yaml
  deploy/kubernetes/istio/vLlama3.yaml
  deploy/kubernetes/istio/vPhi4.yaml
  deploy/openshift/openwebui/pvc.yaml
  e2e/cmd/e2e/main.go
  e2e/pkg/cluster/kind.go
  e2e/pkg/framework/runner.go
  e2e/pkg/helm/deployer.go
  e2e/profiles/dynamo/profile.go
  e2e/testcases/dynamo_dynamic_batching.go
  e2e/testcases/dynamo_gpu_utilization.go
  e2e/testcases/dynamo_health_check.go
  e2e/testcases/dynamo_optimized_inference.go
  e2e/testcases/dynamo_performance_comparison.go
  tools/make/e2e.mk
  tools/observability/prometheus.yaml
Owners: @rootfs, @Xunzhuo

Fix the perofrmacne test report
  .github/workflows/performance-nightly.yml
  .gitignore
  perf/scripts/update-baseline.sh
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Owners: @rootfs, @Xunzhuo

feat(llm-katan): Add Kubernetes deployment support
  deploy/kubernetes/llm-katan/README.md
  deploy/kubernetes/llm-katan/base/deployment.yaml
  deploy/kubernetes/llm-katan/base/kustomization.yaml
  deploy/kubernetes/llm-katan/base/namespace.yaml
  deploy/kubernetes/llm-katan/base/pvc.yaml
  deploy/kubernetes/llm-katan/base/service.yaml
  deploy/kubernetes/llm-katan/components/common/kustomization.yaml
  deploy/kubernetes/llm-katan/overlays/claude/kustomization.yaml
  deploy/kubernetes/llm-katan/overlays/gpt35/kustomization.yaml
  deploy/kubernetes/llm-katan/verify-deployment.sh
  e2e-tests/llm-katan/README.md
  e2e-tests/llm-katan/llm_katan/config.py
  e2e-tests/llm-katan/pyproject.toml
  tools/make/kube.mk
Owners: @rootfs, @Xunzhuo

feat: re-enable EmbeddingGemma-300m support
  .github/workflows/integration-test-docker.yml
  .github/workflows/integration-test-k8s.yml
  .github/workflows/performance-nightly.yml
  .github/workflows/performance-test.yml
  .github/workflows/test-and-build.yml
  candle-binding/semantic-router_test.go
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/values.yaml
  e2e/pkg/framework/runner.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/dynamic-config/values.yaml
  scripts/quickstart.sh
  tools/make/models.mk
Owners: @rootfs, @Xunzhuo

[Docs] Add new cookbook catewary and common errors to troubleshooting
  website/docs/cookbook/categories-configuration.md
  website/docs/cookbook/classifier-tuning.md
  website/docs/cookbook/pii-policy.md
  website/docs/cookbook/vllm-endpoints.md
  website/docs/troubleshooting/common-errors.md
  website/sidebars.ts
Owners: @Xunzhuo

refactor: delegate model downloading to a Python manager and externalize model configurations to YAML files.
  tools/make/models.mk
Owners: @rootfs, @Xunzhuo

feat: initial model manager with model caching, downloading, verification, configuration
  config/models.lora.yaml
  config/models.minimal.yaml
  config/models.yaml
  src/model_manager/__init__.py
  src/model_manager/__main__.py
  src/model_manager/cache.py
  src/model_manager/cli.py
  src/model_manager/config.py
  src/model_manager/conftest.py
  src/model_manager/downloader.py
  src/model_manager/errors.py
  src/model_manager/registry.py
  src/model_manager/test_cache.py
  src/model_manager/test_cli.py
  src/model_manager/test_downloader.py
  src/model_manager/test_registry.py
  src/model_manager/test_verifier.py
  src/model_manager/verifier.py
Owners: @rootfs, @Xunzhuo, @wangchen615

🔧 chore(linter): add 'ot' to codespell ignorewords list
  tools/linter/codespell/.codespell.ignorewords
Owners: @rootfs, @Xunzhuo

refactor: move model_manager tests to tests directory
  src/model_manager/requirements.txt
  src/model_manager/tests/__init__.py
  src/model_manager/tests/conftest.py
  src/model_manager/tests/test_cache.py
  src/model_manager/tests/test_cli.py
  src/model_manager/tests/test_downloader.py
  src/model_manager/tests/test_registry.py
  src/model_manager/tests/test_verifier.py
Owners: @rootfs, @Xunzhuo, @wangchen615

Fix duplicate 'panic' in logger level comment
  src/semantic-router/pkg/observability/logging/logging.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix(ci): use minimal models for nightly performance baseline
  .github/workflows/performance-nightly.yml
Owners: @rootfs, @Xunzhuo

move model_manager configs to config/models_manager/
  config/model_manager/models.lora.yaml
  config/model_manager/models.minimal.yaml
  config/model_manager/models.yaml
  src/model_manager/cli.py
  src/model_manager/tests/test_cli.py
  tools/make/models.mk
Owners: @rootfs, @Xunzhuo, @wangchen615

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo
