Repository vllm-project/semantic-router, changes with the owners that CODEOWNERS names for each.
All owners: @rootfs, @Xunzhuo, @wangchen615, @yuezhu1

CODEOWNERS:

# Root directory Owners

* @rootfs @Xunzhuo

## Subdirectory Owners

/src/ @rootfs @Xunzhuo @wangchen615

/e2e-tests/ @rootfs

/bench/ @yuezhu1 @Xunzhuo

/website/ @Xunzhuo

/deploy/ @rootfs @Xunzhuo

/config/ @rootfs @Xunzhuo

/candle-binding/ @rootfs @Xunzhuo

chore: help command for the makefile rollback
  tools/make/common.mk
Owners: @rootfs, @Xunzhuo

uodate configuration.md
  website/docs/overview/categories/configuration.md
Owners: @Xunzhuo

update lora-routing.md
  website/docs/tutorials/intelligent-route/lora-routing.md
Owners: @Xunzhuo

feat: add ci
  .github/workflows/helm-ci.yml
Owners: @rootfs, @Xunzhuo

fix: delete ci kind config
  .github/workflows/helm-ci.yml
  tools/kind/generate-kind-config.sh
Owners: @rootfs, @Xunzhuo

fix
  .github/workflows/helm-ci.yml
Owners: @rootfs, @Xunzhuo

fix
  .github/workflows/helm-ci.yml
Owners: @rootfs, @Xunzhuo

fix
  .github/workflows/helm-ci.yml
Owners: @rootfs, @Xunzhuo

feat: update init container download model time
  .github/workflows/helm-ci.yml
Owners: @rootfs, @Xunzhuo

fix
  deploy/helm/semantic-router/templates/deployment.yaml
Owners: @rootfs, @Xunzhuo

remove toleration
  deploy/kserve/inference-examples/inferenceservice-granite32-8b.yaml
  website/package-lock.json
Owners: @rootfs, @Xunzhuo

fix: correct HNSW frontier comparisons in hybrid cache
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/hybrid_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

[vectordb] Add missing configurations to vectordb factory
  src/semantic-router/pkg/vectordb/chroma_vectordb.go
  src/semantic-router/pkg/vectordb/chroma_vectordb_test.go
  src/semantic-router/pkg/vectordb/vectordb_factory.go
  src/semantic-router/pkg/vectordb/vectordb_interface.go
Owners: @rootfs, @Xunzhuo, @wangchen615

[config] Update RAG config
  src/semantic-router/pkg/config/config.go
Owners: @rootfs, @Xunzhuo, @wangchen615

[router] Intialize embedding services and RAG knowledge bases when initializing router
  src/semantic-router/pkg/extproc/router.go
Owners: @rootfs, @Xunzhuo, @wangchen615

[request handler] Handle errors from getRAGChunks
  src/semantic-router/pkg/extproc/request_handler.go
Owners: @rootfs, @Xunzhuo, @wangchen615

[rag] Implement rag_mode_selector.getRAGChunks
  src/semantic-router/pkg/extproc/rag_mode_selector.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Update config to test RAG
  config/config.yaml
Owners: @rootfs, @Xunzhuo

fix of deployment on openshift huggingface cli issues
  deploy/openshift/deployment.yaml
Owners: @rootfs, @Xunzhuo

fix: improve LoRA training stability and classifier learning
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
Owners: @rootfs, @Xunzhuo, @wangchen615

sync ps tutorial
  website/docs/tutorials/integration/production-stack-integration.md
Owners: @Xunzhuo

feat(llm-d): Test vsr+llm-d, add deployment guide
  deploy/kubernetes/istio/README.md
  deploy/kubernetes/llmd-base/README.md
  deploy/kubernetes/llmd-base/dest-rule-epp-llama.yaml
  deploy/kubernetes/llmd-base/dest-rule-epp-phi4.yaml
  deploy/kubernetes/llmd-base/httproute-llama-pool.yaml
  deploy/kubernetes/llmd-base/httproute-phi4-pool.yaml
  deploy/kubernetes/llmd-base/inferencepool-llama.yaml
  deploy/kubernetes/llmd-base/inferencepool-phi4.yaml
Owners: @rootfs, @Xunzhuo

fix(config): support DNS hostnames in vLLM endpoint validation
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/validator.go
Owners: @rootfs, @Xunzhuo, @wangchen615

docs: quick fixes for k8s setup
  deploy/kubernetes/deployment.yaml
  website/docs/installation/kubernetes.md
Owners: @rootfs, @Xunzhuo

fix ci
  deploy/helm/semantic-router/templates/deployment.yaml
Owners: @rootfs, @Xunzhuo

fix
  deploy/helm/semantic-router/templates/deployment.yaml
Owners: @rootfs, @Xunzhuo

add more log
  .github/workflows/helm-ci.yml
  deploy/helm/semantic-router/templates/deployment.yaml
Owners: @rootfs, @Xunzhuo

fix ci
  .github/workflows/helm-ci.yml
Owners: @rootfs, @Xunzhuo

fix ci
  deploy/helm/semantic-router/templates/deployment.yaml
Owners: @rootfs, @Xunzhuo

feat: add integration with vLLM AIBrix
  deploy/kubernetes/aibrix/aigw-resources/base-model.yaml
  deploy/kubernetes/aibrix/aigw-resources/gwapi-resources.yaml
  deploy/kubernetes/aibrix/semantic-router/config.yaml
  deploy/kubernetes/aibrix/semantic-router/deployment.yaml
  deploy/kubernetes/aibrix/semantic-router/kustomization.yaml
  deploy/kubernetes/aibrix/semantic-router/namespace.yaml
  deploy/kubernetes/aibrix/semantic-router/pv-models.yaml
  deploy/kubernetes/aibrix/semantic-router/service.yaml
  deploy/kubernetes/aibrix/semantic-router/tools_db.json
  tools/linter/codespell/.codespell.skip
  website/docs/installation/k8s/aibrix.md
  website/docs/installation/k8s/production-stack.md
  website/sidebars.ts
Owners: @rootfs, @Xunzhuo

fix: update BERT similarity model to all-MiniLM-L12-v2 and adapt tests for OnceLock
  candle-binding/semantic-router.go
  candle-binding/semantic-router_test.go
  candle-binding/src/ffi/init.rs
Owners: @rootfs, @Xunzhuo

fix:replace magic values, add safety docs, optimize locks
  candle-binding/src/classifiers/unified.rs
  candle-binding/src/ffi/classify.rs
Owners: @rootfs, @Xunzhuo

fix: resolve classify_unified_batch interior mutability issue
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/src/classifiers/unified.rs
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
Owners: @rootfs, @Xunzhuo

refactor: router core
  config/intelligent-routing/in-tree/keyword.yaml
  deploy/kubernetes/ai-gateway/semantic-router/config.yaml
  deploy/kubernetes/aibrix/semantic-router/config.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/keyword_entropy_test.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/model_selector.go
  src/semantic-router/pkg/extproc/processor_core.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/extproc/reason_mode_selector.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/req_filter_jailbreak.go
  src/semantic-router/pkg/extproc/req_filter_models.go
  src/semantic-router/pkg/extproc/req_filter_pii.go
  src/semantic-router/pkg/extproc/req_filter_reason.go
  src/semantic-router/pkg/extproc/req_filter_sys_prompt.go
  src/semantic-router/pkg/extproc/req_filter_tools.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/utils.go
Owners: @rootfs, @Xunzhuo, @wangchen615

Fix Milvus Vector Database Tests
  .github/workflows/test-and-build.yml
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/hybrid_cache.go
  src/semantic-router/pkg/cache/milvus_cache.go
  tools/make/build-run-test.mk
  tools/make/milvus.mk
Owners: @rootfs, @Xunzhuo, @wangchen615

fix: adjust timeout
  .github/workflows/helm-ci.yml
Owners: @rootfs, @Xunzhuo

expose the batch api
  candle-binding/batched_embedding.go
  candle-binding/semantic-router.go
  candle-binding/src/ffi/embedding.rs
  candle-binding/src/model_architectures/embedding/continuous_batch_scheduler.rs
  candle-binding/src/model_architectures/embedding/qwen3_batched.rs
  examples/candle-binding/README.md
  examples/candle-binding/qwen3_embedding_verification.go
  scripts/run-cache-benchmark.sh
  src/semantic-router/cmd/cache-benchmark/main.go
  src/semantic-router/pkg/cache/benchmark.go
  src/semantic-router/pkg/cache/inmemory_cache.go
Owners: @rootfs, @Xunzhuo, @wangchen615

fix
  .github/workflows/helm-ci.yml
Owners: @rootfs, @Xunzhuo

review feedback
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/src/ffi/embedding.rs
  candle-binding/src/model_architectures/embedding/continuous_batch_scheduler.rs
  examples/candle-binding/qwen3_embedding_benchmark.go
  src/semantic-router/pkg/cache/benchmark.go
Owners: @rootfs, @Xunzhuo, @wangchen615

review feedback
  candle-binding/Cargo.toml
  src/semantic-router/pkg/cache/benchmark.go
  src/semantic-router/pkg/cache/cache_test.go
Owners: @rootfs, @Xunzhuo, @wangchen615
